{% cache cache_duration, 'reuse-card', reuse.id|string, g.lang_code %}
<a
    class="fr-raw-link unstyled w-100 fr-grid-row fr-grid-row--center"
    href="{{ url_for('reuses.show', reuse=reuse, _external=True) }}"
    title="{{ reuse.title }}"
>
    <article class="reuse-card text-align-center fr-text--sm fr-my-0">
        <img
            class="reuse-image fr-mb-3v fr-responsive-img"
            src="{{ reuse.image|placeholder('reuse', external=True) }}"
            loading="lazy"
            alt=""
        />
        <div>
            {{ reuse.type_label }}
        </div>
        <div class="text-grey-300">
            {{ reuse.datasets|length or 0 }} {{ _('datasets') }}
        </div>
        <div>
            {{ reuse.title }}
            {% if reuse.private %}<span class="badge grey-300 fr-ml-1w">{{ _('Private') }}</span>{% endif %}
        </div>
    </article>
</a>

{% endcache %}
