{% from theme('macros/organization_name_with_certificate.html') import organization_name_with_certificate %}
{% cache cache_duration, 'reuse-card', reuse.id|string, g.lang_code %}
<article class="fr-card fr-card--no-icon fr-enlarge-link">
    <div class="fr-card__body">
        <div class="fr-card__content fr-p-2w">
            <h4 class="fr-card__title fr-text--md fr-mt-1w">
                <a
                    href="{{ url_for('reuses.show', reuse=reuse, _external=True) }}"
                >
                {{ reuse.title|mdstrip(55) }}
                {% if reuse.private %}<span class="fr-badge fr-ml-1w">{{ _('Private') }}</span>{% endif %}
                </a>
            </h4>
            <p class="fr-card__detail fr-m-0">
                {{ reuse.type_label }}
            </p>
            <p class="fr-card__desc fr-mt-1w text-mention-grey not-enlarged">
                {{ _('Published on %(date)s', date=reuse.created_at|dateformat(format='long')) }}
                {% if reuse.organization or reuse.owner %}
                    {{ _(' by ') }}
                    {% if reuse.organization %}
                    <a
                        href="{{ url_for('organizations.show', org=reuse.organization) }}"
                    >
                        {{organization_name_with_certificate(reuse.organization)}}
                    </a>
                    {% elif reuse.owner %}
                    {{owner_name(reuse)}}
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="fr-card__header">
        <div class="fr-card__img">
            <img
                class="fr-responsive-img"
                src="{{ reuse.image|placeholder('reuse', external=True) }}"
                loading="lazy"
                alt=""
            />
        </div>
    </div>
</article>
{% endcache %}
