{% cache cache_duration, 'reuse-card', reuse.id|string, g.lang_code %}

{# TODO : what was "preview" used for ? #}
<a class="unstyled w-100 block" href="{{ url_for('reuses.show', reuse=reuse, _external=True) }}" title="{{ reuse.title }}">
    <article class="reuse-card text-align-center px-sm">
        <div class="reuse-image mb-sm"
            style="background-image: url('{{ reuse.image|placeholder('reuse', external=True) }}')">
        </div>
        <div class="reuse-info">
            <div class="row-inline justify-between text-align-left">
                <div>
                    <span class="reuse-info-type fs-xs">
                        {{ reuse.type_label }}
                    </span>
                    <div class="reuse-info-amount fs-xs text-grey-300 mb-xs">
                        {{ reuse.datasets|length or 0 }} {{ _('datasets') }}
                    </div>
                </div>
                <div class="relative">
                    <span class="text-orange-100">{% include theme('svg/actions/star.svg') %}</span>
                    <span class="badge orange-100 ml-xxs py-xxxs px-xs">{{ reuse.metrics.followers or 0 }}</span>
                    <span class="visually-hidden">{{ _('favourites') }}</span>
                </div>
            </div>
            <div class="reuse-info-title h4">
                {{ reuse.title }}
                {% if reuse.private %}<span class="badge grey-300 ml-xs">{{ _('Private') }}</span>{% endif %}
            </div>
        </div>
    </article>
</a>

{% endcache %}
