{% extends theme('layouts/1-column.html') %}
{% from theme('macros/follow.html') import follow_btn with context %}
{% from theme('macros/integrate.html') import integrate_btn with context %}
{% from theme('macros/breadcrumb.html') import breadcrumb with context %}

{% set meta = {
    'title': reuse.title,
    'description': reuse.description|mdstrip(60)|forceescape,
    'image': reuse.image(external=True),
    'keywords': [_('reuse')] + reuse.tags,
    'robots': 'noindex, nofollow' if reuse.is_hidden else '',
} %}

{% set bundle = 'reuse' %}

{% set body_class = 'reuse-display' %}

{% set community_subtitle = _('Explore with %(certifier)s', certifier=config.SITE_TITLE ) %}

{% set read_only_mode = config['READ_ONLY_MODE'] %}

{% block extra_head %}
<link rel="canonical" href="{{ url_for('reuses.show', reuse=reuse) }}" />
<link rel="alternate" type="application/json+oembed" href="{{ url_for('api.oembed', url=reuse.external_url) }}"
    title="{{ reuse.title | urlencode }}" />
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ url_for('reuses.list') }}">{{ _('Reuses') }}</a></li>
<li class="active">{{ reuse.title }}</li>
{% endblock %}

{% block content %}
{{ breadcrumb(self,
    breadcrum_class=breadcrum_class,
    toolbar_class=toolbar_class
) }}

<section class="reuse-container">
    <header class="reuse-header container">
        {% if reuse.private %}
        <span class="big tag" title="{{ _('This reuse is private and will not be visible by other users') }}">
            {{ _('Private') }}
        </span>
        {% endif %}
        {% if reuse.deleted %}
        <div class="well-grey-100 well mb-sm">
            {{ _('This reuse has been deleted. This will be permanent in the next 24 hours') }}
        </div>
        {% endif %}

        <div class="row fr-mb-4w">
            <div class="col">
                <h1 class="fr-mb-0 fr-h1">
                    {{ reuse.title }}
                </h1>
                <p class="fr-mb-0">
                    {{ _('Published on %(date)s', date=reuse.created_at|dateformat(format='long')) }}
                </p>
            </div>
            <div class="col-auto fr-mt-1v row-inline align-items-end flex-direction-column">
                {{ follow_btn(reuse) }}
                {% if can_edit %}
                <a class="fr-btn fr-btn--secondary btn-secondary btn-secondary-grey-500 fr-mt-2w fr-fi-edit-line fr-btn--icon-left fr-displayed-sm"
                        href="{{ url_for('admin.index', path='reuse/{id}/'.format(id=reuse.id)) }}">{{ _('Modify reuse') }}</a>
                {% endif %}
            </div>
        </div>
    </header>

    <section class="reuse-image hagrid text-align-center">
        <img src="{{ reuse.image|placeholder('reuse') }}" class="mw-100" alt="" />
        <div>
            <a href="{{ reuse.url }}" rel="nofollow"
            class="btn-secondary btn-secondary-blue-400 fr-fi-eye-line fr-btn--icon-left fr-mt-4w">
                {{ _('See the reuse') }}
            </a>
        </div>
    </section>

    <section class="fr-grid-row fr-grid-row--gutters fr-mt-4w fr-mb-6w container">
        <div class="fr-col-12 fr-col-md-8">
            <div class="fr-tabs">
                <ul class="fr-tabs__list" role="tablist" aria-label="{{ _('Reuse informations') }}">
                    <li role="presentation">
                        <button id="tab-producer" class="fr-tabs__tab"
                                tabindex="0" role="tab" aria-selected="true" aria-controls="tab-producer-panel">
                            {{ _('Reuser') }}
                        </button>
                    </li>
                    <li role="presentation">
                        <button id="tab-metadata" class="fr-tabs__tab"
                                tabindex="-1" role="tab" aria-selected="false" aria-controls="tab-metadata-panel">
                            {{ _('Metadata') }}
                        </button>
                    </li>
                    <li role="presentation">
                        <button id="tab-actions" class="fr-tabs__tab"
                                tabindex="-1" role="tab" aria-selected="false" aria-controls="tab-actions-panel">
                            {{ _('Actions') }}
                        </button>
                    </li>
                </ul>
                <div id="tab-producer-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel"
                        aria-labelledby="tab-producer" tabindex="0">
                    {% if reuse.organization %}
                    {% with organization=reuse.organization, producer_type='organization' %}
                    {% include theme('organization/producer-summary.html') %}
                    {% endwith %}
                    {% elif reuse.owner %}
                    {% with organization=reuse.owner, producer_type='owner' %}
                    {% include theme('organization/producer-summary.html') %}
                    {% endwith %}
                    {% endif %}
                </div>
                <div id="tab-metadata-panel" class="fr-tabs__panel" role="tabpanel"
                        aria-labelledby="tab-metadata" tabindex="0">
                    {% if reuse.tags %}
                    <ul class="tags fr-mb-3v">
                        {% for tag in reuse.tags %}
                        <li>
                            {{ tag|truncate(35, True) }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-sm-4 fr-col-md-6 fr-col-lg-4">
                            <h2 class="subtitle">{{ _('Informations') }}</h2>
                            <dl class="metadata">
                                <dt>{{ _('Type') }}</dt>
                                    <dd>
                                        {{ reuse.type_label }}
                                    </dd>
                                <dt>{{ _('ID') }}</dt>
                                    <dd>
                                        {{reuse.id}}
                                    </dd>
                            </dl>
                        </div>
                        <div class="fr-col-12 fr-col-sm-4 fr-col-md-6 fr-col-lg-4">
                            <h2 class="subtitle">{{ _('Publication') }}</h2>
                            <dl class="metadata">
                                <dt>{{ _('Creation date') }}</dt>
                                <dd>{{ reuse.created_at|dateformat(format='long') }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div id="tab-actions-panel" class="fr-tabs__panel" role="tabpanel"
                        aria-labelledby="tab-actions" tabindex="0">
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-sm-6 vuejs">
                            <h2 class="subtitle">{{ _('Participate') }}</h2>
                            <a class="fr-btn fr-btn--secondary btn-secondary btn-secondary-grey-500 btn-with-arrow"
                                href="{{ url_for('admin.index', path='reuse/new/') }}">
                                {{ _('Add a reuse') }}
                            </a>
                            <a class="fr-btn fr-btn--secondary btn-secondary btn-secondary-grey-500 btn-with-arrow fr-mt-3v"
                                href="#"
                                @click.prevent="$bus.emit('discussions.startThread')">
                                {{ _('Contact the reuser') }}
                            </a>
                        </div>
                        <div class="fr-col-12 fr-col-sm-6">
                            <h2 class="subtitle">{{ _('Embed') }}</h2>
                            {{integrate_btn(reuse)}}
                            <h2 class="subtitle fr-mt-3w">{{ _('Permalink') }}</h2>
                            <div class="embed-wrapper">
                                <input readonly id="permalink" onClick="this.select();"
                                        value="{{ reuse.external_url }}" />
                                <label for="permalink" class="icon-copy" id="permalink-copy"
                                        data-clipboard-target="#permalink" title="Copy this">
                                    {% include theme('svg/copy.svg') %}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-md-4 fr-mt-5w">
            <nav class="fr-summary" role="navigation" aria-labelledby="fr-summary-title">
                <div class="fr-summary__title" id="fr-summary-title">{{ _('Summary') }}</div>
                <ol class="fr-summary__list">
                    <li>
                        <a class="fr-summary__link" href="#description">
                            {{ _('Description') }}
                        </a>
                    </li>
                    <li>
                        <a class="fr-summary__link" href="#used-datasets">
                            {{ _('Used datasets') }} <sup class="sup">{{reuse.datasets | length}}</sup>
                        </a>
                    </li>
                    <li>
                        <a class="fr-summary__link" href="#community-discussions">
                            {{ _('Discussions') }} <sup class="sup discussions-count">0</sup>
                        </a>
                    </li>
                    <li>
                        <a class="fr-summary__link" href="#more-reuses">
                            {{ _('More reuses') }}
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="bg-beige fr-py-5w">
        <div class="container vuejs">
            <h2 id="description" class="fr-h2 fr-mb-0">{{ _('Description') }}</h2>
            <read-more>
                {{ reuse.description|markdown }}
            </read-more>
        </div>
    </section>
    <section class="reuse-sources container overflow-visible my-lg">
        <div class="row-inline">
            <h2 id="used-datasets" class="fr-h2">
                {{ _('Used datasets') }}
                <sup>{{ reuse.datasets|length }}</sup>
            </h2>
        </div>
    <ul class="row">
        {% for dataset in reuse.datasets %}
        <li class="col-md-12 col-6">
            {% include theme('dataset/card.html') %}
        </li>
        {% endfor %}
    </ul>
    </section>
    <section class="community_container fr-pb-7w" id="community">
        <div class="container vuejs">
            <discussion-threads ref="discussions" subject-id="{{ reuse.id }}"
                subject-class="{{ reuse.__class__.__name__ }}">
                {% if reuse.organization %}
                    <p>{{ _('Discussion between the organization and the community about this reuse.') }}</p>
                {% elif reuse.owner %}
                    <p>{{ _('Discussion between the owner and the community about this reuse.') }}</p>
                {% endif %}
            </discussion-threads>
        </div>
    </section>
    <section class="reuse-xsell reuse-cards container py-hg">
        <h2 id="more-reuses" class="fr-h2">{{ _('More reuses') }}</h2>
        <ul class="row">
            {% for reuse in related_reuses %}
            {% set features = ['preview'] %}
            <li class="col-3 col-md-6">
                {% include theme('reuse/card.html') %}
            </li>
            {% endfor %}
        </ul>
    </section>
</section>
{% endblock %}
