<div class="card">
    <a class="card-logo" href="{{ url_for('organizations.show', org=organization) }}">
        <img alt="{{ organization.title }}"
            src="{{ organization.image_url|placeholder('organization') }}">
    </a>
    {% if organization.public_service %}
    <img src="{{ theme_static('img/certified-stamp.png') }}" alt="certified"
        class="certified" rel="popover"
        data-title="{{ _('Certified public service') }}"
        data-content="{{ _('The identity of this public service public is certified by Etalab') }}"
        data-container="body" data-trigger="hover"/>
    {% endif %}
    <div class="card-body ellipsis-dot">
        <h4>
            <a href="{{ url_for('organizations.show', org=organization) }}" title="{{organization.name}}">
                {{ organization.name }}
            </a>
        </h4>
        <div class="card-description">{{ organization.description|default('', true)|markdown|striptags|truncate(250) }}</div>

    </div>
    <footer>
        <ul class="col-xs-9 col-sm-10">
            {% if organization.metrics.datasets %}
            <li>
                <a class="btn btn-xs" rel="tooltip" data-placement="top"
                    title="{{ _('Number of datasets') }}">
                    <span class="{{ ficon('fa-cubes') }}"></span>
                    {{ ngettext('%(num)s dataset', '%(num)s datasets', organization.metrics.datasets or 0) }}
                </a>
            </li>
            {% endif %}
            {% if organization.metrics.reuses %}
            <li>
                <a class="btn btn-xs" rel="tooltip" data-placement="top"
                    title="{{ _('Number of reuses') }}">
                    <span class="{{ ficon('fa-retweet') }}"></span>
                    {{ ngettext('%(num)s reuse', '%(num)s reuses', organization.metrics.reuses or 0) }}
                </a>
            </li>
            {% endif %}
            <li>
                <a class="btn btn-xs" rel="tooltip" data-placement="top"
                    title="{{ _('Number of members') }}">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ ngettext('%(num)s members', '%(num)s members', organization.members|length) }}
                </a>
            </li>
        </ul>
        <ul class="col-xs-3 col-sm-2 corner">
            <li>
                <a class="btn btn-xs" rel="tooltip" data-placement="top"
                    title="{{ _('Stars') }}">
                    <span class="{{ ficon('fa-star') }}"></span>
                    {{ organization.metrics.followers or 0 }}
                </a>
            </li>
        </ul>
    </footer>
</div>
