{% cache cache_duration, 'org-card', organization.id|string, g.lang_code %}
{% from theme('macros/certified.html') import badge_if_certified with context %}
<div class="card organization-card">
    <a class="card-logo" href="{{ url_for('organizations.show', org=organization) }}">
        <img alt="{{ organization.title }}"
            src="{{ organization.logo(60)|placeholder('organization') }}"
            width="60" height="60">
    </a>
    {{ badge_if_certified(organization) }}
    <div class="card-body">
        <h4>
            <a href="{{ url_for('organizations.show', org=organization) }}" title="{{organization.name}}">
                {{ organization.name|truncate(250) }}
            </a>
        </h4>
    </div>

    <footer>
        <ul>
            {% if organization.metrics.datasets %}
            <li>
                <a class="btn btn-xs" v-tooltip title="{{ _('Number of datasets') }}">
                    <span class="{{ ficon('fa-cubes') }} fa-fw"></span>
                    {{ ngettext('%(num)s dataset', '%(num)s datasets', organization.metrics.datasets or 0) }}
                </a>
            </li>
            {% endif %}
            {% if organization.metrics.reuses %}
            <li>
                <a class="btn btn-xs" v-tooltip title="{{ _('Number of reuses') }}">
                    <span class="{{ ficon('fa-retweet') }} fa-fw"></span>
                    {{ ngettext('%(num)s reuse', '%(num)s reuses', organization.metrics.reuses or 0) }}
                </a>
            </li>
            {% endif %}
            {# <li>
                <a class="btn btn-xs" v-tooltip title="{{ _('Number of members') }}">
                    <span class="fa fa-users fa-fw"></span>
                    {{ ngettext('%(num)s members', '%(num)s members', organization.members|length) }}
                </a>
            </li> #}
            <li>
                <a class="btn btn-xs" v-tooltip title="{{ _('Stars') }}">
                    <span class="{{ ficon('fa-star') }} fa-fw"></span>
                    {{ organization.metrics.followers or 0 }}
                </a>
            </li>
        </ul>
    </footer>

    <a class="rollover fade in" href="{{url_for('organizations.show', org=organization)}}"
        title="{{ organization.name }}">
        {{ organization.description|mdstrip(180) }}
    </a>
</div>
{% endcache %}
