{% extends theme('organization/form.html') %}

{% block extra_js %}
{{ super() }}
<script type="text/javascript" src="{{ static('organization/form.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ url_for('organizations.list') }}">{{ _('Organizations') }}</a></li>
<li class="active">{{ _('New') }}</li>
{% endblock %}

{% block form_controls %}
<a href="{{ url_for('datasets.list') }}" class="btn pull-left btn-xs">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    {{ _('Back') }}
</a>
<button type="submit" class="btn btn-primary col-sm-offset-3 col-sm-6">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    {{ _('Create') }}
</button>
{% endblock %}
