{% extends theme("organization/display_base.html") %}
{% from theme('macros/timeline.html') import timeline with context %}
{% from theme('macros/metrics.html') import metric_widgets %}

{% set meta = {
    'title': _('Dashboard'),
    'description': _('Site metrics and activity'),
    'keywords': [_('metrics'), _('activity')],
} %}

{% block breadcrumb %}
    {{ super() }}
    <li><a href="{{ url_for('organizations.list') }}">{{ org.name }}</a></li>
    <li class="active">{{ _('Dashboard') }}</li>
{% endblock %}

{% block main_content %}
<div class="metrics">
    {{ metric_widgets(metrics, 'col-md-6') }}
</div>
{% endblock %}

{% block after_content %}
<section class="community">
    <header>
        <div class="container">
            <div class="cover-communaute"></div>
            <div class="page-header">
                <h2>{{ _('Community activity') }}</h2>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{ timeline(activities) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
