{% extends theme("organization/display_base.html") %}

{% set meta = {
    'title': _('Dashboard'),
    'description': _('Site metrics and activity'),
    'image': org.logo(external=True),
    'keywords': [_('metrics'), _('activity')],
} %}

{% block breadcrumb %}
    {{ super() }}
    <li><a href="{{ url_for('organizations.list') }}">{{ org.name }}</a></li>
    <li class="active">{{ _('Dashboard') }}</li>
{% endblock %}

{% block main_content %}
{# Load spinner until JS is ready #}
<div v-if="false" class="text-center"><span class="fa fa-4x fa-cog fa-spin"></span></div>
{# Boxes definitions: (label, metric, icon, color) #}
{% set boxes = [
    (_('Datasets'), 'datasets', 'cubes', 'aqua'),
    (_('Reuses'), 'reuses', 'retweet', 'green'),
    (_('Followers'), 'followers', 'users', 'purple'),
] %}
<div class="row">
    {% for (label, metric, icon, color) in boxes %}
    <small-box class="col-lg-4 col-md-4 col-xs-6"
        value="{{org.metrics[metric]}}" label="{{label}}" color="{{color}}"
        icon="{{icon}}">
    </small-box>
    {% endfor %}
</div>

<dashboard-graphs object-id="{{ org.id }}"></dashboard-graphs>
{% endblock %}

{% block after_content %}
<section class="community">
    <header>
        <div class="container">
            <div class="cover-communaute"></div>
            <div class="page-header">
                <h2>{{ _('Community activity') }}</h2>
            </div>
        </div>
    </header>
    <div class="container">
        <activity-timeline class="col-sm-12" organization-id="{{ org.id }}">
            {# Load spinner until JS is ready #}
            <div class="text-center"><span class="fa fa-4x fa-cog fa-spin"></span></div>
        </activity-timeline>
    </div>
</section>
{% endblock %}
