{% extends theme("organization/display_base.html") %}

{% set meta = {
    'title': org.name,
    'description': org.description|mdstrip(60)|forceescape,
    'image': org.logo(external=True),
    'keywords': [_('organization')],
} %}

{% set bundle = 'organization' %}

{% block breadcrumb %}
    {{ super() }}
    <li class="active">{{ org.name }}</li>
{% endblock %}

{% block main_content %}
    <h1>
        {{ org.name }}
        {% if can_edit %}
        <small>
            <a class="btn btn-xs btn-default"
                href="{{ url_for('admin.index', path='organization/{id}/'.format(id=org.id)) }}">
                <span class="glyphicon glyphicon-edit" ></span>
                {{ _('Edit') }}
            </a>
        </small>
        {% endif %}
    </h1>

    <div class="row">
        <p class="col-md-12">
            {% if org.deleted %}
            <small class="deleted" data-toggle="popover"
                data-title="{{ _('Deleted') }}" data-trigger="hover" data-placement="top"
                data-content="{{ _('This organization has been deleted. This will be permanent in the next 24 hours') }}"
                >{{ _('Deleted') }}</small>
            {% endif %}
        </p>
    </div>
    <div>{{ org.description|markdown }}</div>
{% endblock %}

{% block secondary_content %}
{# Datasets and reuses tabs #}
{% set dataset_tabs = (
    ('datasets', _('Datasets'), datasets, {'organization': org.id|string}),
    ('private-datasets', _('Private datasets'), private_datasets, {}),
) %}
{% set reuse_tabs = (
    ('reuses', _('Reuses'), reuses, {'organization': org.id|string}),
    ('private-reuses', _('Private reuses'), private_reuses, {}),
) %}
{% set user_tabs = (
    ('members', _('Members'), org.members, {}),
    ('followers', _('Followers'), followers, {}),
) %}

<tabset :active.sync="currentTab" v-ref:tabs nav-style="pills">
    {% for tab_id, label, datasets, kwargs in dataset_tabs  %}
    {% if datasets %}
    <tab id="{{tab_id}}" header="{{label}}">
        <ul class="card-list">

            {% for dataset in datasets %}
            <li class="col-md-4 col-sm-6">
                {% include theme('dataset/card.html') %}
            </li>
            {% endfor %}

        </ul>
        {% if datasets.total %}
        <div class="clearfix"></div>
        <div class="text-center card-list-footer">
            {% if datasets.total > datasets|length %}
            <a class="btn btn-default"
                href="{{ url_for('datasets.list', sort='-created', **kwargs) }}">
                <span class="glyphicon glyphicon-list"></span>
                {{ _('See the %(nb)s datasets', nb=datasets.total) }}
            </a>
            {% endif %}
            <div class="dropdown">
                <button id="{{tab_id}}-download-btn" data-toggle="dropdown"
                    class="btn btn-default dropdown-toggle" type="button">
                    <span class="fa fa-file-o"></span>
                    {{ _('Download as CSV') }}
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="{{tab_id}}-download-btn">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{{ url_for('organizations.{0}_csv'.format(tab_id.replace('-', '_')), org=org) }}">
                        {{ _('Datasets list') }}
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{{ url_for('organizations.{0}_resources_csv'.format(tab_id.replace('-', '_')), org=org) }}">
                        {{ _('Resources list') }}
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{{ url_for('organizations.issues_csv', org=org) }}">
                        {{ _('Issues list') }}
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{{ url_for('organizations.discussions_csv', org=org) }}">
                        {{ _('Discussions list') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </tab>
    {% endif %}
    {% endfor %}

    {% for tab_id, label, reuses, kwargs in reuse_tabs  %}
    {% if reuses %}
    <tab id="{{tab_id}}" header="{{label}}">
        <ul class="card-list">

            {% for reuse in reuses %}
            <li class="col-md-4 col-sm-6">
                {% include theme('reuse/card.html') %}
            </li>
            {% endfor %}

        </ul>
        {% if reuses.total and reuses.total > reuses|length %}
        <div class="clearfix"></div>
        <p class="text-center">
            <a class="btn btn-default"
                href="{{ url_for('reuses.list', sort='-created', **kwargs) }}">
                <span class="glyphicon glyphicon-list" ></span>
                {{ _('See the %(nb)s reuses', nb=reuses.total) }}
            </a>
        </p>
        {% endif %}
    </tab>
    {% endif %}
    {% endfor %}

    {% if org.members %}
    <tab id="members" header="{{ _('Members') }}">
        <div class="row card-list">
            {% for member in org.members %}
            <div class="col-md-4">
                {% include theme('organization/member-card.html') %}
            </div>
            {% endfor %}
        </div>
    </tab>
    {% endif %}

    {% if followers %}
    <tab id="followers" header="{{ _('Followers') }}">
        <div class="row card-list">
            {% for follow in followers %}
            <div class="col-md-4" {% if loop.index > 15 %}:class="{hidden: !followersVisible}"{% endif %}">
                {% include theme('follow/follower-card.html') %}
            </div>
            {% endfor %}
            {% if followers|length > 15 %}
                <div class="clearfix"></div>
                <p class="text-center">
                    <a class="btn btn-default display-followers"
                        href="#" @click="showFollowers" v-show="!followersVisible">
                        <span class="glyphicon glyphicon-list" ></span>
                        {{ _('Display all followers') }}
                    </a>
                </p>
            {% endif %}
        </div>
    </tab>
    {% endif %}
</tabset>

{#
<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills" data-tabs="tabs">
            {% for tab_id, label, content, kwargs in (dataset_tabs + reuse_tabs + user_tabs) %}
            {% if content %}
            <li>
                <a href="#{{tab_id}}" data-toggle="tab">{{ label }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="tab-content">

        {% for tab_id, label, datasets, kwargs in dataset_tabs  %}
        {% if datasets %}
        <div id="{{tab_id}}" class="tab-pane">
            <ul class="card-list">

                {% for dataset in datasets %}
                <li class="col-md-4 col-sm-6">
                    {% include theme('dataset/card.html') %}
                </li>
                {% endfor %}

            </ul>
            {% if datasets.total %}
            <div class="clearfix"></div>
            <div class="text-center card-list-footer">
                {% if datasets.total > datasets|length %}
                <a class="btn btn-default"
                    href="{{ url_for('datasets.list', sort='-created', **kwargs) }}">
                    <span class="glyphicon glyphicon-list"></span>
                    {{ _('See the %(nb)s datasets', nb=datasets.total) }}
                </a>
                {% endif %}
                <div class="dropdown">
                    <button id="{{tab_id}}-download-btn" data-toggle="dropdown"
                        class="btn btn-default dropdown-toggle" type="button">
                        <span class="fa fa-file-o"></span>
                        {{ _('Download as CSV') }}
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="{{tab_id}}-download-btn">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ url_for('organizations.{0}_csv'.format(tab_id.replace('-', '_')), org=org) }}">
                            {{ _('Datasets list') }}
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ url_for('organizations.{0}_resources_csv'.format(tab_id.replace('-', '_')), org=org) }}">
                            {{ _('Resources list') }}
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ url_for('organizations.issues_csv', org=org) }}">
                            {{ _('Issues list') }}
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ url_for('organizations.discussions_csv', org=org) }}">
                            {{ _('Discussions list') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}

        {% for tab_id, label, reuses, kwargs in reuse_tabs  %}
        {% if reuses %}
        <div id="{{tab_id}}" class="tab-pane">
            <ul class="card-list">

                {% for reuse in reuses %}
                <li class="col-md-4 col-sm-6">
                    {% include theme('reuse/card.html') %}
                </li>
                {% endfor %}

            </ul>
            {% if reuses.total and reuses.total > reuses|length %}
            <div class="clearfix"></div>
            <p class="text-center">
                <a class="btn btn-default"
                    href="{{ url_for('reuses.list', sort='-created', **kwargs) }}">
                    <span class="glyphicon glyphicon-list" ></span>
                    {{ _('See the %(nb)s reuses', nb=reuses.total) }}
                </a>
            </p>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}

        {% if org.members %}
        <div id="members" class="tab-pane">
            <div class="row card-list">
                {% for member in org.members %}
                <div class="col-md-4">
                    {% include theme('organization/member-card.html') %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if followers %}
        <div id="followers" class="tab-pane">
            <div class="row card-list">
                {% for follow in followers %}
                <div class="col-md-4" {% if loop.index > 15 %}:class="{hidden: !followersVisible}"{% endif %}">
                    {% include theme('follow/follower-card.html') %}
                </div>
                {% endfor %}
                {% if followers|length > 15 %}
                    <div class="clearfix"></div>
                    <p class="text-center">
                        <a class="btn btn-default display-followers"
                            href="#" @click="showFollowers" v-show="!followersVisible">
                            <span class="glyphicon glyphicon-list" ></span>
                            {{ _('Display all followers') }}
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
#}
{# end tabs #}
{% endblock %}
