{% extends theme('organization/edit_base.html') %}
{% import 'macros/forms.html' as forms with context %}

{% block extra_js %}
<script type="text/javascript" src="{{ static('organization/members.js') }}"></script>
{% endblock %}

{% block tab_content %}
<table class="table table-stripped members-table">
    <thead>
        <tr>
            <th width="40px" class="text-center">
                <span class="glyphicon glyphicon-user"></span>
            </th>
            <th>{{ _('User') }}</th>
            <th>{{ _('Role') }}</th>
            <th width="40px"></th>
        </tr>
    </thead>
    <tbody>
        {% for member in org.members %}
        {% set role = member.role or 'editor' %}
        <tr class="member" data-userid="{{member.user.id}}">
            <td class="text-center avatar">
                {{ member.user|avatar(30) }}
            </td>
            <td>
                <a href="{{ url_for('users.show', user=member.user) }}"
                    class="user-fullname"
                    title="{{ member.user.fullname }}">
                    {{ member.user.fullname }}
                </a>
            </td>
            <td>
                <a class="member-role" href
                    data-pk="{{ member.user.id }}" data-title ="{{ _('Role') }}" data-value="{{ role }}">
                    {{ roles[role] }}
                </a>
            </td>
            <td>
                <div class="btn-group btn-group-xs">
                    <a class="btn btn-danger member-remove" title="{{ _('Remove') }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
        <tr class="empty {% if org.members %}hide{% endif %}">
            <td colspan="5" class="text-center">{{ _('No members') }}</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input id="user-picker" name="user" type="text"
                placeholder="{{ _('Add a member') }}" />
        </div>
    </div>
</div>
{% endblock %}
