{% extends theme('organization/edit_base.html') %}
{% import 'macros/forms.html' as forms with context %}

{% block extra_js %}
<script type="text/javascript" src="{{ static('organization/membership-requests.js') }}"></script>
{% endblock %}

{% block tab_content %}
<table class="table table-stripped">
    <thead>
        <tr>
            <th width="40px">
                <span class="glyphicon glyphicon-user"></span>
            </th>
            <th>{{ _('User') }}</th>
            <th>{{ _('Details') }}</th>
            <th>{{ _('Date') }}</th>
            <th width="80px">{{ _('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for request in org.pending_requests %}
        <tr class="pending-request">
            <td class="text-center avatar">
                <a class="avatar" href="{{ url_for('users.show', user=request.user) }}"
                    title="{{ request.user.fullname }}">
                    {{ request.user|avatar(30) }}
                </a>
            </td>
            <td>
                <a class="user" href="{{ url_for('users.show', user=request.user) }}"
                    title="{{ request.user.fullname }}">
                    {{ request.user.fullname }}
                </a>
            </td>
            <td>{{ request.comment }}</td>
            <td>{{ request.created|dateformat(format='long') }}</td>
            <td>
                <div class="btn-group btn-group-xs">
                    <a class="btn btn-success membership-accept" title="{{ _('Accept') }}"
                        data-api="{{ url_for('api.accept_membership', org=org, id=request.id) }}"}>
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                    <a class="btn btn-danger membership-refuse" title="{{ _('Refuse') }}"
                        data-api="{{ url_for('api.refuse_membership', org=org, id=request.id) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
        <tr class="empty {% if org.pending_requests %}hide{% endif %}">
            <td colspan="5" class="text-center">{{ _('No pending requests') }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}


