{% extends theme('layouts/form.html') %}
{% import 'macros/forms.html' as forms with context %}
{% set tab = tab|default('description') %}


{% block breadcrumb %}
<li><a href="{{ url_for('organizations.list') }}">{{ _('Organizations') }}</a></li>
<li><a href="{{ org.display_url }}">{{ org.name }}</a></li>
<li class="active">{{ _('Edition') }}</li>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="card side-card text-center col-sm-4 col-md-3 col-lg-2">
        {% if org.public_service %}
        <img src="{{ theme_static('img/certified-stamp.png') }}" alt="certified"
            class="certified" rel="popover"
            data-title="{{ _('Certified public service') }}"
            data-content="{{ _('The identity of this public service public is certified by Etalab') }}"
            data-container="body" data-trigger="hover"/>
        {% endif %}
        <a href="{{ url_for('organizations.show', org=org) }}"
            title="{{ org.name }}">
            <img src="{{ org.logo|placeholder('organization') }}"
                alt="{{ org.name }}" class="img-responsive" />
        </a>
        <h3>{{ org.name }}</h3>
        <div class="caption text-left ellipsis-dot">
            {{ org.description|mdstrip(200) }}
        </div>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
        <div class="form-bg">
            <ul class="nav nav-pills nav-top">
                {% for item in nav.edit_org %}
                <li class="{{ 'active' if item.is_active else '' }}">
                    <a href="{{ item.url }}">{{ item.label }}</a>
                </li>
                {% endfor %}
            </ul>

            <div class="row">
                {% block tab_content %}{% endblock %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
