{% extends theme('organization/edit_base.html') %}
{% import 'macros/forms.html' as forms with context %}

{% block extra_js %}
{{ super() }}
<script type="text/javascript" src="{{ static('organization/form.js') }}"></script>
{% endblock %}

{% block tab_content %}
<div class="col-lg-8">
    <form class="form-horizontal validation" method="post" action=".">
        {{ forms.render(form) }}
        {{ forms.required_disclaimer() }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"
                    class="btn btn-default">{{ _('Save') }}</button>
                <a href="{{ url_for('organizations.show', org=org) }}"
                    class="btn btn-warning">{{ _('Cancel') }}</a>
                <button class="btn btn-danger pull-right btn-delete"
                    title="{{ _('Delete') }}"
                    data-url="{{ url_for('organizations.delete', org=org) }}">
                    {{ _('Delete') }}
                </button>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-4">
<p>{{ _('This page allows you to describe your organization.') }}</p>
<p>{{ _('Try to be as exhaustif as possible because the completed fields will improve your search scoring and allow users to find your organization easier.') }}</p>
<p>{{ _('It is advised to provide a clean and proper logo as it will be the most visible part of your organization .') }}</p>
</div>
{% endblock %}
