{% extends theme('layouts/form.html') %}
{% import 'macros/forms.html' as forms with context %}

{% block main_content %}
<div class="row form-bg">
    <div class="col-sm-12 col-md-3 col-md-push-9">
    <p>{{ _('This page allows you to describe your organization.') }}</p>
    <p>{{ _('Try to be as exhaustif as possible because the completed fields will improve your search scoring and allow users to find your organization easier.') }}</p>
    <p>{{ _('It is advised to provide a clean and proper logo as it will be the most visible part of your organization .') }}</p>
    </div>
    <div class="col-sm-12 col-md-9 col-md-pull-3">
        <form class="form-horizontal validation" method="post" action=".">
            {{ forms.render(form) }}
            {{ forms.required_disclaimer() }}

            <div class="form-group">
                {% block form_controls %}{% endblock %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
