{% import theme('macros/search.html') as s %}
{% set url = search_url %}
<div class="panel panel-default advanced-search-panel">
    {{ s.panel_header(organizations) }}
    {{ s.panel_sorter(organizations, url=url,
        name=( _('Name'), 'asc'),
        datasets=(_('Datasets'), 'desc'),
        reuses=(_('Reuses'), 'desc'),
        followers=(_('Followers'), 'desc'),
    ) }}
    {{ s.facet_panel(organizations, 'datasets', _('Datasets'), url=url) }}
    {{ s.facet_panel(organizations, 'reuses', _('Reuses'), url=url) }}
    {# {{ facet_picker(reuses, 'organization', _('Organizations')) }}
    {{ facet_picker(reuses, 'type', _('Type'), g.reuse_types) }}
    {{ facet_picker(reuses, 'tag', _('Tags')) }} #}
</div>
