{% extends theme('base.html') %}
{% from theme('macros/breadcrumb.html') import breadcrumb with context %}
{% set section_class = section_class|default('default') %}

{% block content %}
{{ breadcrumb(self) }}

<section class="{{ section_class }}">
    <div class="fr-container {{ container_class }}">
        <div class="fr-grid-row">
            <div class="fr-col-lg-8">
                {% block main_content %}{% endblock %}
            </div>
            <aside class="fr-col-lg-4">
                {% block sidebar %}{% endblock %}
            </aside>
        </div>
    </div>
</section>
{% endblock %}
