{% extends theme('raw.html') %}

{% set body_class = 'panel-center' %}

{% block body %}
<div class="fr-container">
    <div class="fr-grid-row">
        <div class="fr-ol-sm-10 fr-col-offset-sm-1 fr-col-md-8 fr-col-offset-md-2">
            <div class="panel panel-default">
                <div class="panel-center-band">
                    <img src="{{ theme_static('img/header.jpg') }}" alt="">
                </div>
                {% block panel_content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="fr-grid-row">
        <div class="fr-col-12 text-center">
            <img src="{{ theme_static('img/filigrane.jpg') }}" class="filigrane" alt="">
        </div>
    </div>
</div>
{% endblock %}
