{% extends theme("layouts/1-column.html") %}
{% from theme('macros/paginator.html') import paginator with context %}

{% set toolbar_class='search-toolbar' %}

{% set meta = {
    'title': _('Organizations'),
    'description': _("%(site)s organization search", site=config['SITE_TITLE']),
    'keywords': [_('search'), _('organizations')],
    'robots': 'noindex',
} %}

{% set bundle = 'search' %}

{% block breadcrumb %}
<li class="active">
    {{ _('Organizations') }}
    <small>{{ _('%(start)s to %(end)s on %(total)s',
            start=organizations.page_start,
            end=organizations.page_end,
            total=organizations.total) }}</small>
</li>
{% endblock %}

{% block main_content %}
<div class="container">
    <h1>{{ _('Organizations') }}</h1>
    <ul class="search-results">
        {% for organization in organizations %}
        <li class="search-result organization-result">
            <a href="{{ url_for('organizations.show', org=organization) }}" class="unstyled w-100"
                title="{{ organization.name }}">
                {% include theme('organization/search-result.html') %}
            </a>
        </li>
        {% endfor %}
    </ul>
    {{ paginator(organizations) }}
</div>

{% endblock %}
