{% import theme('macros/search.html') as s %}
<div class="label-list">
    {{ s.filter_label('badge', _('Badge'), ficon('bookmark'),
        labelize=organizations.label_func('badge')
    ) }}
    {{ s.filter_label('datasets', _('Datasets'), ficon('fa-cubes'),
        labelize=organizations.label_func('datasets')
    ) }}
    {{ s.filter_label('reuses', _('Reuses'), ficon('random'),
        labelize=organizations.label_func('reuses')
    ) }}
    {{ s.filter_label('followers', _('Followers'), ficon('eye-open'),
        labelize=organizations.label_func('followers')
    ) }}
</div>
