{% extends theme("layouts/1-column.html") %}

{% set body_class="town" %}

{% block main_content %}
{% set logo=town.logo_url() or theme_static('img/placeholder_town.png') %}
<div class="row">
    <div class="col-sm-9">
        <h1>
            {{ town.name }}
            {% if town.keys.postal %}
                {% if town.keys.postal is string %}
                    ({{ town.keys.postal }})
                {% endif %}{# elif not allowed here #}
                {% if town.keys.postal is not string %}
                    ({{ town.keys.postal|join(', ') }})
                {% endif %}
            {% endif %}
        </h1>
        <div id="coverage-map" class="aside-map"
            data-zones="{{ url_for('api.zones', ids=[town.id]) }}"
            data-hide-popup="true"></div>
    </div>

    <aside class="col-sm-3 panel panel-default">
        {% if logo %}
            <div class="text-center">
                <img src="{{ logo }}" alt="{{ town.name }}" class="scalable" />
            </div>
        {% endif %}
        <div class="tab-links">
            <p class="text-center">
                <strong>
                    {{ _('INSEE code:') }} {{ town.code }}
                </strong>
            </p>
            <p class="text-center">
                <strong>
                    {{ _('Population:') }} {{ town.population }}
                </strong>
            </p>
        </div>
        <a href="m&#x61;ilto:{{ config.CONTACT_EMAIL|obfuscate|safe }}" class="btn btn-warning btn-block btn-sm"
            data-toggle="tooltip" data-placement="left"
            data-original-title="{{ _('I belong to that city and I want to publish more datasets.') }}">
            {{ _('Claim and enrich') }}
        </a>
    </aside>
</div>
<div class="dataset-list">
    {% for town_dataset in town_datasets %}
        <div data-udata-town-id="{{ town_dataset.slug }}" class="col-sm-4"></div>
    {% endfor %}
    {% for dataset in datasets %}
        <div data-udata-dataset-id="{{ dataset.id }}" class="col-sm-4"></div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ static('dataset/display.js') }}"></script>
    <script src="{{ static('widgets.js', _burst=False) }}" id="udata" async defer></script>
{% endblock %}
