@import '~bootstrap/less/bootstrap';
@import '~font-awesome/less/font-awesome';
@import '~source-sans-pro/source-sans-pro.css';
@import '~bootstrap-markdown/less/bootstrap-markdown.less';
@import '~selectize/src/less/selectize.bootstrap3.less';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet/dist/leaflet.css';
@import '~bootstrap-datepicker/less/datepicker3.less';
@import '~jquery-jcrop/css/jquery.Jcrop.css';

/**
 * Admin LTE
 */
@import '~admin-lte/build/less/core.less';
@import '~admin-lte/build/less/variables.less';
@import '~admin-lte/build/less/mixins.less';

//COMPONENTS
//-----------
@import '~admin-lte/build/less/header.less';
@import '~admin-lte/build/less/sidebar.less';
@import '~admin-lte/build/less/sidebar-mini.less';
@import '~admin-lte/build/less/dropdown.less';
@import '~admin-lte/build/less/forms.less';
@import '~admin-lte/build/less/progress-bars.less';
@import '~admin-lte/build/less/small-box.less';
@import '~admin-lte/build/less/boxes.less';
@import '~admin-lte/build/less/timeline.less';
@import '~admin-lte/build/less/buttons.less';
@import '~admin-lte/build/less/callout.less';
@import '~admin-lte/build/less/alerts.less';
@import '~admin-lte/build/less/navs.less';
// @import '~admin-lte/build/less/users-list.less';


@import "~admin-lte/build/less/info-box.less";
// @import "~admin-lte/build/less/table.less";
// @import "~admin-lte/build/less/carousel.less";
@import "~admin-lte/build/less/modal.less";
@import "~admin-lte/build/less/direct-chat.less";
@import "~admin-lte/build/less/miscellaneous.less";


//PAGES
//------
// @import '~admin-lte/build/less/mailbox.less';
// @import '~admin-lte/build/less/lockscreen.less';
// @import '~admin-lte/build/less/login_and_register.less';
// @import '~admin-lte/build/less/404_500_errors.less';
// @import '~admin-lte/build/less/invoice.less';

//Skins
//-------
// @import '~admin-lte/build/less/skins/skin-blue.less';

//Plugins
//--------
// @import 'iCheck.less';
// @import 'pace.less';
// @import 'bootstrap-social.less';

.pointer {
    cursor: pointer;
}

.move {
    cursor: move;
}


// Local modifications
@import 'adminlte-skin';
@import 'forms';
@import 'nav-tabs';
@import 'transitions';
@import 'markdown';
@import 'cards';

.label-list {
    .label {
        margin: 0 0 5px 5px;
        display: inline-block;
    }

    margin-bottom: 5px;
}
