{
  "env": {
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-warning-comments": "warn"
  }
}
