[bumpr]
file = udata_front/__init__.py
vcs = git
commit = true
tag = true
tag_format = v{version}
push = true
clean = inv clean
tests = inv test
publish = inv dist
files =
    README.md

[bump]
unsuffix = true

[prepare]
part = patch
suffix = dev

[changelog]
file = CHANGELOG.md
bump = ## {version} ({date:%Y-%m-%d})
prepare = ## Current (in progress)
separator =
