[bumpr]
vcs = git
commit = true
tag = true
tag_format = v{version}
push = true
clean = inv clean
tests = inv test
publish = inv dist
files =
    README.md
    CHANGELOG.md

[changelog]
file = CHANGELOG.md
bump = ## {version} ({date:%Y-%m-%d})
prepare = ## Current (in progress)
separator =

[readthedoc]
id = udata

[replace]
dev = ?branch=master
stable = ?tag=v{version}