[bumpr]
file = pyproject.toml
regex = version\s*=\s*"(?P<version>.+?)"
vcs = git
commit = true
tag = true
tag_format = v{version}
push = true
clean = poetry run inv clean
tests = poetry run inv test
publish = poetry run inv dist
files =
    README.md

[bump]
unsuffix = true

[prepare]
part = patch
suffix = dev

[changelog]
file = CHANGELOG.md
bump = ## {version} ({date:%Y-%m-%d})
prepare = ## Current (in progress)
separator =

[readthedoc]
id = udata

[replace]
dev = ?branch=master
stable = ?tag=v{version}
