db:
    image: mongo:2.6
    command: mongod
    volumes:
      - ./data/db:/data/db
    expose:
      - "27017"
    ports:
    - "27017:27017"

broker:
    image: redis
    volumes:
      - ./data/broker:/data
    expose:
      - "6379"
    ports:
    - "6379:6379"

search:
    image: elasticsearch:1.4
    volumes:
      - ./data/search/data:/usr/share/elasticsearch/data
      - ./data/search/plugins:/usr/share/elasticsearch/plugins
      # - ./logs:/data/log
    expose:
      - "9200"
    ports:
      - "9200:9200"
