services:
    db:
        image: mongo:7.0.28
        volumes:
          - ./data/db:/data/db
        expose:
          - "27017"
        ports:
        - "27017:27017"

    broker:
        image: redis
        volumes:
          - ./data/broker:/data
        expose:
          - "6379"
        ports:
          - "6379:6379"

    mailpit:
        image: axllent/mailpit
        ports:
            - 8025:8025
            - 1025:1025
        environment:
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1

    db_test:
        image: mongo:7.0.28
        tmpfs: /data/db/
        ports:
          - "27018:27017"
        profiles:
          - test
