services:
    db:
        image: mongo:7.0.28
        volumes:
          - ./data/db:/data/db
        expose:
          - "27017"
        ports:
        - "27017:27017"
        ulimits:
          nofile:
            soft: 4096
            hard: 4096

    broker:
        image: redis
        volumes:
          - ./data/broker:/data
        expose:
          - "6379"
        ports:
          - "6379:6379"

    search:
        image: elasticsearch:7.17.28
        environment:
          - node.name=es01
          - cluster.name=es-docker-cluster
          - cluster.initial_master_nodes=es01
        volumes:
          - ./data/es:/usr/share/elasticsearch/data
        expose:
          - "9200"
        ports:
          - "9200:9200"
        command: >
          bash -c "
            if ! elasticsearch-plugin list | grep -q analysis-icu; then
              elasticsearch-plugin install --batch analysis-icu
            fi &&
            /usr/local/bin/docker-entrypoint.sh eswrapper
          "

    mailpit:
        image: axllent/mailpit
        ports:
            - 8025:8025
            - 1025:1025
        environment:
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1
