site_name: uData Documentation
site_description: uData Open Data Portal Documentation
site_author: Etalab
repo_url: https://github.com/etalab/udata

theme: readthedocs
theme_dir: 'docs/custom_theme'

pages:
    - Home: index.md
    - Deploying:
        - System dependencies: system-dependencies.md
        - Installation: installation.md
        - Docker deployment: docker-deployment.md
        - Adapting settings: adapting-settings.md
    - Running:
        - Administrative tasks: administrative-tasks.md
        - Harvesting: harvesting.md
        - RDF support: rdf.md
    - Developping:
        - Development environment: development-environment.md
        - Testing your code: testing-code.md
        - Extending uData: extending.md
        - Adding translations: adding-translations.md
        - Creating a custom theme: creating-theme.md
        - Building the documentation: building-documentation.md
    - Contributing:
        - Guide: contributing-guide.md
        - Governance: governance.md
        - Versioning: versioning.md
    - Changelog: changelog.md

markdown_extensions:
    - smarty
    - admonition
    - toc:
        permalink: True

copyright: Copyright &copy; 2016 Etalab
