site_name: uData Documentation
site_description: uData Open Data Portal Documentation
site_author: Etalab
repo_url: https://github.com/etalab/udata

theme: readthedocs

pages:
    - Home: index.md
    - Installing:
        - 1. System dependencies: system-dependencies.md
        - 2. Local dependencies: local-dependencies.md
        - 3. Running the project: running-project.md
    - Advanced:
        - Adapting settings: adapting-settings.md
        - Testing your code: testing-code.md
        - Launching tasks: launching-tasks.md
        - Adding translations: adding-translations.md
        - Creating a custom theme: creating-theme.md
        - Building the documentation: building-documentation.md
    - Contributing:
        - Guide: contributing-guide.md
        - Governance: governance.md
    - Changelog: changelog.md

markdown_extensions:
    - smarty
    - admonition
    - toc:
        permalink: True

copyright: Copyright &copy; 2016 Etalab
