<div class="participez callout bg-blue-200 inset-blue-300">
    <div class="container py-hg">
        <div class="row align-items-center text-align-center-sm">
            <div class="col-6 col-sm-12 text-blue-500">
                <h2 class="h1 mb-md">{{ _('@@Participez') }}</h2>
                <ul class="nav-list">
                    <li><a href="{{ url_for('admin.index', path='organization/new/') }}"
                            class="nav-link text-blue-500 text-decoration-none">{{ _('Create or find your organization') }}</a>
                    </li>
                    <li><a href="https://doc.data.gouv.fr"
                            class="nav-link text-blue-500 text-decoration-none">{{ _('@@Accéder à la documentation') }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-3 col-sm-12 py-sm-xs mt-sm-sm">
                <a href="{{ url_for('admin.index', path='dataset/new/') }}" role="button"
                    class="btn btn-secondary btn-secondary-blue-500">{{ _('Publish a dataset') }}</a>
            </div>
            <div class="col-3 col-sm-12 py-sm-xs">
                <a href="{{ url_for('admin.index', path='reuse/new/') }}" role="button"
                    class="btn btn-secondary btn-secondary-blue-500">{{ _('Publish a reuse') }}</a>
            </div>
        </div>
    </div>
</div>
