<div class="participez callout bg-blue-200 inset-blue-300">
    <div class="container py-hg">
        <div class="row align-items-center text-align-center-sm">
            <div class="col-6 col-sm-12 text-blue-500">
                <h2 class="h1 mb-md">Participez</h2>
                <ul class="nav-list">
                    <li><a href="#" class="nav-link text-blue-500 text-decoration-none">Créez ou trouvez votre
                            organisation</a></li>
                    <li><a href="#" class="nav-link text-blue-500 text-decoration-none">Accéder à la documentation</a>
                    </li>
                </ul>
            </div>
            <div class="col-3 col-sm-12 py-sm-xs mt-sm-sm">
                <a href="#" role="button" class="btn btn-secondary btn-secondary-blue-500">Publiez un jeu de données</a>
            </div>
            <div class="col-3 col-sm-12 py-sm-xs">
                <a href="#" role="button" class="btn btn-secondary btn-secondary-blue-500">Publiez une réutilisation</a>
            </div>
        </div>
    </div>
</div>
