{% extends 'security/email/base.html' %}
{% from 'security/email/button.html' import mail_button %}

{% block body %}

<p>
    {{ _('Welcome to %(site)s!', site=config.SITE_TITLE) }}
</p>
<p>
    {{ _('To activate your account, please confirm your email address through the link below:') }}
</p>
<br/>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            {{ mail_button(
                _('Confirm now'),
                confirmation_link
            ) }}
        </td>
    </tr>
</table>
{% endblock %}
