{% cache cache_duration, 'reuse-card', reuse.id|string, g.lang_code %}
<div class="card reuse-card">
    <a class="card-logo" href="{{ url_for('reuses.show', reuse=reuse) }}">
        <img alt=""
            src="{{ reuse.image(86)|placeholder('reuse') }}"
            width="86" height="86">
    </a>

    <div class="card-body">
        <h4>
            <a href="{{ url_for('reuses.show', reuse=reuse) }}" title="{{ reuse.title }}">
                {{ reuse.title }}
            </a>
        </h4>

        <div class="clamp-3">{{ reuse.description|mdstrip(180) }}</div>
    </div>

    <footer>
        <ul>
            <li>
                <a class="btn btn-xs" v-tooltip title="{{ _('Type') }}">
                    <span class="fa fa-file fa-fw"></span>
                    {{ reuse.type_label }}
                </a>
            </li>
            <li>
                <a class="btn btn-xs" v-tooltip title="{{ _('Number of datasets used') }}">
                    <span class="fa fa-cubes fa-fw"></span>
                    {{ reuse.datasets|length or 0 }}
                </a>
            </li>

            <li>
                <a class="btn btn-xs" v-tooltip title="{{ _('Stars') }}">
                    <span class="fa fa-star fa-fw"></span>
                    {{ reuse.metrics.followers or 0 }}
                </a>
            </li>
        </ul>
    </footer>
</div>
{% endcache %}
