{% extends theme('reuse/display_base.html') %}

{% block reuse_content %}
<div>
    <div class="reuse-image">
        <a href="{{ reuse.url }}" target="_blank">
            <img src="{{ reuse.image_url|placeholder('reuse') }}"
                alt="{{ reuse.title }}" class="scalable" />
            <br/>
            <span class="reuse-link">
                <span class="glyphicon glyphicon-new-window"></span>
                {{ _('See the reuse') }}
            </span>
        </a>
    </div>
    {{ reuse.description|default('', true)|markdown }}
</div>
{% endblock %}
