{% extends theme('base.html') %}
{% from theme('macros/follow.html') import follow_btn with context %}
{% from theme('macros/issues.html') import issues_btn with context %}
{% from theme('macros/integrate.html') import integrate_btn with context %}

{% set meta = {
    'title': reuse.title,
    'description': reuse.description|mdstrip(60)|forceescape,
    'image': reuse.image(external=True),
    'keywords': [_('reuse')] + reuse.tags,
    'robots': 'noindex, nofollow' if reuse.is_hidden else '',
} %}

{% set bundle = 'reuse' %}

{% set body_class = 'reuse-display' %}

{% block extra_head %}
<link rel="canonical" href="{{ url_for('reuses.show', reuse=reuse) }}" />
<link rel="alternate" type="application/json+oembed"
    href="{{ url_for('api.oembed', url=reuse.external_url) }}"
    title="{{ reuse.title | urlencode }}" />
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url_for('reuses.list') }}">{{ _('Reuses') }}</a></li>
    <li class="active">{{ reuse.title }}</li>
{% endblock %}

{% block content %}
<div v-el:modal></div>
<section class="reuse-section community-section">
    <div class="container reuse-container">
        <div class="row">

            <div class="col-md-9 col-sm-9 smaller">
                <div class="page-header">
                    <h2>{{ reuse.title }}</h2>

                    <div class="row">
                        <p class="col-xs-12">
                            {% if reuse.organization %}
                                {% set author_name = reuse.organization.name %}
                                {% set author_url = url_for('organizations.show', org=reuse.organization) %}
                            {% elif reuse.owner %}
                                {% set author_name = reuse.owner.fullname %}
                                {% set author_url = url_for('users.show', user=reuse.owner) %}
                            {% endif %}
                            <small>
                                {{ _('Published on %(date)s by %(user)s',
                                    date=reuse.created_at|dateformat(format='long'),
                                    user='<a href="%(url)s" title="%(name)s">%(name)s</a>'|format(
                                        name=author_name,
                                        url=author_url
                                    )|safe
                                ) }}
                            </small>
                            {% if reuse.private %}
                            <small class="private" title="{{ _('Private') }}"
                                v-popover.literal="{{ _('This reuse is private and will not be visible by other users') }}"
                                popover-placement="top" popover-trigger="hover">
                                {{ _('Private') }}
                            </small>
                            {% endif %}
                            {% if reuse.deleted %}
                            <small class="deleted" title="{{ _('Deleted') }}"
                                v-popover.literal="{{ _('This reuse has been deleted. This will be permanent in the next 24 hours') }}"
                                popover-effect="fade" popover-placement="top" popover-trigger="hover">
                                {{ _('Deleted') }}
                            </small>
                            {% endif %}
                        </p>
                    </div>
                </div>

                {{ reuse.description|markdown }}

                <div class="reuse-image">
                    <a href="{{ reuse.url }}" rel="nofollow">
                        <img src="{{ reuse.image|placeholder('reuse') }}"
                            alt="{{ reuse.title }}" class="scalable" />
                        <br/>
                        <span class="reuse-link">
                            <span class="fa fa-fw fa-external-link-square"></span>
                            {{ _('See the reuse') }}
                        </span>
                    </a>
                </div>

                <div class="clearfix"></div>
                <br/>

                {# button bar #}
                <div class="row main-toolbar"><div class="col-xs-12">
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group btn-group-sm">
                            {{ follow_btn(reuse, ['fa-star-o', 'fa-star'])}}
                            {{ issues_btn(reuse) }}
                        </div>
                        <div class="btn-group btn-group-sm">
                            {{ integrate_btn(reuse) }}
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-warning" @click="$refs.discussions.start('')">
                                <span class="fa fa-envelope-o"></span>
                                {{ _('Contact the producer') }}
                            </button>
                        </div>
                        {% if can_edit %}
                        <div class="btn-group btn-group-sm">
                            <a href="{{ url_for('admin.index', path='reuse/{id}/'.format(id=reuse.id)) }}" class="btn btn-success">
                                <span class="fa fa-pencil"></span>
                                {{ _('Edit') }}
                            </a>
                        </div>
                        {% endif %}
                        {% if sysadmin %}
                        <div class="btn-group btn-group-sm">
                            <featured-button subject-id="{{ reuse.id }}" subject-type="reuse" :featured="{{ reuse.featured|to_json }}"></featured-button>
                        </div>
                        {% endif %}
                    </div>
                </div></div>
                {# end button bar #}

            </div>
            {# end left column #}

            {# Right sidebar #}
            <aside class="col-md-3 col-sm-3">
                {# Optionnal organization panel #}
                {% if reuse.organization %}
                <div class="panel panel-transparent text-center">
                    <div class="panel-body">
                        <h3 class="text-left">{{ _('Producer') }}</h3>
                        {% with organization=reuse.organization %}
                            {% include theme('organization/sidebar-producer.html') %}
                        {% endwith %}
                    </div>
                </div>
                {% elif reuse.owner %}
                <div class="panel panel-transparent text-center">
                    <div class="panel-body">
                        <h3 class="text-left">{{ _('Author') }}</h3>
                        <a href="{{ url_for('users.show', user=reuse.owner) }}"
                            title="{{ reuse.owner.fullname }}">
                            <img src="{{ reuse.owner|avatar_url(500) }}"
                                alt="{{ reuse.owner.fullname }}" class="scalable" />
                        </a>
                        <h4 class="text-center">{{ reuse.owner.fullname }}</h4>
                        <div class="caption text-left">
                            {% if reuse.owner.about %}
                            <p>
                                {{ reuse.owner.about|mdstrip(180) }}
                            </p>
                            {% else %}
                            <br/>
                            {% endif %}

                            <a href="{{ url_for('users.show', user=reuse.owner) }}"
                                title="{{ _('more') }}"
                                class="btn btn-block btn-sm btn-left btn-warning">
                                <span class="fa fa-user"></span>
                                {{ _('View Profile') }}
                            </a>
                            <follow-button with-label classes="btn-block btn-sm btn-left btn-warning"
                                {% if is_following(reuse.owner) %}following{% endif %}
                                url="{{ url_for('api.user_followers', id=reuse.owner.id|string) }}"
                                tooltip="{{ _('I\'ll be informed about this user news') }}">
                            </follow-button>
                        </div>
                    </div>
                </div>
                {% endif %}

                {# Information panel #}
                <div class="panel panel-transparent">
                    <div class="panel-body">
                        <h3>{{ _('Informations') }}</h3>

                        <ul class="list-unstyled infos-list">
                            {# Reuse type #}
                            <li>
                                <a href class="btn btn-xs btn-default"
                                    v-tooltip tooltip-placement="left"
                                    title="{{ _('Type') }}">
                                    <span class="{{ ficon('fa-file') }}"></span>
                                </a>
                                {{ reuse.type_label }}
                            </li>
                        </ul>


                        <ul class="tags">
                            {% for tag in reuse.tags %}
                            <li>
                                <a href="{{ url_for('search.index', tag=tag) }}"
                                class="label label-primary"
                                title="{{ tag }}">
                                    {{ tag|truncate(14, True) }}
                                </a>
                            </li>
                            {% endfor %}
                            <li>
                                <a @click="suggestTag"
                                class="label label-primary suggest-tag"
                                title="{{ _('Suggest a tag with a new discussion thread') }}"
                                v-tooltip tooltip-placement="right">
                                    {{ _('Suggest a tag') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                {# Followers panel #}
                <div class="panel panel-transparent">
                    <div class="panel-body panel-followers">
                        <h3>{{ _('Followers') }}</h3>
                        {%- for follow in followers -%}
                        {{ follow.follower|avatar(34) }}
                        {%- else -%}
                        <p>{{ _('No followers yet') }}</p>
                        {%- endfor -%}
                    </div>
                </div>

            </aside>
        </div>

    </div>
</section>

<section class="content reuse-section source-section">
    <header>
        <div class="container">
            <div class="page-header">
                <h2>
                    <span class='fa fa-refresh header-logo'></span>
                    {{ _('Used datasets') }}
                </h2>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="row card-list card-list--columned">
                    {% for dataset in reuse.datasets %}
                    <li class="col-md-4 col-sm-6">
                    {% include theme('dataset/card.html') %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="community_container">
    <header>
        <div class="container">
            <div class="cover-communaute"></div>
            <div class="page-header">
                <h2>{{ _('Community contributions') }}</h2>
                {% if community_subtitle %}<small>{{ community_subtitle }}</small>{% endif %}
            </div>
        </div>
    </header>

    <div class="container">
        <h3>{{ _('Discussions') }}</h3>
        <div class="row">
            <div class="col-sm-9">
                <discussion-threads v-ref:discussions
                    subject-id="{{ reuse.id }}" subject-class="{{ reuse.__class__.__name__ }}">
                </discussion-threads>
            </div>
            <div class="col-sm-3 note">
                <p>{{ _('Discussion between the organization and the community about this dataset.') }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
