{% extends theme('base.html') %}
{% from theme('macros/follow.html') import follow_btn with context %}
{% from theme('macros/issues.html') import issues_btn with context %}
{% from theme('macros/share.html') import share_btn with context %}

{% set meta = {
    'title': reuse.title,
    'description': reuse.description|mdstrip(60)|forceescape,
    'image': reuse.image(external=True),
    'keywords': [_('reuse')] + reuse.tags,
} %}

{% set body_class = 'reuse-display' %}

{% block extra_js %}
<script src="{{ static('reuse/display.js') }}"></script>
{% endblock %}

{% block extra_head %}
<link rel="canonical" href="{{ url_for('reuses.show', reuse=reuse) }}" />
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url_for('reuses.list') }}">{{ _('Reuses') }}</a></li>
    <li class="active">{{ reuse.title }}</li>
{% endblock %}

{% block toolbar %}
{# Owner actions #}
<div class="btn-group btn-group-xs">
    <a href="{{ url_for('admin.index', path='reuse/{id}/'.format(id=reuse.id)) }}" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span>
        {{ _('Edit') }}
    </a>
</div>
{# Admin actions #}
<div class="btn-group btn-group-xs">
    <button type="button"
        class="btn btn-success featured {% if reuse.featured %}active{% endif %}"
        data-api-url="{{ url_for('api.reuse_featured', reuse=reuse) }}">
        <span class="glyphicon glyphicon-bullhorn"></span>
        {{ _('Featured') }}
    </button>
</div>
{# Social actions #}
<div class="btn-group btn-group-xs">
    {{ follow_btn(reuse) }}
</div>
<div class="btn-group btn-group-xs">
    {{ issues_btn(reuse) }}
</div>
<div class="btn-group btn-group-xs">
    {{ share_btn(reuse.title) }}
</div>
{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/CreativeWork">
<section class="reuse-section community-section">
    <div class="container reuse-container">
        <meta itemprop="alternateName" content="{{ reuse.slug }}" />
        <meta itemprop="dateCreated" content="{{ reuse.created_at|isoformat }}" />
        <meta itemprop="dateModified" content="{{ reuse.last_modified|isoformat }}" />
        <meta itemprop="url" content="{{ url_for('reuses.show', reuse=reuse, _external=True) }}" />
        <div class="row">

            <div class="col-md-9 col-sm-9 smaller">
                <div class="page-header">
                    <h2 itemprop="name">{{ reuse.title }}</h2>

                    <div class="row">
                        <p class="col-xs-12">
                            {% if reuse.organization %}
                                {% set author_name = reuse.organization.name %}
                                {% set author_url = url_for('organizations.show', org=reuse.organization) %}
                            {% elif reuse.owner %}
                                {% set author_name = reuse.owner.fullname %}
                                {% set author_url = url_for('users.show', user=reuse.owner) %}
                            {% endif %}
                            <small>
                                {{ _('Published on %(date)s by %(user)s',
                                    date=reuse.created_at|dateformat(format='long'),
                                    user='<a href="%(url)s" title="%(name)s">%(name)s</a>'|format(
                                        name=author_name,
                                        url=author_url
                                    )|safe
                                ) }}
                            </small>
                            {% if reuse.private %}
                            <small class="private" data-toggle="popover"
                                data-title="{{ _('Private') }}" data-trigger="hover" data-placement="top"
                                data-content="{{ _('This reuse is private and will not be visible by other users') }}"
                                >{{ _('Private') }}</small>
                            {% endif %}
                            {% if reuse.deleted %}
                            <small class="deleted" data-toggle="popover"
                                data-title="{{ _('Deleted') }}" data-trigger="hover" data-placement="top"
                                data-content="{{ _('This reuse has been deleted. This will be permanent in the next 24 hours') }}"
                                >{{ _('Deleted') }}</small>
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div itemprop="description">
                    {{ reuse.description|markdown }}
                </div>

                <div class="reuse-image">
                    <a itemprop="isBasedOnUrl" href="{{ reuse.url }}">
                        <img src="{{ reuse.image|placeholder('reuse') }}"
                            alt="{{ reuse.title }}" class="scalable" />
                        <br/>
                        <span class="reuse-link">
                            <span class="glyphicon glyphicon-new-window"></span>
                            {{ _('See the reuse') }}
                        </span>
                    </a>
                </div>

                <div class="clearfix"></div>
                <br/>

                {# button bar #}
                <div class="row main-toolbar">
                    <div class="btn-toolbar">
                        <div class="btn-group btn-group-sm">
                            {{ follow_btn(reuse, ['fa-star-o', 'fa-star'])}}
                            {{ share_btn(reuse.title) }}
                            {{ issues_btn(reuse) }}
                        </div>
                        {% if can_edit %}
                        <div class="btn-group btn-group-sm">
                            <a href="{{ url_for('admin.index', path='reuse/{id}/'.format(id=reuse.id)) }}" class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span>
                                {{ _('Edit') }}
                            </a>
                        </div>
                        {% endif %}
                        {% if sysadmin %}
                        <div class="btn-group btn-group-sm">
                            <button type="button"
                                class="btn btn-success featured {% if reuse.featured %}active{% endif %}"
                                data-api-url="{{ url_for('api.reuse_featured', reuse=reuse) }}">
                                <span class="glyphicon glyphicon-bullhorn"></span>
                                {{ _('Featured') }}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {# end button bar #}

            </div>
            {# end left column #}

            {# Right sidebar #}
            <aside class="col-md-3 col-sm-3">

                {# Optionnal organization panel #}
                {% if reuse.organization %}
                <div class="panel panel-transparent text-center">
                    <div class="panel-body">
                        <h3 class="text-left">{{ _('Producer') }}</h3>
                        {% with organization=reuse.organization %}
                            {% include theme('organization/sidebar-producer.html') %}
                        {% endwith %}
                    </div>
                </div>
                {% elif reuse.owner %}
                <div class="panel panel-transparent text-center">
                    <div class="panel-body">
                        <h3 class="text-left">{{ _('Author') }}</h3>
                        <a href="{{ url_for('users.show', user=reuse.owner) }}"
                            title="{{ reuse.owner.fullname }}">
                            <img src="{{ reuse.owner.avatar(150)|placeholder('user') }}"
                                alt="{{ reuse.owner.fullname }}" class="scalable"
                                width="150" height="150"/>
                        </a>
                        <h4 class="text-center">{{ reuse.owner.fullname }}</h4>
                        <div class="caption text-left">
                            {% if reuse.owner.about %}
                            <p>
                                {{ reuse.owner.about|mdstrip(180) }}
                                <a href="{{ url_for('users.show', user=reuse.owner) }}"
                                    title="{{ _('more') }}"
                                    class="btn btn-grey btn-primary btn-mini">+</a>
                            </p>
                            {% else %}
                            <br/>
                            {% endif %}
                            <button type="button"
                                class="btn btn-warning btn-follow btn-block btn-sm icon-left {% if is_following(reuse.owner) %}active{% endif %}"
                                data-toggle="tooltip" data-placement="left"
                                data-api-url="{{ url_for('api.user_followers', id=reuse.owner.id|string) }}"
                                data-following-label="{{ _('Unfollow') }}"
                                {% if is_following(reuse.owner) %}
                                title="{{ _('Unfollow') }}">
                                <span class="glyphicon glyphicon-eye-close"></span>
                                {{ _('Unfollow') }}
                                {% else %}
                                title="{{ _("I'll be informed about this user news") }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                {{ _('Follow') }}
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}

                {# Information panel #}
                <div class="panel panel-transparent">
                    <div class="panel-body">
                        <h3>{{ _('Informations') }}</h3>

                        <ul class="list-unstyled infos-list">
                            {# Reuse type #}
                            <li>
                                <a href class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="right auto"
                                    title="{{ _('Type') }}">
                                    <span class="{{ ficon('fa-file') }}"></span>
                                </a>
                                {{ reuse.type_label }}
                            </li>
                        </ul>


                        <div class="tags">
                            {% for tag in reuse.tags %}
                            <a href="{{ url_for('front.search', tag=tag) }}"
                                class="btn btn-primary btn-grey btn-xs"
                                title="{{ tag }}">
                                {{ tag|truncate(14, True) }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {# Followers panel #}
                <div class="panel panel-transparent">
                    <div class="panel-body">
                        <h3>{{ _('Followers') }}</h3>

                        {% for follow in followers %}
                        {{ follow.follower|avatar(32) }}
                        {% else %}
                        <p>{{ _('No followers yet') }}</p>
                        {% endfor %}
                    </div>
                </div>

            </aside>
        </div>

    </div>
</section>

<section class="content reuse-section source-section">
    <header>
        <div class="container">
            <div class="page-header">
                <h2>
                    <span class='fa fa-refresh header-logo'></span>
                    {{ _('Used datasets') }}
                </h2>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="card-list">
                    {% for dataset in reuse.datasets %}
                    <li class="col-md-4 col-sm-6" itemprop="hasPart">
                    {% include theme('dataset/card.html') %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="community_container">
    <header>
        <div class="container">
            <div class="cover-communaute"></div>
            <div class="page-header">
                <h2>{{ _('Community contributions') }}</h2>
                {% if community_subtitle %}<small>{{ community_subtitle }}</small>{% endif %}
            </div>
        </div>
    </header>

    <div class="container">

        <h3>{{ _('Discussions') }}</h3>
        {% with subject=reuse,
                sidetext=_('Discussion between the reusers and the community about this reuse.'),
                subtext=_('If you want to report an anomaly, please use the dedicated button just under the reuse.')  %}
            {% include theme('discussion/threads.html') %}
        {% endwith %}
    </div>
</section>
</div>
{% endblock %}
