{% extends theme('layouts/form.html') %}

{% block breadcrumb %}
<li><a href="{{ url_for('reuses.list') }}">{{ _('Reuses') }}</a></li>
<li><a href="{{ url_for('reuses.show', reuse=reuse) }}">{{ reuse.title }}</a></li>
<li class="active">{{ _('Edition') }}</li>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="card side-card text-center col-sm-4 col-md-3 col-lg-2">
        <img src="{{ reuse.image_url|placeholder('reuse') }}"
            alt="{{ reuse.title }}" class="img-responsive" />
        <h3>{{ reuse.title }}</h3>
        <div class="caption text-left">
            {{ reuse.description|mdstrip(300) }}
        </div>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
        <div class="form-bg">
            <ul class="nav nav-pills nav-top">
                {% for item in nav.edit_reuse %}
                <li class="{{ 'active' if item.is_active else '' }}">
                    <a href="{{ item.url }}">{{ item.label }}</a>
                </li>
                {% endfor %}
            </ul>

            <div class="row">
                {% block tab_content %}{% endblock %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
