{% extends theme('layouts/form.html') %}
{% import 'macros/forms.html' as forms with context %}

{% block main_content %}
<div class="row form-bg">
    <div class="col-lg-8">
        <form class="form-horizontal validation" method="post" action=".">
            {{ forms.render(form) }}
            {{ forms.required_disclaimer() }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {% block form_controls %}{% endblock %}
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>
{% endblock %}
