{% extends theme("layouts/1-column.html") %}
{% from theme('macros/paginator.html') import paginator with context %}
{% import theme('macros/search.html') as s %}

{% block breadcrumb %}
    <li class="active">
        {{ _('Reuses') }}
        <small>{{ _('%(start)s to %(end)s on %(total)s',
                    start=reuses.page_start,
                    end=reuses.page_end,
                    total=reuses.total) }}</small>
    </li>
{% endblock %}

{% block toolbar %}
<div class="btn-group btn-group-xs">
    <a href="{{ url_for('reuses.new') }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        {{ _('Add a reuse') }}
    </a>
</div>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-lg-8">

        <div class="row">
            <div class="col-sm-12 label-list">
                {{ s.filter_label('organization', _('Organization'), ficon('fa-building-o'),
                    labelize=reuses.label_func('organization')
                ) }}
                {{ s.filter_label('tag', _('Tag'), ficon('tag')) }}
                {{ s.filter_label('type', _('Type'), ficon('file'),
                    labelize=reuses.label_func('type')
                ) }}
            </div>
        </div>

        <ul class="search-results">
        {% for reuse in reuses %}
        {% include theme('reuse/search-result.html') %}
        {% endfor %}
        </ul>
        <div class="clearfix"></div>
        {{ paginator(reuses) }}
    </div>

    <aside class="col-lg-4">
        {% include theme('reuse/search-panel.html') %}
    </aside>
</div>
{% endblock %}
