{% import theme('macros/search.html') as s %}
{% set url = search_url %}
<div class="panel panel-default advanced-search-panel">
    {{ s.panel_header(reuses) }}
    {{ s.panel_sorter(reuses, url=url,
        title=(_('Title'), 'asc'),
        created=(_('Creation date'), 'desc'),
        last_modified=(_('Last modification date'), 'desc'),
        datasets=(_('Datasets used'), 'desc'),
        followers=(_('Stars'), 'desc'),
    ) }}
    {{ s.facet_panel(reuses, 'organization', _('Organizations'), ficon('fa-building-o'), url=url) }}
    {{ s.facet_panel(reuses, 'type', _('Type'), ficon('fa-file'), url=url) }}
    {{ s.facet_panel(reuses, 'tag', _('Tags'), ficon('fa-tags'), url=url) }}
    {{ s.facet_panel(reuses, 'datasets', _('Datasets'), ficon('fa-cubes'), url=url) }}
    {{ s.facet_panel(reuses, 'followers', _('Followers'), ficon('fa-eye'), url=url) }}
</div>
