{% cache cache_duration, 'user-card', user.id|string, g.lang_code %}
{% set user_url = url_for('users.show', user=user) %}

<a href="{{ user_url }}" title="{{user.fullname}}" class="unstyled w-100">
    <div class="row-inline align-items-center">
        <img src="{{ user|avatar_url(60) }}" alt="" class="rounded-circle" />
        <div class="pl-md">
            <strong class="w-100">{{ user.fullname }}</strong>
            {% if role %}<div><span class="badge mt-xxs">{{ role }}</span></div>{% endif %}
        </div>
    </div>
</a>
{% endcache %}
