{% extends theme("layouts/1-column.html") %}
{% from theme('macros/paginator.html') import paginator with context %}

{% set toolbar_class='search-toolbar' %}

{% set meta = {
    'title': _('Users'),
    'description': _("%(site)s user search", site=config['SITE_TITLE']),
    'keywords': [_('search'), _('users')],
    'robots': 'noindex,nofollow',
} %}

{% set bundle = 'search' %}

{% block breadcrumb %}
    <li class="active">
        {{ _('Users') }}
        <small>{{ _('%(start)s to %(end)s on %(total)s',
            start=users.page_start,
            end=users.page_end,
            total=users.total) }}</small>
    </li>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-lg-8">

        <ul class="search-results row">
            {% for user in users %}
            <li class="col-xs-12">
            {% include theme('user/card.html') %}
            </li>
            {% endfor %}
        </ul>

        <div class="clearfix"></div>
        {{ paginator(users) }}
    </div>

</div>
{% endblock %}
