<!DOCTYPE html>
<html lang="{{ g.lang_code }}">
    <head>
        {% block raw_head %}
        {% from 'macros/metadata.html' import metadata with context %}
        {{ metadata({
            'title': _('Admin'),
            'description': 'Administration',
            'keywords': ['administration'],
            'robots': 'noindex',
        }) }}
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
        <link href="{{ static('admin.css') }}" rel="stylesheet" />
        {% endblock raw_head %}
    </head>
    <body class="skin-blue fixed sidebar-mini">
        <div id="app"></div>
        <script src="{{ static('common.js') }}"></script>
        <script src="{{ static('admin.js') }}"></script>
    </body>
</html>
