{% extends theme("base.html") %}

{% set meta = {
    'title': _('API Documentation'),
    'description': _('%s dyanmic API documentation'),
    'keywords': ['API', 'documentation', 'swagger'],
} %}

{% block extra_head %}
{% include 'swagger-ui-libs.html' %}
<script type="text/javascript">
    $(function () {
        window.swaggerUi = new SwaggerUi({
            url: "{{ specs_url }}",
            dom_id: "swagger-ui-container",
            supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
            onComplete: function(swaggerApi, swaggerUi){
                log("Loaded SwaggerUI");

                if(typeof initOAuth == "function") {

                    initOAuth({
                        clientId: "your-client-id",
                        realm: "your-realms",
                        appName: "your-app-name"
                    });

                }
                $('pre code').each(function(i, e) {
                    hljs.highlightBlock(e)
                });
            },
            onFailure: function(data) {
                log("Unable to Load SwaggerUI");
            },
            docExpansion: "list",
            sorter: "alpha"
        });
        window.swaggerUi.load();
    });
</script>
<meta name="swagger-specs" content="{{ specs_url }}" />
{% endblock %}

{% block content %}
<section class="default">
    <div class="container">
        <div class="page-header">
            <h1>{{ meta.title }}</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 swagger-doc">
                <div class="swagger-section">
                    <div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
                    <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
