{% extends theme("base.html") %}

{% set meta = {
    'title': _('API Documentation'),
    'description': _('%s dyanmic API documentation'),
    'keywords': ['API', 'documentation', 'swagger'],
} %}

{% block extra_head %}
<meta name="swagger-specs" content="{{ specs_url }}" />
{% endblock %}

{% block content %}
<section class="default">
    <div class="container">
        <div class="page-header">
            <h1>{{ meta.title }}</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 swagger-doc">
                <div class="swagger-section">
                    <div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
                    <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
