{% extends theme('raw.html') %}
{% from theme('macros/breadcrumb.html') import breadcrumb with context %}
{% set section_class = section_class|default('default') %}
{% set toolbar_class = toolbar_class|default('') %}

{% block body %}
    {% include theme("header.html") with context %}
    {% block subnav %}{% endblock %}

    <notification-zone></notification-zone>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {{ breadcrumb(self,
        breadcrum_class=breadcrum_class,
        toolbar_class=toolbar_class
    ) }}

    {% block content %}{% endblock %}
    {% include theme('footer.html') %}
    {% include theme('publish-action-modal.html') %}
    {% block modals %}{% endblock %}
{% endblock %}
