{% extends theme('raw.html') %}

{% block body %}
    {% include theme("header.html") with context %}
    {% block subnav %}{% endblock %}

    <notification-zone></notification-zone>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% include theme('footer.html') %}
    {% include theme('publish-action-modal.html') %}
    {{ hook('base.modals') }}
    {% block modals %}{% endblock %}
{% endblock %}
