{# First row #}
<div class="row first-row">
    <div class="col-xs-12">
        <h3>{{ _('Best reuse cases') }}</h3>
    </div>
</div>

<div class="row">
    {# Carousel #}
    <div class="col-xs-12">
        <div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for reuse in featured_reuses %}
                <div class="item {% if loop.first %}active{% endif %}">
                    <img class="slide" src="{{ reuse.image }}" alt="{{ reuse.title }}">
                    <div class="carousel-caption">
                        <div class="slide-logo pull-left">{{ reuse|owner_avatar(40) }}</div>
                        <span class="author">{{ reuse|owner_name}}</span>
                        <h4 class="title">
                            <a href="{{ url_for('reuses.show', reuse=reuse) }}" title="{{ reuse.title }}">
                            {{ reuse.title }}
                            </a>
                        </h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#home-carousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#home-carousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
    {# end carousel #}
</div>
{# end first row #}
