{% from theme('macros/search.html') import site_search with context %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
      <a class="navbar-brand" href="{{ url_for('site.home') }}">{{ g.site.title }}</a>
    </div>

    <div class="col-sm-2 col-lg-3 nav navbar-nav search-bar" role="search">
      {{ site_search(class='navbar-form') }}
    </div>

    <ul class="nav navbar-nav collapse navbar-collapse collapse-on-search">
        {% for item in current_theme.menu %}
        <li><a href="{{ item.url }}">{{ item.label }}</a></li>
        {% endfor %}
    </ul>

      <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
        {# <li><a href="{{ url_for('front.metrics') }}">{{ _('Metrics') }}</a></li> #}
        {% if current_user.is_authenticated %}
        <li>
            <a href @click.prevent="$refs.publishActionModal.show" title="{{ _('Contribute') }}">
                <span class="fa fa-plus"></span>
            </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ current_user|avatar_url(20) }}"
              width="20" height="20" alt="{{ current_user.fullname }}" />
            {{ current_user.fullname }} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ url_for('users.show', user=current_user) }}">{{ _('Profile') }}</a>
            </li>
            <li>
              <a href="{{ url_for('security.change_password') }}">{{ _('Change password') }}</a>
            </li>
            {% if current_user.organizations %}
            <li role="presentation" class="dropdown-header">{{ _('Organizations') }}</li>
            {% for org in current_user.organizations %}
            <li>
              <a href="{{ url_for('organizations.show', org=org) }}">
                <img src="{{ org.logo|placeholder('organization') }}"
                  width="20" height="20" alt="{{ org.acronym or org.name }}" />
                {{ org.acronym or org.name }}
              </a>
            </li>
            {% endfor %}
            {% endif %}
            <li class="divider"></li>
            <li>
              <a href="{{ url_for('admin.index', path='me/') }}">{{ _('Settings') }}</a>
            </li>
            <li class="divider"></li>
            <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li>
            <a title="{{ _('Sign In / Register') }}"
                href="{{ url_for('security.login', next=request.url) }}">
                <span class="fa fa-sign-in"></span>
                {{ _('Sign In / Register') }}
            </a>
        </li>
        {% endif %}
        {% if g.lang_code and request.url %}
        <li class="dropdown language">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{{ theme_static('img/flags/{0}.png'.format(g.lang_code)) }}"
                  alt="Current locale flag"
                  width="16" height="16" />
            </a>
            <ul class="dropdown-menu">
                {% for code, name in config['LANGUAGES'].items() %}
                <li>
                    <a href="{{ request.url.replace('/{0}/'.format(g.lang_code),'/{0}/'.format(code)) }}">
                        <img src="{{ theme_static('img/flags/{0}.png'.format(code)) }}"
                            alt="{{name}} flag"
                            width="16" height="16" />
                        {{name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
