{% extends theme('base.html') %}

{% set meta = {
    'title': _('Home'),
    'description': _("%(site)s home", site=config['SITE_TITLE']),
    'keywords': [_('home')],
} %}

{% set bundle = 'home' %}

{% block content %}
{% if last_post %}
<div id="home-carousel" class="carousel slide megarousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{last_post.name}}
                            <small>Actualité du moment</small>
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <img class="img-responsive" src="{{last_post.image}}" alt="">
                    </div>
                    <div class="col-md-5">
                        {{ last_post.headline }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>{{ _('Last datasets') }}</h2>
      </div>
      <ul class="card-list">
          {% for dataset in recent_datasets[:9] %}
          <li class="col-md-4 col-sm-6">
            {% include theme('dataset/card.html') %}
          </li>
          {% endfor %}
      </ul>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.section -->

<div class="section-colored">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>{{ _('Last reuses') }}</h2>
      </div>
      <ul class="card-list">
        {% for reuse in recent_reuses[:9] %}
        <li class="col-md-4 col-sm-6">{% include theme('reuse/card.html') %}</li>
        {% endfor %}
      </ul>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.section -->
{% endblock %}
