{% extends theme('base.html') %}

{% set meta = {
    'title': _('Home'),
    'description': _("%(site)s home", site=config['SITE_TITLE']),
    'keywords': [_('home')],
} %}

{% set bundle = 'home' %}

{% block content %}
<div id="home-carousel" class="carousel slide megarousel">
  <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% if last_post %}
        <div class="item active">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{last_post.name}}
                            <small>Actualité du moment</small>
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <img class="img-responsive" src="{{last_post.image}}" alt="">
                    </div>
                    <div class="col-md-5">
                        {{ last_post.headline }}
                    </div>
                </div>

            </div>
        </div>
        {% endif %}

        <div class="item">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{ _('Featured datasets') }}
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <ul class="card-list">
                        {% for dataset in current_site.settings.home_datasets %}
                        <li class="col-md-4 col-sm-6">
                        {% include theme('dataset/card.html') %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
        {% for reuse in current_site.settings.home_reuses %}
        <div class="item">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{reuse.title}}
                            <small>{{ _('Reuse')}}</small>
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <img class="img-responsive" src="{{reuse.image}}" alt="">
                    </div>
                    <div class="col-md-5">
                        <p>{{reuse.description | mdstrip(300) }}</p>

                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="page-header">{{ _('Used datasets') }}</h3>
                            </div>

                            {% for dataset in reuse.datasets[:4] %}
                            <div class="col-xs-6">
                                {% include theme('dataset/card.html') %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#home-carousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#home-carousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
</div>

<div class="section">
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>{{ _('Last datasets') }}</h2>

            <ul class="card-list card-list--columned">
                {% for dataset in recent_datasets[:9] %}
                <li class="col-sm-4 col-xs-12">
                    {% include theme('dataset/card.html') %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.section -->

<div class="section-colored">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ _('Last reuses') }}</h2>

        <ul class="card-list card-list--columned">
        {% for reuse in recent_reuses[:5] %}
            {% set features = ['preview'] %}
            <li class="col-md-4 col-sm-6">
                {% include theme('reuse/card.html') %}
            </li>
        {% endfor %}
        </ul>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.section -->
{% endblock %}
