<!DOCTYPE html>
{%- set bundle = bundle|default('site') -%}
{%- set bundle_js = '{0}.js'.format(bundle)-%}
{%- set bundle_css = '{0}.css'.format(bundle)-%}
<html lang="{{ g.lang_code }}">
  <head>
    {% block raw_head %}
    {% from 'macros/metadata.html' import metadata with context %}
    {{ metadata(meta or {}) }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}{% endblock %}
    {% block theme_css %}
    {% endblock %}

    {% block extra_head %}{% endblock %}

    {{ hook('header.snippets') }}

    {% endblock raw_head %}

  </head>

  <body class="{{body_class}}">
    <section id="app">
      {% block body %}{% endblock %}
    </section>

    {% block extra_js %}{% endblock %}

    {{ hook('footer.snippets') }}

  </body>
</html>
