{% extends theme("layouts/1-column.html") %}
{% import theme('macros/search.html') as s %}

{% set body_class = 'multisearch' %}
{% set toolbar_class = '' %}

{% set meta = {
    'title': _('Search'),
    'description': _("%(site)s search", site=config['SITE_TITLE']),
    'keywords': [_('search')],
} %}

{% set datasets_search_url = url_for('datasets.list') %}
{% set reuses_search_url = url_for('reuses.list') %}
{% set organizations_search_url = url_for('organizations.list') %}
{% set users_search_url = url_for('users.list') %}

{% block breadcrumb_bar %}
<!-- Nav tabs -->
<ul class="nav nav-tabs search-tabs">
    <li class="active">
        <a href="#datasets" data-toggle="tab">
            {{ _('Datasets')}}
            <span class="badge">{{ datasets.total }}</span>
        </a>
    </li>
    {% if reuses %}
        <li>
            <a href="#reuses" data-toggle="tab">
                {{ _('Reuses') }}
                <span class="badge">{{ reuses.total }}</span>
            </a>
        </li>
    {% endif %}
    {% if organizations %}
        <li>
            <a href="#organizations" data-toggle="tab">
                {{ _('Organizations') }}
                <span class="badge">{{ organizations.total }}</span>
            </a>
        </li>
    {% endif %}
    {% if users %}
        <li>
            <a href="#users" data-toggle="tab">
                {{ _('Users') }}
                <span class="badge">{{ users.total }}</span>
            </a>
        </li>
    {% endif %}
</ul>
<div class="label-list">
    {{ s.filter_label('tag', _('Tag'), ficon('tag')) }}
    {{ s.filter_label('badge', _('Badge'), ficon('bookmark')) }}
</div>
{% endblock %}

{% block toolbar_container %}
<div class="btn-toolbar search-toolbar wrapper" data-tab="#datasets">
{{ s.breadcrum_toolbar(datasets, url=datasets_search_url,
    exports=(
        (_('Datasets'), 'site.datasets_csv', 'csv'),
        (_('Resources'), 'site.resources_csv', 'csv'),
    ),
    title=(_('Title'), 'asc'),
    created=(_('Creation date'), 'desc'),
    last_modified=(_('Last modification date'), 'desc'),
    reuses=(_('Reuses'), 'desc'),
    followers=(_('Stars'), 'desc')
) }}
</div>
{% if reuses %}
<div class="btn-toolbar search-toolbar wrapper hide" data-tab="#reuses">
{{ s.breadcrum_toolbar(reuses, url=reuses_search_url,
    exports=(
        (_('Reuses'), 'site.reuses_csv', 'csv'),
    ),
    title=(_('Title'), 'asc'),
    created=(_('Creation date'), 'desc'),
    last_modified=(_('Last modification date'), 'desc'),
    datasets=(_('Datasets used'), 'desc'),
    followers=(_('Stars'), 'desc'),
) }}
</div>
{% endif %}
{% if organizations %}
    <div class="btn-toolbar search-toolbar wrapper hide" data-tab="#organizations">
    {{ s.breadcrum_toolbar(organizations, url=organizations_search_url,
        exports=(
            (_('Organizations'), 'site.organizations_csv', 'csv'),
        ),
        name=( _('Name'), 'asc'),
        datasets=(_('Datasets'), 'desc'),
        reuses=(_('Reuses'), 'desc'),
        followers=(_('Followers'), 'desc'),
    ) }}
    </div>
{% endif %}
{% if users %}
    <div class="btn-toolbar search-toolbar wrapper hide" data-tab="#users">
    {{ s.breadcrum_toolbar(users, url=users_search_url,
        last_name=( _('Last Name'), 'asc'),
        first_name=( _('First Name'), 'asc'),
        datasets=(_('Datasets'), 'desc'),
        reuses=(_('Reuses'), 'desc'),
        followers=(_('Followers'), 'desc')
    ) }}
    </div>
{% endif %}
{% endblock %}

{% block main_content %}
<div class="tab-content">

    <div class="tab-pane row active" id="datasets">
        {% if datasets %}
            <div class="col-md-8 col-lg-9 smaller">
                <ul class="search-results">
                    {% for dataset in datasets %}
                    {% include theme('dataset/search-result.html') %}
                    {% endfor %}
                </ul>
                {% if datasets.has_next %}
                <p class="text-center">
                    <a class="btn btn-grey btn-sm" href="{{ url_for('datasets.list', **request.args) }}">
                        <span class="glyphicon glyphicon-list"></span>
                        {{ _('See the %(total)s results', total=datasets.total) }}
                    </a>
                </p>
                {% endif %}
            </div>

            <aside class="col-md-4 col-lg-3">
                {% set search_url = datasets_search_url %}
                {% include theme('dataset/search-panel.html') %}
            </aside>
        {% else %}
        <p class="text-center"><strong>{{ _('No results found') }}</strong></p>
        {% endif %}
    </div>

    <div class="tab-pane row" id="reuses">
        {% if reuses %}
            <div class="col-md-8 col-lg-9 smaller">
                <ul class="search-results">
                    {% for reuse in reuses %}
                    {% include theme('reuse/search-result.html') %}
                    {% endfor %}
                </ul>
                {% if reuses.has_next %}
                <p class="text-center">
                    <a class="btn btn-grey btn-sm" href="{{ url_for('reuses.list', **request.args) }}">
                        <span class="glyphicon glyphicon-list"></span>
                        {{ _('See the %(total)s results', total=reuses.total) }}
                    </a>
                </p>
                {% endif %}
            </div>

            <aside class="col-md-4 col-lg-3">
                {% set search_url = reuses_search_url %}
                {% include theme('reuse/search-panel.html') %}
            </aside>
        {% else %}
        <p class="text-center"><strong>{{ _('No results found') }}</strong></p>
        {% endif %}
    </div>

    <div class="tab-pane row" id="organizations">
        {% if organizations %}
            <div class="col-md-8 col-lg-9 smaller">
                <ul class="search-results">
                    {% for organization in organizations %}
                    {% include theme('organization/search-result.html') %}
                    {% endfor %}
                </ul>
                {% if organizations.has_next %}
                <p class="text-center">
                    <a class="btn btn-grey btn-sm" href="{{ url_for('organizations.list', **request.args) }}">
                        <span class="glyphicon glyphicon-list"></span>
                        {{ _('See the %(total)s results', total=organizations.total) }}
                    </a>
                </p>
                {% endif %}
            </div>

            <aside class="col-md-4 col-lg-3">
                {% set search_url =organizations_search_url %}
                {% include theme('organization/search-panel.html') %}
            </aside>
        {% else %}
        <p class="text-center"><strong>{{ _('No results found') }}</strong></p>
        {% endif %}
    </div>

    <div class="tab-pane row" id="users">
        {% if users %}
            <div class="col-md-8 col-lg-9 smaller">
                <ul class="search-results">
                    {% for user in users %}
                    {% include theme('user/search-result.html') %}
                    {% endfor %}
                </ul>
                {% if users.has_next %}
                <p class="text-center">
                    <a class="btn btn-grey btn-sm" href="{{ url_for('users.list', **request.args) }}">
                        <span class="glyphicon glyphicon-list"></span>
                        {{ _('See the %(total)s results', total=users.total) }}
                    </a>
                </p>
                {% endif %}
            </div>

            <aside class="col-md-4 col-lg-3">
                {% set search_url = users_search_url %}
                {% include theme('user/search-panel.html') %}
            </aside>
        {% else %}
        <p class="text-center"><strong>{{ _('No results found') }}</strong></p>
        {% endif %}
    </div>

</div>
{% endblock %}
