{% extends theme('base.html') %}
{% import theme('macros/forms.html') as forms with context %}

{% block content %}
<section class="fr-py-3w fr-py-md-9v bg-grey-50">
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="form-container text-align-center fr-col-12 fr-col-md-6 fr-col-offset-md-3">
                <form class="form" method="post" action="{{ url_for('security.forgot_password') }}">
                    <h1 class="fr-h4 fr-mb-0">{{ _('Reset Password') }}</h1>
                    <p class="fr-mt-2w fr-mb-1w f-light fr-text--sm text-align-left">
                        {{ _("Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.") }}
                    </p>
                    <p class="fr-my-1w fr-text--xs text-align-left">
                        {{ _("Fields preceded by a star (<span class='required-field-star'>*</span>) are required.") }}
                    </p>
                    {{ forms.render_fields(forgot_password_form, submit=_('Reset Password')) }}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
