<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Etalab</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="author" content="" />

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/vendor/d3.js"></script>
    <script src="js/BarChart.js"></script>
	<script src="js/RadarChart.js"></script>
	<script src="js/LineChart.js"></script>


</head>

<body id='page1' >

<section class='metriques'>
	<article>
		<h2>Des données</h2>
		<ul>
			<li>
				<a href="#" id="line_1">
					<div class="chart">
						<div id="selectedInfosLine" class="selectedInfos">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<p></p>
					<h4></h4>
				</a>
			</li><!--
			!--><li>
				<a href="#" id="line_2">
					<div class="chart">
						<div id="selectedInfosLine" class="selectedInfos">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<p></p>
					<h4></h4>
				</a>
			</li><!--
			!--><li>
				<a href="#" id="line_3">
					<div class="chart">
						<div id="selectedInfosLine" class="selectedInfos">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<p></p>
					<h4></h4>
				</a>
			</li>
		</ul>
	</article>
	<article>
		<h2>Du contenu</h2>
		<ul>
			<li>
				<a href="#" id="radar_1">
					<div class="chart">
						<div id="selectedInfosRadar" class="selectedInfos">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<p></p>
					<h4></h4>
				</a>
			</li><!--
			!--><li>
				<a href="#" id="radar_2">
					<div class="chart">
						<div id="selectedInfosRadar" class="selectedInfos">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<p></p>
					<h4></h4>
				</a>
			</li><!--
			!--><li>
				<a href="#" id="radar_3">
					<div class="chart">
						<div id="selectedInfosRadar" class="selectedInfos">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<p></p>
					<h4></h4>
				</a>
			</li>
		</ul>
	</article>
	<article>
		<h2>Une communauté</h2>
		<ul>
			<li>
				<a href="#" id="bar_1">
					<div class="chart">
						<div id="selectedInfosRadar" class="selectedInfos">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<p></p>
					<h4></h4>
				</a>
			</li><!--
			!--><li>
				<a href="#" id="bar_2">
					<div class="chart">
						<div id="selectedInfosRadar" class="selectedInfos">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<p></p>
					<h4></h4>
				</a>
			</li><!--
			!--><li>
				<a href="#" id="bar_3">
					<div class="chart">
						<div id="selectedInfosRadar" class="selectedInfos">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<p></p>
					<h4></h4>
				</a>
			</li>
		</ul>
	</article>
</section>

<script type="text/javascript" src="js/graphs_script.js"></script>

</body>
</html>
