{% cache cache_duration, 'territory-search-result', territory.id, g.lang_code %}
{% set logo=territory.logo_url() or theme_static('img/placeholder_territory_medium.png') %}
{% set features = features or [] %}
<div class="card territory-card">
    <div class="card-logo">
        <a href="{{ territory.url }}" title="{{ territory.name }}">
            <img alt="{{ territory.name }}"
                src="{{ logo }}"
                width="86" height="86">
        </a>
    </div>

    <div class="card-body">
        <h4>
            <a href="{{ territory.url }}" title="{{ territory.name }}">
                {{ territory.name }}
            </a>
        </h4>

        <div class="clamp-3">
            {{ _('INSEE code:') }} {{ territory.code }}<br/>
            {% if territory.postal_string %}
                {{ _('Postal code:') }} {{ territory.postal_string }}
            {% endif %}
        </div>
    </div>

    {% if 'footer' in features or 'no-footer' not in features %}
    <footer class="card__footer">
        <ul>
            <li v-tooltip tooltip-placement="top"
                title="{{ _('Administrative level') }}">
                <span class="fa fa-bullseye fa-fw"></span>
                {{ territory.level_i18n_name }}
            </li>
            {% if territory.population %}
            <li v-tooltip tooltip-placement="top"
                title="{{ _('Population') }}">
                <span class="fa fa-users fa-fw"></span>
                {{ territory.population|format_number }}
            </li>
            {% endif %}
        </ul>
    </footer>
    {% endif %}
</div>
{% endcache %}
