{% extends theme("layouts/1-column.html") %}

{% set meta = {
    'title': _('French regions'),
    'description': _('French regions'),
} %}

{% set body_class="territory" %}

{% block main_content %}
<div class="row">
    <div class="col-sm-12">
        <h1>{{ _('Click to navigate to the given region:') }}</h1>
        <div id="map-nav" style="height:100vh; width:100%"></div>
        <h3>{{ _('Or sorted alphabetically:') }}
            {% for region in regions %}
                <a href="{{ region.url }}">{{ region.name }}</a>{% if loop.last %}.{% else %},{% endif %}
            {% endfor %}
        </h3>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{{ static('vue-common.js') }}"></script>
    <script src="{{ static('territory.js') }}"></script>
    <script>
        var defaultCenter = [47, 2];
        var defaultZoom = 6;
        var tilelayer = L.tileLayer(uData.config.tiles_url, uData.config.tiles_config);
        var map = L.map('map-nav', {
            center: defaultCenter,
            zoom: defaultZoom,
            zoomControl: false
        });
        L.geoJson({{ geojson|tojson }}, {
            onEachFeature: function (feature, layer) {
                layer.on('click', function () {
                    window.location = '/fr/territories/region/' + feature.properties.code +
                                      '@' + feature.properties.validity.start + '/' +
                                      feature.properties.slug + '/';
                })
            }
        }).addTo(map);
        tilelayer.addTo(map);
        map.setView(defaultCenter, defaultZoom);
    </script>
{% endblock %}
