{% macro breadcrumb(tpl) %}
{% if tpl.breadcrumb and tpl.breadcrumb() or tpl.breadcrumb_bar and tpl.breadcrumb_bar() %}
<section class="breadcrumb-bar {{ breadcrum_class }}">
    <div class="container">
        {% if tpl.breadcrumb_bar %}
        <div class="left-bar col-md-8 col-lg-9">
            {% block breadcrumb_bar %}{% endblock %}
        </div>
        {% elif tpl.breadcrumb %}
        <ol class="breadcrumb col-md-8 col-lg-9">
            <li>
                <a href="{{ url_for('site.home') }}" title="{{ _('Home') }}">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            {% block breadcrumb %}{% endblock %}
        </ol>
        {% endif %}
        <div class="col-md-4 col-lg-3 toolbar">
            {% block toolbar_container %}
                <div class="btn-toolbar {{ toolbar_class }}" role="toolbar">
                {% block toolbar %}{% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
</section>
{% endif %}
{% endmacro %}
