{% macro issues_btn(obj, icons=None) %}
{% set basename = obj.__class__.__name__|lower %}
<button type="button" class="btn btn-danger btn-issues"
    data-api-url="{{ url_for('api.{0}_issues'.format(basename), id=obj.id|string) }}"
    rel="tooltip" title="{{ _('Issues') }}"
    data-placement="right" data-container="body">
    <span class="{{ ficon('fa-bug') }}"></span>
    <span class="count">{% if obj.metrics.issues or 0 > 0 %}({{ obj.metrics.issues }}){% endif %}</span>
</button>
{% endmacro %}
