{% macro metadata(meta) %}
{% set title = meta.title or _('Home') %}
{% set description = meta.description or _('Share, improve and reuse public data') %}
{% set image = meta.image %}
{% set keywords = meta.keywords or [] %}
{% set meta_type = meta.type or 'website' %}
<meta charset="utf-8" />
<title>{{ title }}</title>
<meta property="og:type" content="{{ meta_type }}" />
<meta property="og:title" content="{{ title }}" />
<link rel="author" href="{{ config.SITE_AUTHOR_URL }}" />
<meta name="description" content="{{ description }}" />
{% if config.DISALLOW_INDEXING %}<meta name="robots" content="noindex,nofollow" />
{% elif meta.robots %}<meta name="robots" content="{{ meta.robots }}" />
{% endif %}
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ image }}" />
<meta name="static-root" content="{{ static('', _burst=False) }}" />
<meta name="api-root" content="{{ url_for('api.root') }}" />
<meta name="admin-root" content="{{ url_for('admin.index') }}" />
<meta name="api-specs" content="{{ url_for('api.specs', _external=True) }}"/>
<meta name="apiv2-specs" content="{{ url_for('apiv2.specs', _external=True) }}"/>
<meta name="auth-url" content="{{ url_for('security.login') }}" />
<meta name="github" content="{{ config.SITE_GITHUB_URL }}" />
{% if config.SENTRY_PUBLIC_DSN %}
<meta name="sentry" content="{{config.SENTRY_PUBLIC_DSN}}"
    data-release="{{config.SENTRY_RELEASE}}"
    data-tags="{{config.SENTRY_TAGS|default({})|tojson|urlencode}}"
/>
{% endif %}
<meta name="csrf-token" content="{{ csrf_token() }}" />
<meta name="site-title" content="{{config.SITE_TITLE}}" />

{% if current_user.is_authenticated %}
<meta name="current-user" content="{{ current_user.id }}"
    data-slug="{{ current_user.slug }}"
    data-first_name="{{ current_user.first_name }}"
    data-last_name="{{ current_user.last_name }}"
    data-roles="{{ current_user.roles|join(',') }}"
    data-avatar="{{ current_user.avatar }}"
/>
{% endif %}

<meta name="check-urls" content="{{ config.LINKCHECKING_ENABLED|tojson }}" />
<meta name="unchecked-types" content="{{ config.LINKCHECKING_UNCHECKED_TYPES|tojson|urlencode }}" />
<meta name="territory-enabled" content="{{ 'true' if config.ACTIVATE_TERRITORIES else 'false' }}">
<meta name="delete-me-enabled" content="{{ 'true' if config.DELETE_ME else 'false' }}">
<meta name="search-autocomplete-enabled" content="{{ 'true' if config.SEARCH_AUTOCOMPLETE_ENABLED else 'false' }}">
<meta name="search-autocomplete-debounce" content="{{ config.SEARCH_AUTOCOMPLETE_DEBOUNCE }}">
{% if config.ORG_BID_FORMAT %}
    <meta name="org-bid-format" content="{{ config.ORG_BID_FORMAT }}">
{% endif %}
<meta name="markdown-config" content="{{ {
    'tags': config.MD_ALLOWED_TAGS,
    'attributes': config.MD_ALLOWED_ATTRIBUTES,
    'styles': config.MD_ALLOWED_STYLES,
}|tojson|urlencode }}" />

<meta name="tags-config" content="{{ {
    'MIN_LENGTH': config.TAG_MIN_LENGTH,
    'MAX_LENGTH': config.TAG_MAX_LENGTH,
}|tojson|urlencode }}" />
<meta name="license-groups-options" content={{
    config.LICENSE_GROUPS|tojson|urlencode
}} />
<meta name="read-only-enabled" content="{{ 'true' if config.READ_ONLY_MODE else 'false' }}">
<meta name="harvest-enable-manual-run" content="{{ 'true' if config.HARVEST_ENABLE_MANUAL_RUN else 'false' }}">
{% if config.HARVEST_VALIDATION_CONTACT_FORM %}
<meta name="harvest-validation-contact-form" content="{{config.HARVEST_VALIDATION_CONTACT_FORM}}">
{% endif %}

{% endmacro %}
