{% macro metric_widgets(metrics, rows, size='col-md-4') %}
{% for row in rows %}
<div>
    {% if row.title %}<h2>{{ row.title }}</h2>{% endif %}
    <ul class="chart-list row">
        {% for widget in row.widgets %}
        <li class="{{size}}">
            <a {% if widget.endpoint %}
                href="{{ url_for(widget.endpoint, **(widget.args or {})) }}"
                {% endif %}
                data-chart-type="{{ widget.type }}"
                data-chart-data="{{ widget.data or widget.metric }}">
                <div class="chart">
                    <span class="fa fa-4x fa-cog fa-spin"></span>
                </div>
                <p>{{ metrics.get(widget.metric, 0) }}</p>
                <h4>{{ widget.title }}</h4>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
{% endmacro %}
