{% macro paginator(p, nb=3, url=None) %}

{% if p.pages > 1 %}
{% set start = 1 if p.page <= nb else p.page - nb %}
{% set end = p.pages if p.page + nb > p.pages else p.page + nb %}
<div class="text-center">
    <ul class="pagination">
        <li {% if p.page == 1 %}class="disabled"{% endif %}>
            <a {% if p.page > 1 %}href="{{ url_rewrite(url, page=1) }}"{% endif %}
                title="{% trans %}First page{% endtrans %}" rel="nofollow">
                &laquo;
            </a>
        </li>
        <li {% if p.page == 1 %}class="disabled"{% endif %}>
            <a {% if p.page > 1 %}href="{{ url_rewrite(url, page=p.page - 1) }}"{% endif %}
                title="{% trans %}Previous page{% endtrans %}" rel="nofollow">
                &lsaquo;
            </a>
        </li>
        {% for num_page in range(start, end + 1) %}
        <li {% if num_page == p.page %}class="active"{% endif %}>
            <a href="{{ url_rewrite(url, page=num_page) }}" rel="nofollow">{{ num_page }}</a>
        </li>
        {% endfor %}
        <li {% if p.page == p.pages %}class="disabled"{% endif %}>
            <a {% if p.page < p.pages %}href="{{ url_rewrite(url, page=p.page + 1) }}"{% endif %}
                title="{% trans %}Next page{% endtrans %}" rel="nofollow">
                &rsaquo;
            </a>
        </li>
        <li {% if p.page == p.pages %}class="disabled"{% endif %}>
            <a {% if p.page < p.pages %}href="{{ url_rewrite(url, page=p.pages) }}"{% endif %}
                title="{% trans %}Last page{% endtrans %}" rel="nofollow">
                &raquo;
            </a>
        </li>
    </ul>
</div>
{% endif %}
{% endmacro %}
