{% set nb_displayed_facets = 5 %}

{% macro breadcrum_toolbar(result, url=None, exports=None) %}
{% if kwargs %}
    {% set to_url = result.query.to_url %}
    {% if in_url('sort') %}
        {% if request.args.sort.startswith('-') %}
            {% set current_sort, current_order = request.args.sort[1:], 'desc' %}
        {% else %}
            {% set current_sort, current_order = request.args.sort, 'asc' %}
        {% endif %}
        {% if current_sort in kwargs %}
            {% set label, default_order = kwargs[current_sort] %}
        {% endif %}
    {% endif %}
{% endif %}
<span class="text">{{ _('Sort by') }}</span>
<div class="btn-group">
    <button type="button" class="btn btn-sorter btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-fw fa-chevron-down hidden-sm"></span>
        {{ label|truncate(12, True) or '---' }}
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ to_url(url=url, sort=None) }}">
                ---
            </a>
        </li>
        {% for field, (label, order) in kwargs.items() %}
            {% set sort = field if order == 'asc' else '-'+field %}
            <li>
                <a href="{{ to_url(url=url, replace=True, sort=sort) }}">
                    {{ label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% if current_sort and current_order and default_order %}
    {% set btn_class = 'btn-default' if current_order == default_order else 'btn-warning' %}
    <a class="btn {{ btn_class }} btn-xs"
        href="{{ to_url(url=url, replace=True, sort=current_sort if current_order == 'desc' else '-'+current_sort) }}"
        title="{{ _('Ascending') if current_order == 'asc' else _('Descending') }}">
        <span class="fa fa-sort-amount-{{current_order}}"></span>
    </a>
{% endif %}
{% if result.total and exports %}
    <div class="dropdown pull-right">
        <button class="btn btn-xs btn-warning export-btn dropdown-toggle" type="button" id="export-btn" data-toggle="dropdown">
            <span class="fa fa-download"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="export-btn">
            <li role="presentation" class="dropdown-header">{{ _('Export') }}</li>
            {% for label, endpoint, type in exports %}
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{{ result.query.to_url(
                    url_for(endpoint), facets=None, page=None, page_size=None, replace=true)
                }}">
                {{label}}
                <span class="label label-primary">{{type}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endmacro %}

{% macro filter_label(name, label, icon=None, labelize=None) %}
{% set values = request.args.getlist(name) or [] %}
{% for value in values %}
<span class="tag label label-info" title="{{ label }}">
    {% if icon %}
    <span class="{{ icon }} fa-fw"></span>
    {% endif %}
    <span>{{ labelize(label, value) if labelize else value }}</span>
    <a href="{{ ''|url_del('page', **{name: value}) }}">
        <span class="close-icon glyphicon glyphicon-remove"></span>
    </a>
</span>
{% endfor %}
{% endmacro %}


{% macro facet_panel(result, name, label, icon=None, url=None) %}
{% set facet = result.get_facet(name) %}
{% if facet.visible %}
    <div class="panel-heading clickable"
        data-toggle="collapse" data-target="#collapse-{{result.class_name}}-{{name}}">
        <h3 class="panel-title">
            {% if in_url(name) %}
            <a href="{{ url_del(None, name, 'page') }}"
                class="btn btn-xs btn-link pull-right" title="{{ _('Clear filter') }}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            {% endif %}
            <span class="{{icon or 'glyphicon glyphicon-filter'}} fa-fw"></span>
            {{ label or name }}
            <span class="fa fa-chevron-down pull-right chevrons"></span>
        </h3>
    </div>
    {% if facet.type == 'terms' %}
        {{ term_facet(name, facet, result.query, url=url, class_name=result.class_name) }}
    {% elif facet.type == 'models' %}
        {{ model_facet(name, facet, result.query, url=url, class_name=result.class_name) }}
    {% elif facet.type == 'bool' %}
        {{ bool_facet(name, facet, result.query, url=url) }}
    {% elif facet.type == 'range' %}
        {{ range_facet(name, facet, result.query, url=url) }}
    {% elif facet.type == 'daterange' %}
        {{ daterange_facet(name, facet, result.query, url=url) }}
    {% elif facet.type == 'temporal-coverage' %}
        {{ temporal_coverage_facet(name, facet, result.query, url=url) }}
    {% endif %}
{% endif %}
{% endmacro %}


{% macro term_facet(name, facet, query, url=None, class_name=None) %}
<div id="collapse-{{class_name}}-{{name}}" class="list-group collapse in">
{% for term, count in facet.terms[:nb_displayed_facets] %}
    <a href="{{ query.to_url(url, **{name: term}) }}"
        class="list-group-item">
        {{ query.adapter.facets[name].labelize('', term) }}
        <span class="badge pull-right">{{ count }}</span>
    </a>
{% endfor %}
{% if facet.terms|length > nb_displayed_facets %}
    <button class="list-group-item"
        data-toggle="collapse" data-target="#collapse-{{class_name}}-{{name}}-more">
        {{ _('More results…') }}
        <span class="fa fa-chevron-right pull-right"></span>
    </button>
    <div id="collapse-{{class_name}}-{{name}}-more" class="list-group collapse list-group-more">
    {% for term, count in facet.terms[nb_displayed_facets:] %}
        <a href="{{ query.to_url(url, **{name: term}) }}"
            class="list-group-item">
            {{ query.adapter.facets[name].labelize('', term) }}
            <span class="badge pull-right">{{ count }}</span>
        </a>
    {% endfor %}
    </div>
{% endif %}
</div>
{% endmacro %}


{% macro model_facet(name, facet, query, url=None, class_name=None) %}
<div id="collapse-{{class_name}}-{{name}}" class="list-group collapse in">
{% for obj, count in facet.models[:nb_displayed_facets] %}
    <a href="{{ query.to_url(url, **{name: obj.id|string}) }}"
        class="list-group-item">
        {{ obj }}
        <span class="badge pull-right">{{ count }}</span>
    </a>
{% endfor %}
{% if facet.models|length > nb_displayed_facets %}
    <button class="list-group-item list-group-more"
        data-toggle="collapse" data-target="#collapse-{{class_name}}-{{name}}-more">
        {{ _('More results…') }}
        <span class="fa fa-chevron-right pull-right"></span>
    </button>
    <div id="collapse-{{class_name}}-{{name}}-more" class="list-group collapse list-group-more">
    {% for obj, count in facet.models[nb_displayed_facets:] %}
        <a href="{{ query.to_url(url, **{name: obj.id|string}) }}"
            class="list-group-item">
            {{ obj }}
            <span class="badge pull-right">{{ count }}</span>
        </a>
    {% endfor %}
    </div>
{% endif %}
</div>
{% endmacro %}


{% macro bool_facet(name, facet, query, url=None) %}
<div id="collapse-{{name}}" class="list-group collapse in">
    <a href="{{ query.to_url(url, **{name: 'true'}) }}"
        class="list-group-item">
        {{ _('Yes') }}
        <span class="badge pull-right">{{ facet[true] }}</span>
    </a>
    <a href="{{ query.to_url(url, **{name: 'false'}) }}"
        class="list-group-item">
        {{ _('No') }}
        <span class="badge pull-right">{{ facet[false] }}</span>
    </a>
</div>
{% endmacro %}


{% macro range_facet(name, facet, query, url=None) %}
<div id="collapse-{{name}}" class="panel-body collapse in">
    <div class="row">
        <div class="col-xs-12 slider-container">
            <input type="text" class="range-picker"
                data-url-pattern="{{ query.to_url(url, **{name: '__r__', 'replace': True}) }}"
                data-slider-min="{{ facet.min }}"
                data-slider-max="{{ facet.max }}"
                data-slider-value="[{{ facet.min }},{{ facet.max }}]"/>
        </div>
    </div>
    <div class="row">
        <b class="col-xs-6">{{ facet.min }}</b>
        <b class="col-xs-6 text-right">{{ facet.max }}</b>
    </div>
</div>
{% endmacro %}


{% macro daterange_facet(name, facet, query, url=None) %}
<div id="collapse-{{name}}" class="panel-body collapse in">
    <div class="row">
        <div class="col-xs-12">
            <input type="hidden" class="date-range-picker"
                value="{{ facet.min.isoformat() }} - {{ facet.max.isoformat() }}" />
        </div>
    </div>
</div>
{% endmacro %}


{% macro temporal_coverage_facet(name, facet, query, url=None) %}
<div id="collapse-{{name}}" class="panel-body collapse in temporal-coverage"
    data-url-pattern="{{ query.to_url(url, **{name: '__r__', 'replace': True}) }}">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="input-sm form-control" name="start"
                    value="{{ facet.min.isoformat() }}"
                    data-isodate="{{ facet.min.isoformat() }}"/>
                <span class="input-group-addon">{{ _('to') }}</span>
                <input type="text" class="input-sm form-control" name="end"
                    value="{{ facet.max.isoformat() }}"
                    data-isodate="{{ facet.max.isoformat() }}"/>
            </div>
        </div>
    </div>
    <div class="row hide">
        <div class="col-xs-12 text-center">
            <div class="facet-datepicker"
                date-date-format="yyyy-mm-dd"
                data-date-start-date="{{ facet.min.isoformat() }}"
                data-date-end-date="{{ facet.max.isoformat() }}"
            ></div>
        </div>
    </div>
    <div class="row hide">
        <div class="col-xs-12">
            <a class="btn btn-default btn-block btn-apply">
                <span class="{{ ficon('refresh') }}"></span>
                {{ _('Apply') }}
            </a>
        </div>
    </div>
</div>
{% endmacro %}


{% macro panel_header(result, csv_endpoint=None) %}
<div class="panel-heading">
    {% if result.total %}
        {{ _('Results %(start)s to %(end)s on %(total)s found',
            start=result.page_start,
            end=result.page_end,
            total=result.total,
        ) }}
        {% if csv_endpoint %}
        <a class="btn btn-xs btn-info pull-right"
            href="{{ result.query.to_url(
                url_for(csv_endpoint), facets=None, page=None, page_size=None, replace=true)
            }}">
            <span class="fa fa-download"></span>
            CSV
        </a>
        {% endif %}
    {% else %}
        {{ _('No result found') }}
    {% endif %}
</div>
{% endmacro %}
