{% macro timeline(activities) %}
{% if activities %}
<ul class="timeline">
    <li class="timeline-header">
        <div class="timeline-badge">
            <span class="fa fa-clock-o fa-fw"></span>
        </div>
    </li>
    {% for activity in activities %}
    <li>{% include theme(activity.template) %}</li>
    {% endfor %}
    <li class="timeline-expander">
        <div class="timeline-badge">
            <span class="fa fa-plus fa-fw"></span>
        </div>
    </li>
</ul>
{% else %}
<p class="text-center lead">{{ _('No recent activity') }}</p>
{% endif %}
{% endmacro %}
