{% extends theme("base.html") %}

{% set title = title|default(error.name) %}

{% block content %}
<section class="error">
    <div class="fr-container fr-py-9v">
        <h1>
            {{ _('Error %(code)s', code=error.code) }}
            <small>{{ title }}</small>
        </h1>
        {% block details %}<p class="fr-text--lead">{{ error.description }}</p>{% endblock %}
        <p>
            <a class="fr-btn" href="{{ url_for('site.home') }}">
                {{ _('Home') }}
            </a>
        </p>
    </div>
</section>
{% endblock %}
