{% extends theme("territories/territory.html") %}

{% set meta = {
    'title': territory.name,
    'description': _('Datasets related to the town of %(name)s with INSEE code %(code)s and postal code %(postal)s', name=territory.name, code=territory.code, postal=territory.postal_string),
    'keywords': [territory.name, territory.code, territory.postal_string],
} %}

{% block territory_content %}
<p class="breadcrumb">
    <a href="{{ url_for('territories.home') }}">France</a> →
    {{ _('Region:') }} <a
        href="{{ territory.current_parent.current_parent.url }}">{{ territory.current_parent.current_parent.name }}</a>
    →
    {{ _('County:') }} <a href="{{ territory.current_parent.url }}">{{ territory.current_parent.name }}</a> →
    {{ _('Town:') }} <a href="{{ territory.url }}">{{ territory.name }}</a>
</p>
<div class="col-sm-8 col-xs-12">
    <div class="col-xs-3">
        <img src="{{ logo }}" alt="{{ territory.name }}" class="scalable" />
        {% if territory.logo_url() %}
        <div class="text-center">
            <small>
                {{ _('Source:') }} <a href="{{ territory.wikipedia_url }}">Wikipedia</a> •
                {{ _('License:') }} <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA</a>
            </small>
        </div>
        {% else %}
        <div class="text-center">
            <small>
                {{ _('Submit your logo through:') }} <a href="{{ territory.wikipedia_url }}">Wikipedia</a><br>
                ({{ _('we only expose logos under an open license') }})
            </small>
        </div>
        {% endif %}
    </div>

    <div class="col-xs-9 tab-links">
        <h1>{{ territory.name }}</h1>
        <p>
            <strong>
                {{ _('INSEE code:') }} {{ territory.code }}
            </strong>
        </p>
        {% if territory.postal_string %}
        <p>
            <strong>
                {{ _('Postal code:') }} {{ territory.postal_string }}
            </strong>
        </p>
        {% endif %}
        {% if territory.population %}
        <p>
            <strong>
                {{ _('Population:') }} {{ territory.population|format_number }}
            </strong>
        </p>
        {% endif %}
    </div>
</div>

<aside class="col-sm-4 col-xs-12">
    <div class="panel panel-default">
    </div>
</aside>
{% endblock %}
