{% from theme('macros/search.html') import site_search with context %}
<nav class="navbar navbar-static-top navbar-subnav subnav-large subnav-topic {% if topic.color %}topic-{{topic.color}}{% endif %}">
    <div class="cover-topic"></div>
    <div class="container">

        <div class="side-bgs">
            <div class="bg"></div>
            <div class="bg collapse sidebg-collapse"></div>
        </div>

        <div class="search_sidebar col-sm-5 col-md-4 col-xs-12" role="search">

            <nav class="sidebar panel">
                {{ site_search(size='lg') }}
            </nav>

            <nav class="sidebar panel collapse subnav-collapse">
                <!-- Groups -->
                <div class="list-group">
                    {% for topic in g.featured_topics %}
                    <a class="list-group-item" href="{{ url_for('topics.display', topic=topic) }}">
                        {{ topic.name }}
                    </a>
                    {% endfor %}
                </div>
            </nav>

        </div>

        <div class="topic-excerpt col-sm-7 col-md-8 col-xs-12">
            <h3>{{ topic.name }}</h3>
            {{ topic.description|markdown }}
        </div>

        <div class="tags col-sm-7 col-md-8 col-xs-12">
            {% for tag in topic.tags %}
            <a href="{{ url_for('search.index', tag=tag) }}"
                class="btn btn-primary btn-grey btn-xs"
                title="{{ tag }}">
                {{ tag|truncate(14, True) }}
            </a>
            {% endfor %}
        </div>

    </div>
</nav>
