{% extends 'mail/base.html' %}
{% from 'mail/button.html' import mail_button %}

{% block body %}
<p style="margin: 0;padding: 0;">{{
    _('%(user)s has identified your organization "%(name)s" as public service',
    user=(
        '<a href="'|safe
        + badge.created_by.external_url_with_campaign
        + '">'|safe
        + badge.created_by.fullname
        + '</a>'|safe
    ),
    name=(
        '<a href="'|safe
        + organization.external_url_with_campaign
        + '">'|safe
        + organization.name|string
        + '</a>'|safe
    )
) }}.</p>
<br/>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            {{ mail_button(
                _('See the badge'),
                organization.external_url_with_campaign
            ) }}
        </td>
    </tr>
</table>
{% endblock %}
