{% extends 'mail/base.html' %}
{% from 'mail/button.html' import mail_button %}

{% block body %}
<p style="margin: 0;padding: 0;">{{
    _('%(user)s closed an discussion on your %(type)s %(subject)s',
        type=discussion.subject.verbose_name,
        user=(
            '<a href="'|safe
            + discussion.closed_by_org_or_user.external_url_with_campaign
            + '">'|safe
            + discussion.closed_by_name
            + '</a>'|safe
        ),
        subject=(
            '<a href="'|safe
            + discussion.external_url_with_campaign
            + '">'|safe
            + discussion.subject|string
            + '</a>'|safe
        )
    )
}}.</p>
<br/>
<p style="margin: 0;padding: 0;">
    <b>{{ _('Title') }}:</b>
    {{ discussion.title }}
</p>

{% if message %}
<p style="margin: 0;padding: 0;">
    <b>{{ _('Message') }}:</b>
    {{ message.content | markdown }}
</p>
{% endif %}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            {{ mail_button(
                _('See the discussion'),
                discussion.external_url_with_campaign
            ) }}
        </td>
    </tr>
</table>
{% endblock %}
