{% extends 'mail/base.html' %}
{% from 'mail/button.html' import mail_button %}
{% from 'user/mail_card.html' import user_mail_card with context %}


{% block body %}
<p style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;">
{{ _('As an administrator of "%(org)s" you are being informed than a new membership request from %(user)s is pending for validation',
    user=(
        '<a href="'|safe
        + url_for('users.show', user=request.user, _external=True)
        + '">'|safe
        + request.user.fullname
        + '</a>'|safe
    ),
    org=(
        '<a href="'|safe
        + url_for('organizations.show', org=org, _external=True)
        + '">'|safe
        + org.name
        + '</a>'|safe
    ),
) }}.</p>

<br/>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="15%"></td>
        <td width="70%" align="center">
            {{ user_mail_card(request.user, request.comment) }}
        </td>
        <td width="15%"></td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            {{ mail_button(
                _('See the request'),
                url_for('admin.index', path='organization/{id}/'.format(id=org.id), _anchor='membership-requests', _external=True)
            ) }}
        </td>
    </tr>
</table>
{% endblock %}
