{% extends 'mail/base.html' %}
{% from 'mail/button.html' import mail_button %}

{% block body %}
<p style="margin: 0;padding: 0;">{{
    _('%(user)s submitted a new issue on your %(type)s %(subject)s',
    type=issue.subject.verbose_name,
    user=(
        '<a href="'|safe
        + url_for('users.show', user=issue.user, _external=True)
        + '">'|safe
        + issue.user.fullname
        + '</a>'|safe
    ),
    subject=(
        '<a href="'|safe
        + issue.subject.external_url
        + '">'|safe
        + issue.subject|string
        + '</a>'|safe
    )
) }}.</p>
<br/>
<p style="margin: 0;padding: 0;">
    <b>{{ _('Title') }}:</b>
    {{ issue.title }}
</p>
<p style="margin: 0;padding: 0;">
    <b>{{ _('Message') }}:</b>
    {{ message.content | markdown }}
</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            {{ mail_button(
                _('See the issue'),
                issue.subject.external_url
            ) }}
        </td>
    </tr>
</table>
{% endblock %}
