{% extends theme('faq/base.html') %}

{% set meta = {
    'title': _('Découvrir l’OpenData en tant que citoyen - FAQ'),
    'description': _('Questions fréquemment posées sur la plateforme data.gouv.fr'),
    'keywords': ['Citoyen', 'OpenData', 'FAQ', 'Questions fréquemment posées'],
} %}

{% block faq_content %}
<h1>Découvrir l’OpenData en tant que citoyen</h1>
<h2>Quelles données sont publiées sur « data.gouv.fr » ?</h2>
<p>Des <strong>données publiques produites ou reçues dans le cadre d’une mission de service public</strong> : impôts, budgets, subventions, dépenses, aménagement du territoire, chômage, rénovation de logements, mesures de qualité de l'air, adresses des services publics, délinquance et criminalité, statistiques du tourisme, résultats électoraux, dépenses de la Sécurité sociale, effectifs des fonctions publiques, aides de la politique agricole commune, rejets de polluants dans l'air par les installations industrielles…
</p>
<p>« data.gouv.fr » poursuit également l’ambition d’être un outil à la disposition des citoyens pour leur permettre de <strong>produire, d’enrichir ou de compléter ces données</strong> ou de <strong>partager des données d'intérêt public</strong>, qu’il s’agisse par exemple de l’inventaire d’une bibliothèque communale, de l’état de la voirie, de la composition nutritionnelle de produits alimentaires ou du bilan environnemental d’une entreprise.
</p>
<p>Les données à caractère personnel (données fiscales ou patrimoniales, données médicales, etc.) et celles dont la publication contrevient à la loi (secret médical, secret de la défense nationale, secret statistique, secret des affaires, etc.) <strong>ne sont pas acceptées</strong> sur la plateforme « data.gouv.fr ».
</p>
<p>Pour plus d'informations sur les meilleures pratiques en matière de publication, consultez le <a href="https://www.data.gouv.fr/fr/faq/producer/">Guide de publication</a>.
</p>
<h2>Quels acteurs contribuent sur « data.gouv.fr » ?</h2>
<p>L’écosystème de « data.gouv.fr » est animé par les acteurs du mouvement de l’ouverture des données (Open Data). Citoyens, services publics ou toute organisation enregistrée sous son identité de personne physique ou de personne morale, peuvent alternativement adopter le rôle de producteur ou de réutilisateur de données. L’inscription et l’utilisation de la plateforme sont libres et gratuites.
</p>
<h3>Les services publics</h3>
<p>Les services publics font référence à l’Etat (administrations centrales, services déconcentrés et autorités administratives indépendantes : direction du Budget, préfecture du Finistère, Conseil Supérieur de l’Audiovisuel par exemple), les collectivités territoriales (Ville de Rennes, Conseil général d’Aquitaine, Conseil Régional Rhône-Alpes,…) et au sens large les entités de droit privé ou de droit public poursuivant une mission de service public (Pôle Emploi, SNCF, RATP, Caisse des Dépôts, etc.). Toute organisation inscrite sur le site « data.gouv.fr » estimant assurer une mission de service public peut effectuer une demande en ligne pour être reconnue comme « service public certifié » à l’adresse certification@data.gouv.fr.
</p>
<h3>Les personnes morales</h3>
<p>Les personnes morales (entreprise, association, EPIC) peuvent aussi contribuer sur « data.gouv.fr ». Comme tout autre utilisateur de la plateforme, elles peuvent contribuer dans les pages des autres producteurs, en enrichissant leurs données. Elles peuvent aussi proposer leurs propres jeux de données sous le nom de leur organisation, et animer leurs propres pages en y attirant des contributions.
</p>
<h3>La responsabilité et le rôle d’Etalab</h3>
<p>Etalab a une responsabilité d’hébergeur et n'est pas responsable du contenu publié sur la plateforme « data.gouv.fr ». Toutefois,  Etalab s'engage à supprimer dans des délais raisonnables les données qui font l’objet d’un signalement.
</p>
<h2>Pourquoi créer un compte sur « data.gouv.fr » ?</h2>
<p>Créer un compte sur « data.gouv.fr » est facultatif pour la consultation mais nécessaire pour effectuer des actions sur la plateforme telles que :
</p>
    <ul>
        <li>Publier un jeu de données</li>
        <li>Publier une réutilisation</li>
        <li>Créer ou rejoindre une organisation</li>
        <li>Faire un signalement ou discuter sur une publication</li>
        <li>Voter pour une publication</li>
    </ul>
<p>La création d'un compte utilisateur vous engage à respecter les <a href="https://www.data.gouv.fr/fr/terms/">conditions d'utilisation</a>.
</p>
<h3>L’intérêt de publier et partager des données : </h3>
<p>Pour un service public : l’ouverture et le partage de données publiques contribuent à rendre des comptes sur le fonctionnement des institutions et à encourager l’innovation. « data.gouv.fr » renforce la visibilité des données par leur référencement national et fournit des outils qui facilitent les conversations avec chaque communauté gravitant autour du service public (associations, journalistes, chercheurs, étudiants, citoyens…).
</p>
<p>Pour un individu, une entreprise, un chercheur, une association : produire des données d’intérêt public, les publier en Open Data et en partager les interprétations avec le public permet d’enrichir le débat public et de renforcer la liberté d’information.
</p>
<h3>L’intérêt de réutiliser, enrichir ou compléter des données :</h3>
<p>Lorsque se crée une série de données continue, temporelle et géographique, des usages inédits et des créations de valeur se produisent. Qu’ils s’agissent d'interprétations (graphique, carte, animation, article de blog) ou d'applications (site Web, logiciel professionnel), les réutilisations exploitent le potentiel de l’ouverture des données (Open Data).
</p>
<p>La qualité des données, c’est à dire la longueur temporelle des séries, leur densité et leur couverture géographique, leur fréquence de mise à jour, est la clé principale qui fixe le potentiel des réutilisations : peu de gains ont par exemple été obtenus sur la transparence de la commande publique car nous peinons à réunir dans un jeu de données l’ensemble des marchés publics sur tout le territoire. En revanche, diffuser sur 6 années les accidents corporels de la circulation au niveau le plus fin a permis d’exhiber des zones accidentogènes et de lancer des politiques publiques adéquates dans certaines collectivités.
</p>
<p>Depuis son inauguration fin 2013, la stratégie de « data.gouv.fr » a consisté à améliorer la recherche et le référencement, et à simplifier la publication et l’ouvrir à tous, permettant non seulement aux services publics de publier des données publiques, mais également aux citoyens, associations, entreprises ou particuliers, de produire, d’enrichir, de compléter ces données ou de partager des données d’intérêt public.
</p>
<h2>Quels sont les outils que nous mettons à disposition pour augmenter l’engagement de la communauté ?</h2>
<p>Aujourd’hui les fils d’activité des membres, les notifications des producteurs sur signalement ou sur publication de réutilisations, ou encore les fils de discussion sur les jeux de données ont ciblé les interactions entre producteurs et réutilisateurs. Nous allons poursuivre dans ce sens pour augmenter l’engagement des producteurs, et notamment le moissonnage automatique d’articles de presse de data journalistes comme DataGueule, ou J’ai du Bon Data du Monde qui leur permettra d’être notifié des usages effectifs de leurs données, qui ont aujourd’hui du mal à remonter en tant que “réutilisation”.
</p>
<h3>Fin 2015, de nouveaux outils intensifieront les conversations entre réutilisateurs.</h3>
<p>Un bouton “partager” va désormais permettre d’intégrer un jeu de données ou une réutilisation sur n’importe quelle page web (blog, site de collectivités…). Un tel “EMBED” favorise les conversations sur ce jeu de données ou cette réutilisation : il est possible d’interagir avec pour en faire un favori, commenter, signaler … Ces widgets, seront coproduits grâce à l’API avec l’Infrastructure de Données Géographique en région Midi-Pyrénées (IDG MIPYGéo).
</p>
<p>Structurellement connectée au centre – il n’y a qu’un seul registre de données, une seule communauté de membres – cette stratégie n’éparpille pas la communauté mais au contraire lui offre la possibilité d’être active au plus près des territoires, des communautés d’intérêt. Ces widgets ambitionnent donc d’accompagner les collectivités locales, et notamment les petites et moyennes, dans leur déploiement de l’open data.
</p>
<p>Deuxième aspect : le référencement d’outils, aujourd’hui sous la forme de pages de téléchargement, va être amélioré, et il sera désormais possible d’intégrer une fonctionnalité externe par l’API « data.gouv.fr ». Ce référencement, tel une “place de marché”, permettra à chacun de bénéficier des meilleurs outils pour visionner, éditer, analyser, redresser ou travailler en collaboratif sur des données. « data.gouv.fr » privilégiera toujours l’Open Source et les outils gratuits, mais ne l’imposera pas. Une charte précisera les modalités d’intégration et en particulier l’obligation d’offrir un chemin gratuit entre « data.gouv.fr » et l’outil (pas de paywal après un clic sur « data.gouv.fr » !), ce premier niveau d’offre pouvant être limité. Les producteurs d’outils viendront grossir les rangs de la communauté, déjà forte de bientôt 10 000 membres.
</p>
<h2>Quel statut juridique pour les données publiées sur « data.gouv.fr » ?</h2>
<p>Le producteur du jeu de données doit préciser le type de licences applicables: <a href="https://www.etalab.gouv.fr/licence-ouverte-open-licence">Licence ouverte</a>, ODbL, autres licences. La mission Etalab encourage l’utilisation de la licence ouverte.
</p>
<h3>La Licence Ouverte</h3>
<p>Dans le cadre de la politique du Gouvernement en faveur de l’ouverture des données publiques (“Open Data”), Etalab a conçu la “Licence Ouverte / Open Licence”. Cette licence, élaborée en concertation avec l’ensemble des acteurs concernés, facilite et encourage la réutilisation des données publiques mises à disposition gratuitement. Depuis novembre 2011, la “Licence Ouverte / Open Licence” s'applique à l'ensemble des réutilisations libres et gratuites de données publiques issues des administrations de l'Etat et de ses établissements publics administratifs, à l'exclusion de toute autre licence.
</p>
<p>La licence ainsi que toutes les informations complémentaires sont disponibles sur <a href="https://www.etalab.gouv.fr/licence-ouverte-open-licence">la page dédiée du site officiel d'Etalab</a>.
</p>
<h3>La licence Open Data Base Licence (ODBL)</h3>
<p>La licence ODbL prévoit en outre une obligation de partage à l’identique. Cette licence a été traduite en français par l’association Veni Vidi Libri. Pour plus d’informations sur la licence ODbL, nous vous invitons à consulter <a href="http://vvlibri.org/">ce site.</a>
</p>
<h3>La politique de publication</h3>
<p>Les administrations de l’Etat et ses établissements publics administratifs publient systématiquement les données publiques en Open Data sous Licence Ouverte (permettant de reproduire, diffuser, adapter, et exploiter, y compris à titre commercial, sous réserve de mentionner la paternité).
</p>
<p>Les établissements publics à caractère industriel et commercial (EPIC) et les collectivités territoriales, choisissent par eux-mêmes une licence Open Data : Licence Ouverte ou ODbL (l’Etat recommande l’usage de la Licence Ouverte).
</p>
<p>Les individus, les associations et les entreprises publient des données en Licence Ouverte et des réutilisations (applications, visualisations, services Web) dans la licence de leur choix, y compris pour permettre des usages commerciaux.
</p>
<h3>Les redevances</h3>
<p>Les redevances sont autorisées dans des cas exceptionnels.
</p>
<p>Plus d'informations sur les redevances et leur cadre légal sont disponibles sur la <a href="https://www.data.gouv.fr/fr/Redevances">page dédiée au sujet des redevances</a>.
</p>
<h2>J’ai observé une inexactitude, un commentaire tendancieux, un contenu publicitaire que faire ?</h2>
<p>Vous pouvez signaler sur « data.gouv.fr » tout contenu qui vous semble contraire à l’éthique de la plateforme, cliquant sur le bouton signaler et en précisant la raison qui justifie ce signalement : contenu illégal, contenu en dehors du champ de la plateforme, contenu publicitaire...
</p>
<p>Le signalement d’un contenu est notifié au producteur et à sa communauté. Le contenu peut être retiré automatiquement si le nombre de signalements est élevé ou si l'objectif manifeste de la publication est d'optimiser le référencement d'un site tiers (SEO) sans apport de données de qualité. L'éditeur de la plateforme « data.gouv.fr » se réserve <strong>le droit de modérer</strong> à tout moment un contenu qui contreviendrait aux règles de publication et/ou à l'éthique de la plateforme.
</p>
{% endblock %}
