{% extends theme('faq/base.html') %}

{% block faq_content %}
<h1>Découvrir l’OpenData en tant que développeur</h1>

<p>Cette page contient :</p>
<ul>
    <li><a href="#api">les informations relatives à l’API</a></li>
    <li><a href="#harvesting">le moissonnage des dépôts de données ouvertes</a></li>
    <li><a href="#partners">les partenaires techniques</a></li>
</ul>

<h2 id="api">Informations relatives à l’API</h2>
<p>Le site Data.gouv.fr propose différents moyen d'accéder au catalogue des données :
</p>
<ul><li> une <a href="{{ url_for('api.root') }}">API complète</a>, documentée avec Swagger</li>
<li> des dumps au format CSV, mis à jour en temps réel
<ul><li> catalogue des jeux de données: <a href="https://www.data.gouv.fr/datasets.csv">https://www.data.gouv.fr/datasets.csv</a></li>
<li> catalogue des ressources: <a href="https://www.data.gouv.fr/resources.csv">https://www.data.gouv.fr/resources.csv</a></li>
<li> catalogue des organisations: <a href="https://www.data.gouv.fr/organizations.csv">https://www.data.gouv.fr/organizations.csv</a></li>
<li> catalogue des réutilisations: <a href="https://www.data.gouv.fr/reuses.csv">https://www.data.gouv.fr/reuses.csv</a></li>
<li> une liste des tags avec leur nombre d'occurences: <a href="https://www.data.gouv.fr/tags.csv">https://www.data.gouv.fr/tags.csv</a></li></ul></li>
<li> des <a href="http://stats.data.gouv.fr">statistiques de fréquentation anonymisées</a>, mises à jour toutes les heures</li>
</ul>
<p>L'intégralité des opérations réalisables depuis le site via votre navigateur peuvent être automatisées (publication d'un jeu de données, création d'organisations, etc). Veuillez consulter <a href="{{ url_for('api.root') }}" title="Accéder à la documentation d'API">la documentation dédiée</a> pour y accéder.</p>

<h2 id="harvesting">Moissonnage des dépôts de données ouvertes</h2>
<p>Etalab est capable de moissonner des répertoires de données ouvertes <b>selon plusieurs méthodes et formats de données</b> :
</p>
<ul><li> les sites <a rel="nofollow" class="external text" href="http://ckan.org/">CKAN</a></li>
<li> les sites ayant ajouté les balises <i>microdata</i> <a rel="nofollow" class="external text" href="http://schema.org/">Schema.org</a> dans leurs pages HTML (plus précisément : les schémas <a rel="nofollow" class="external text" href="http://schema.org/DataCatalog">DataCatalog</a> et <a rel="nofollow" class="external text" href="http://schema.org/Dataset">Dataset</a>),</li>
<li> les sites publiant leurs données au format RDF <a rel="nofollow" class="external text" href="http://www.w3.org/TR/vocab-dcat/">Data Catalog Vocabulary (DCAT)</a></li>
<li> les catalogues spécialisés dans les données géographiques supportant le protocole <a rel="nofollow" class="external text" href="http://en.wikipedia.org/wiki/Catalog_Service_for_the_Web">Catalogue Service for the Web (CSW)</a></li></ul>
<p><br />
Si un dépôt ne supporte aucun de ces 4 formats, plusieurs solutions sont possibles, notamment :
</p>
<ul><li> Installer un CKAN devant le dépôt et y déployer un protocole de moissonnage supporté par le dépôt</li>
<li> Implémenter un sous ensemble de l'API CKAN, plus précisément les fonctions <code>package_list</code>, <code>package_show</code> et éventuellement <code>organization_list</code> et <code>organization_show</code>.</li></ul>
<hr />
<p><b>Note</b> : Les moissonneurs réalisés pour le dépôt CKAN d'Etalab n'utilisent pas l'extension <a rel="nofollow" class="external text" href="https://github.com/okfn/ckanext-harvest">ckanext-harvest</a>. Leur code source est libre et disponible sur <a rel="nofollow" class="external text" href="https://github.com/etalab/etalab-ckan-harvesters">GitHub</a>.
</p>

<h2 id="partners">Les partenaires techniques</h2>
<p>data.gouv.fr est une plate-forme connectée à son écosystème. Des fournisseurs de plates-formes Open Data permettent aux acteurs économiques de gérer leur patrimoine de données publiques, qu'ils soient des collectivités, des instituts, des associations, des personnes morales privées ...
</p><p>Nous listons ici tous les fournisseurs qui contribuent tous les jours à faire grandir le volume de données publiques en France :
</p>
<ul><li> <a rel="nofollow" class="external text" href="http://www.data.gouv.fr/fr/organization/opendatasoft">OpenDataSoft</a></li>
<li> <a rel="nofollow" class="external text" href="http://www.data.gouv.fr/fr/organization/data-publica">DataPublica</a></li>
<li> <a rel="nofollow" class="external text" href="http://www.data.gouv.fr/fr/organization/easter-eggs">Easter Eggs</a></li>
<li> <a rel="nofollow" class="external text" href="http://www.mgdis.fr/">MGDIS</a> (marque blanche)</li></ul>
{% endblock %}
