{% extends theme('faq/base.html') %}

{% set meta = {
    'title': _('Découvrir l’OpenData en tant que développeur - FAQ'),
    'description': _('Questions fréquemment posées sur la plateforme data.gouv.fr'),
    'keywords': ['Développeur', 'OpenData', 'FAQ', 'Questions fréquemment posées'],
} %}

{% block faq_content %}
<h1>Découvrir l’OpenData en tant que développeur</h1>

<p>Cette page contient :</p>
<ul>
    <li><a href="#api">les informations relatives à l’API</a></li>
    <li><a href="#harvesting">le moissonnage des dépôts de données ouvertes</a></li>
    <li><a href="#source">le code source de la plateforme</a></li>
</ul>

<h2 id="api">Informations relatives à l’API</h2>
<p>Le site « data.gouv.fr » propose différents moyen d'accéder au catalogue des données :
</p>
<ul><li> une <a href="{{ url_for('api.root') }}">API complète</a>, documentée avec Swagger</li>
<li> des dumps au format CSV, mis à jour en temps réel
<ul><li> catalogue des jeux de données: <a href="https://www.data.gouv.fr/datasets.csv">https://www.data.gouv.fr/datasets.csv</a></li>
<li> catalogue des ressources: <a href="https://www.data.gouv.fr/resources.csv">https://www.data.gouv.fr/resources.csv</a></li>
<li> catalogue des organisations: <a href="https://www.data.gouv.fr/organizations.csv">https://www.data.gouv.fr/organizations.csv</a></li>
<li> catalogue des réutilisations: <a href="https://www.data.gouv.fr/reuses.csv">https://www.data.gouv.fr/reuses.csv</a></li>
<li> une liste des tags avec leur nombre d'occurences: <a href="https://www.data.gouv.fr/tags.csv">https://www.data.gouv.fr/tags.csv</a></li></ul></li>
<li> des <a href="http://stats.data.gouv.fr">statistiques de fréquentation anonymisées</a>, mises à jour toutes les heures</li>
</ul>
<p>L'intégralité des opérations réalisables depuis le site via votre navigateur peuvent être automatisées (publication d'un jeu de données, création d'organisations, etc). Veuillez consulter <a href="{{ url_for('api.root') }}" title="Accéder à la documentation d'API">la documentation dédiée</a> pour y accéder.</p>

<h2 id="harvesting">Moissonnage des dépôts de données ouvertes</h2>
<p>« data.gouv.fr » met à disposition une infrastructure de moissonnage, permettant d’être automatiquement intégrée sur la plateforme. Il est ainsi possible d’écrire son propre moissonneur en s’inspirant du <a href="https://github.com/opendatateam/udata/tree/master/udata/harvest/backends">code des moissonneurs existants</a>, fournis en Open Source (comme tout le reste du site « data.gouv.fr », distribué sous le nom <a href="https://github.com/opendatateam/udata">uData</a>).</p>
<p>Aujourd'hui, les moissoneurs suivants sont disponibles :
<ul>
    <li>CKAN <i>(générique)</i></li>
    <li>OpenDataSoft <i>(générique)</i></li>
    <li>maaf <i>(spécifique Ministère de l'Agriculture, de l'Agroalimentaire et de la Forêt)</i></li>
</ul>
</p>
<p>Le moissonnage n’est pas le seul moyen de synchroniser des données avec « data.gouv.fr », il est possible (voir recommandé) d’utiliser <a href="#api">l’API</a> pour pousser ses données.</p>

<h2 id="source">Le code source de la plateforme</h2>
<p>L’intégralité du code de la plateforme est <a href="https://github.com/opendatateam/udata/">gratuitement disponible en Open-Source</a> sous <a href="https://www.gnu.org/licenses/agpl-3.0.html">licence AGPL3</a>. Cet outil a été développé de façon modulaire pour permettre à tout un chacun de l’installer et de le personnaliser pour son usage propre en marque blanche. Nous avons par exemple développé les modules <a href="https://github.com/etalab/udata-gouvfr">udata-gouvfr</a> pour le rendu et <a href="https://github.com/opendatateam/udata-piwik">udata-piwik</a> pour les statistiques.</p><p>Vous pouvez contribuer en suivant la <a href="http://udata.readthedocs.org/en/latest/">documentation dédiée</a> et en proposant des <a href="https://github.com/opendatateam/udata/pulls">pull-requests</a>.</p>

<h2 id="embed">Intégrer des cartes sur vos propres sites</h2>
<p>
Vous avez la possibilité d’intégrer des jeux de données directement sur votre site. Il vous suffit pour cela d’intégrer le code suivant sur votre page <code>HTML</code> à l’endroit où vous souhaitez afficher le jeux de données :
</p>
<pre>
<code>
&lt;div data-udata-dataset-id="IDENTIFIANT DU JEU DE DONNÉES"&gt;&lt;/div&gt;
&lt;script src="https://www.data.gouv.fr/static/widgets.js" id="udata" async defer onload="udataScript.loadDatasets()"&gt;&lt;/script&gt;
</code>
</pre>

<p>Vous pouvez récupérer l’<code>IDENTIFIANT DU JEU DE DONNÉES</code> en cliquant sur le bouton des <em>Détails</em> lorsque vous êtes sur la page d’un jeu de données, il sera de la forme : <code>549d48f9c751df513b04805b</code>.</p>

<p>
Si vous souhaitez intégrer plusieurs jeux de données, seule la balise <code>div</code> avec l’<code>identifiant</code> du jeu de données doit être dupliquée :
</p>
<pre>
<code>
&lt;div data-udata-dataset-id="IDENTIFIANT DU PREMIER JEU DE DONNÉES"&gt;&lt;/div&gt;
&lt;div data-udata-dataset-id="IDENTIFIANT DU SECOND JEU DE DONNÉES"&gt;&lt;/div&gt;
&lt;script src="https://www.data.gouv.fr/static/widgets.js" id="udata" async defer onload="udataScript.loadDatasets()"&gt;&lt;/script&gt;
</code>
</pre>

<p>
Si vous souhaitez intégrer tous les jeux de données relatifs à un territoire :
</p>
<pre>
<code>
&lt;div data-udata-territory="IDENTIFIANT DU TERRITOIRE"&gt;&lt;/div&gt;
&lt;script src="https://www.data.gouv.fr/static/widgets.js" id="udata" async defer onload="udataScript.loadTerritory()"&gt;&lt;/script&gt;
</code>
</pre>

<p>Vous pouvez récupérer l’<code>IDENTIFIANT DU TERRITOIRE</code> en le construisant, il sera de la forme <code>fr-town-13004</code> où <code>13004</code> est le code INSEE de la commune (attention il diffère du code postal). Vous pouvez aussi récupérer un département <code>fr-county-13</code> ou une région <code>fr-region-93</code>.</p>

<p>
Enfin, si vous souhaitez intégrer tous les jeux de données relatifs à une organisation :
</p>
<pre>
<code>
&lt;div data-udata-organization="IDENTIFIANT DE L'ORGANISATION"&gt;&lt;/div&gt;
&lt;script src="https://www.data.gouv.fr/static/widgets.js" id="udata" async defer onload="udataScript.loadOrganization()"&gt;&lt;/script&gt;
</code>
</pre>

<p>Vous pouvez récupérer l’<code>IDENTIFIANT DE L'ORGANISATION</code> dans l’url depuis votre interface d’administration.</p>

{% endblock %}
