{% extends theme('faq/base.html') %}

{% block faq_content %}
<h1>Découvrir l’OpenData en tant que développeur</h1>

<p>Cette page contient :</p>
<ul>
    <li><a href="#api">les informations relatives à l’API</a></li>
    <li><a href="#harvesting">le moissonnage des dépôts de données ouvertes</a></li>
    <li><a href="#source">le code source de la plateforme</a></li>
</ul>

<h2 id="api">Informations relatives à l’API</h2>
<p>Le site Data.gouv.fr propose différents moyen d'accéder au catalogue des données :
</p>
<ul><li> une <a href="{{ url_for('api.root') }}">API complète</a>, documentée avec Swagger</li>
<li> des dumps au format CSV, mis à jour en temps réel
<ul><li> catalogue des jeux de données: <a href="https://www.data.gouv.fr/datasets.csv">https://www.data.gouv.fr/datasets.csv</a></li>
<li> catalogue des ressources: <a href="https://www.data.gouv.fr/resources.csv">https://www.data.gouv.fr/resources.csv</a></li>
<li> catalogue des organisations: <a href="https://www.data.gouv.fr/organizations.csv">https://www.data.gouv.fr/organizations.csv</a></li>
<li> catalogue des réutilisations: <a href="https://www.data.gouv.fr/reuses.csv">https://www.data.gouv.fr/reuses.csv</a></li>
<li> une liste des tags avec leur nombre d'occurences: <a href="https://www.data.gouv.fr/tags.csv">https://www.data.gouv.fr/tags.csv</a></li></ul></li>
<li> des <a href="http://stats.data.gouv.fr">statistiques de fréquentation anonymisées</a>, mises à jour toutes les heures</li>
</ul>
<p>L'intégralité des opérations réalisables depuis le site via votre navigateur peuvent être automatisées (publication d'un jeu de données, création d'organisations, etc). Veuillez consulter <a href="{{ url_for('api.root') }}" title="Accéder à la documentation d'API">la documentation dédiée</a> pour y accéder.</p>

<h2 id="harvesting">Moissonnage des dépôts de données ouvertes</h2>
<p></p>

<h2 id="source">Le code source de la plateforme</h2>
<p>L’intégralité du code de la plateforme est <a href="https://github.com/etalab/udata/">gratuitement disponible en Open-Source</a> sous <a href="https://www.gnu.org/licenses/agpl-3.0.html">licence AGPL3</a>. Cet outil a été développé de façon modulaire pour permettre à tout un chacun de l’installer et de le personnaliser pour son usage propre en marque blanche. Nous avons par exemple développé les modules <a href="https://github.com/etalab/udata-gouvfr">udata-gouvfr</a> pour le rendu et <a href="https://github.com/etalab/udata-piwik">udata-piwik</a> pour les statistiques.</p><p>Vous pouvez contribuer en suivant la <a href="http://udata.readthedocs.org/en/latest/">documentation dédiée</a> et en proposant des <a href="https://github.com/etalab/udata/pulls">pull-requests</a>.</p>
{% endblock %}
