{% extends theme('faq/base.html') %}

{% block main_content %}
<div class="container faq-home">
    <div class="row text-center">
        <h1>Découvrir l’OpenData</h1>

        <div class="col-md-3">
            <a class="thumbnail" href="{{ url_for('gouvfr.faq', section='citizen') }}">
              <div class="caption">
                <h3>Citoyen</h3>
                <p>Les fondamentaux de l'opendata pour les citoyens</p>
              </div>
            </a>
        </div>

        <div class="col-md-3">
            <a class="thumbnail" href="{{ url_for('gouvfr.faq', section='producer') }}">
              <div class="caption">
                <h3>Producteur</h3>
                <p>Que faut-il savoir avant de publier des données ?</p>
              </div>
            </a>
        </div>

        <div class="col-md-3">
            <a class="thumbnail" href="{{ url_for('gouvfr.faq', section='reuser') }}">
              <div class="caption">
                <h3>Réutilisateur</h3>
                <p>Que faire avec les données ? Avec quels outils ?</p>
              </div>
            </a>
        </div>

        <div class="col-md-3">
            <a class="thumbnail" href="{{ url_for('gouvfr.faq', section='developer') }}">
              <div class="caption">
                <h3>Développeur</h3>
                <p>Quelles sont les intégrations possibles avec la plateforme ?</p>
              </div>
            </a>
        </div>
    </div>
</div>

<div class="faq-content">
    <p>Ce site est avant tout votre site, vous citoyens, producteurs, développeurs, juristes…
    </p>
    <h3>Participer à la résolution de problèmes par l’OpenData</h3>
    <p>Notamment dans le cadre de l'initiative territoire.data.gouv, visant à décloisonner les différents échelons territoriaux et les administrations déconcrentrées.
    </p>
    <ul>
        <li>partager un problème récurrent
         lié au "mille feuille territorial" : description de l'irritant (pour l'usager, pour l'agent public), volume d'occurences annuelles, actions possibles pour le résoudre</li>
        <li>désigner des données utiles a publier</a>, voire les publier directement sur data.gouv.fr (pour rappel tout le monde peut créer une organisation, comme la <a class="external text" href="https://www.data.gouv.fr/fr/organization/direction-departementale-des-territoires-du-haut-rhin-68">DDT 68</a>)</li>
    </ul>
    <h3>Participer à l'évolution de la plate-forme datagouv</h3>
    <p>Si vous souhaitez contribuer, n'hésitez pas. Nos projets sont open-source, disponibles en ligne et ouverts à la contribution :
    </p>
    <ul>
        <li><a class="external text" href="http://github.com/etalab">code source sur github</a></li>
        <li><a class="external text" href="https://www.transifex.com/organization/etalab">traductions sur transifex</a></li>
        <li><a class="external text" href="https://github.com/etalab/etalab-support">bug tracker / boite à idée sur github</a></li></ul>
    <h3>Participer à nos hackathons ou évènements partenaires</h3>
    <ul>
        <li>En consultant <a href="http://www.etalab.gouv.fr/">le blog de la mission Etalab</a></li>
    </ul>
</div>
{% endblock %}
