{% extends theme('faq/base.html') %}

{% set meta = {
    'title': _('Découvrir l’OpenData en tant qu’intégrateur - FAQ'),
    'description': _('Questions fréquemment posées sur la plateforme data.gouv.fr'),
    'keywords': ['Intégrateur', 'OpenData', 'FAQ', 'Questions fréquemment posées'],
} %}

{% block faq_content %}
<h1>Découvrir l’OpenData en tant qu’intégrateur</h1>

<p>La plateforme « data.gouv.fr » vous offre plusieurs moyens plus ou moins avancés d’intégrer les données disponibles en open data sur vos propres sites :</p>

<ol>
<li>de manière unitaire si vous souhaitez n’afficher qu’un ou quelques jeu(x) de données particulier(s) ;</li>
<li>de manière plus générale si vous souhaitez afficher tous les jeux de données relatifs à un territoire ou à une organisation ;</li>
<li>pour une gestion fine de l’habillage et des données affichées, nous vous recommandons l’API ;</li>
<li>pour avoir votre propre portail fondé sur le moteur de la plateforme.</li>
</ol>

<p>Ces différents cas d’intégration correspondent généralement à différents profils :</p>

<ol>
<li>un journaliste traitant d’une problématique donnée va être intéressé par l’inclusion de jeux de données directement au sein de son article ;</li>
<li>une mairie va être intéressée par l’intégration des jeux de données relatifs à son territoire sur son site internet ;</li>
<li>une association pourrait être intéressée par la création d’une page personnalisée compilée à partir de données issues de sources multiples ;</li>
<li>un pays se lançant dans l’open data va chercher à créer son propre portail.</li>
</ol>

<p>Quel que soit votre besoin ou votre profil, nous sommes là pour vous accompagner dans votre démarche de diffusion de données ouvertes. Ci-dessous, la documentation technique correspondant à chacun des cas évoqués :</p>

<h2>1. Intégration ponctuelle de jeux de données</h2>

<p>Chaque jeu de données est intégrable sur n’importe quelle page en ajoutant deux lignes de HTML :</p>

<pre><code class="html">&lt;div data-udata-dataset-id="IDENTIFIANT DU JEU DE DONNÉES"&gt;&lt;/div&gt;
&lt;script src="https://www.data.gouv.fr/static/widgets.js" id="udata" async defer onload="udataScript.loadDatasets()"&gt;&lt;/script&gt;
</code></pre>

<p>En remplaçant l’<code>IDENTIFIANT DU JEU DE DONNÉES</code> par l’identifiant disponible sur sa page dédiée vous devriez voir apparaître sur votre site un cartouche contenant les informations relatives à ce jeux de données de la manière suivante :</p>

<figure>
  <img src="{{ url_for('gouvfr.static', filename='faq/integration/exemple-integration-blog-etalab.png') }}" alt="Exemple d’intégration sur le blog d’Etalab">
  <figcaption>Exemple d’intégration sur le blog d’Etalab, ici avec les données de consommation d’électricité des ministères.</figcaption>
</figure>

<p>Il est possible d’intégrer plusieurs jeux de données à la fois en dupliquant la ligne correspondant à l’élément <code>&lt;div&gt;</code> avec un nouvel identifiant. Vous pouvez personnaliser l’apparence du rendu du cartouche grâce à la classe CSS <code>dataset-card</code>.</p>

<h2>2. Intégration pour une organisation ou un territoire</h2>

<p class="bg-danger">
    Attention : ce type d’intégration est actuellement en cours de développement et l’API est susceptible de changer. Veuillez nous contacter si vous souhaitez participer aux tests préliminaires.
</p>

<p>Le mécanisme pour afficher tous les jeux de données relatifs à une organisation ou un territoire est le même que celui pour l’intégration d’un seul jeu de donnée décrit précédemment.</p>

<p>Cet usage est recommandé si vous êtes responsable de cette organisation ou de ce territoire et souhaitez faire la promotion des jeux de données associés. Par exemple dans la cadre de la loi Notre, il est demandé aux communes de plus de 3500 habitants de rendre accessible en open data certaines données. L’usage de la plateforme « data.gouv.fr » pour déposer ces données puis les intégrer sur son propre site est rendue possible par cette solution.</p>

<h3>2.a Intégration d’une organisation</h3>

<pre><code class="html">&lt;div data-udata-organization="IDENTIFIANT DE L’ORGANISATION"&gt;&lt;/div&gt;
&lt;script src="https://www.data.gouv.fr/static/widgets.js" id="udata" async defer onload="udataScript.loadOrganization()"&gt;&lt;/script&gt;
</code></pre>

<p>En remplaçant l’<code>IDENTIFIANT DE L’ORGANISATION</code> par l’identifiant disponible sur sa page dédiée vous devriez voir apparaître sur votre site un cartouche contenant les informations relatives aux jeux de données de cette organisation de la manière suivante :</p>

<p>Optionnellement, il est possible d’afficher une barre de recherche pour laisser la possibilité au visiteur de filtrer la liste des jeux de données affichés. Cela est activé en passant l’option <code>{withSearch: true}</code> à la méthode <code>loadOrganization()</code> ci-dessus.</p>

<h3>2.b Intégration d’un territoire</h3>

<pre><code class="html">&lt;div data-udata-territory="IDENTIFIANT DU TERRITOIRE"&gt;&lt;/div&gt;
&lt;script src="https://www.data.gouv.fr/static/widgets.js" id="udata" async defer onload="udataScript.loadTerritory()"&gt;&lt;/script&gt;
</code></pre>

<p>En construisant l’<code>IDENTIFIANT DU TERRITOIRE</code> qui doit être de la forme <code>fr-town-13004</code> où <code>13004</code> est le code INSEE de la commune (attention il diffère du code postal). Vous pouvez aussi récupérer les jeux de données relatifs à un département <code>fr-county-13</code> ou une région <code>fr-region-93</code>. Vous devriez alors voir apparaître sur votre site un cartouche contenant les informations relatives aux jeux de données de ce territoire de la manière suivante :</p>

<p>Optionnellement, il est possible d’afficher une barre de recherche pour laisser la possibilité au visiteur de filtrer la liste des jeux de données affichés. Cela est activé en passant l’option <code>{withSearch: true}</code> à la méthode <code>loadTerritory()</code> ci-dessus.</p>

<h2>3. Intégration pour une page personnalisée</h2>

<p>Une <a href="https://github.com/datakode/metaclic">bibliothèque JavaScript</a> a été développée pour faciliter la personnalisation de l’affichage des jeux de données sur un site tiers. Un système de gabarit permet d’intégrer les données que vous souhaitez <a href="https://www.data.gouv.fr/fr/apidoc/">issues de l’API</a> à vos couleurs et selon la disposition qui vous convient. Il s’agit d’un moyen de créer votre propre page open data à coûts réduits au sein de votre site.</p>

<h2>4. Intégration d’un portail open data complet</h2>

<p>Les outils que nous développons sont disponibles en open-source. Ils sont le fruit d’un effort international pour créer des synergies autour de la donnée ouverte et mutualiser nos efforts de développement. La gouvernance est inclusive et la licence est permissive. Nous participons à l’animation autour du développement de la plateforme car nous souhaitons produire un bien commun réutilisable par tous.</p>

<p>L’intégration d’un portail open data complet demande des compétences en administration système, en développement Python et JavaScript ainsi qu’un temps non négligeable de prise en main de la plateforme. C’est un choix qui doit être mûrement réfléchi et nous vous recommandons de passer directement par « data.gouv.fr » si vous avez des données issues de territoires francophones.</p>

<p>Si vous souhaitez néanmoins vous lancer dans cette aventure, vous pouvez commencer par analyser le <a href="https://github.com/opendatateam/udata">code source</a> ainsi que la <a href="http://udata.readthedocs.io/en/latest/">documentation dédiée</a>. Vous pouvez également venir en <a href="https://gitter.im/opendatateam/udata">discuter avec la communauté</a> (en anglais).</p>

{% endblock faq_content %}
