{% extends theme("base.html") %}

{% set meta = {
    'title': 'Dataconnexions 6',
    'description': "Le concours Dataconnexion 6, son réglement et ses candidats",
    'keywords': [
        'dataconnexions',
        'dataconnexions 6',
        'concours',
        'candidats',
        'lauréats',
        'innovation',
        'data',
        'territoire',
        'réutilisation',
    ],
} %}

{% set body_class="contest" %}

{% block content %}
{% cache cache_duration, 'dataconnexions-6', g.lang_code %}
<section class="content">
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-8 col-md-9">
                <h1>Le concours Dataconnexions 6</h1>

                <p class="text-justify">
                Organisé par la mission <a href="http://www.etalab.gouv.fr">Etalab</a>, le concours Dataconnexions récompense les projets les plus innovants réutilisant des données publiques. Depuis la cinquième édition, les candidats publient leurs réutilisations de données sur <a href="{{ url_for('site.home') }}">www.data.gouv.fr</a> où le public est invité à voter pour sélectionner les projets finalistes. Parmi ces projets finalistes, le Jury distinguera des projets lauréats, récompensés le <strong>2 février 2016</strong> lors de la cérémonie de remise des prix organisée à l’<strong>Hôtel de la métropole de Toulouse</strong>.
                </p>

                <h3>Pour candidater au concours Dataconnexions 6</h3>

                <p class="text-justify">
                Les porteurs de projets sont invités à soumettre leurs projets d’application, de service ou de data-visualisation réutilisant au moins un jeu de données publiques du <strong>15 septembre 2015 au 5 janvier 2016</strong> en deux étapes :
                </p>

                <ul>
                    <li>Publier la réutilisation de données sur <a href="{{ url_for('site.home') }}">www.data.gouv.fr</a> en ajoutant dans la section «<i>tags</i>» le tag «<i>dataconnexions-6</i>» et le tag correspondant à la catégorie de prix choisie ({%- for cat in categories -%}
                        <a v-popover.literal="{{cat.description}}" title="{{cat.label}}"
                            popover-placement="top" popover-trigger="hover">
                            {{- cat.tag -}}
                        </a>
                        {%- if not loop.last -%}, {% endif %}
                    {%- endfor -%})</li>
                    <li>Remplir le <a href="http://www.etalab.gouv.fr/dataconnexions-6/inscription">formulaire de candidature</a></li>
                </ul>

                <p class="text-justify">Une explication pas à pas de ces deux étapes de candidature est disponible dans la <a href="http://www.etalab.gouv.fr/dataconnexions-6/faq">FAQ</a>.
                </p>

                <h3>Pour voter pour des projets candidats au concours Dataconnexions 6</h3>

                <p class="text-justify">Les votes du public sont pris en compte du <strong>15 septembre 2015 au 5 janvier 2016 à 12h</strong> pour déterminer les projets finalistes du concours. Une fois inscrit sur <a href="{{ url_for('site.home') }}">www.data.gouv.fr</a>, le public vote pour ses réutilisations préférées parmi celles publiées ci-dessous en ouvrant la page correspondant à chaque réutilisation candidate et en cliquant sur le bouton «<strong><span class="fa fa-2x fa-star-o"></span></strong>».</p>

                <h3>Calendrier</h3>

                <dl class="dl-horizontal">
                    <dt>15 septembre 2015</dt>
                    <dd>Ouverture des inscriptions et début de la prise en compte des votes</dd>
                    <dt>5 janvier 2016 12h</dt>
                    <dd>Fermeture des inscriptions et fin de la prise en compte des votes</dd>
                    <dt>6 janvier 2016</dt>
                    <dd>Notification de leur sélection aux « Projets Finalistes »</dd>
                    <dt>2 février 2016</dt>
                    <dd>Cérémonie de remise des prix avec des présentations publiques des « Projets Finalistes » et désignation des « Projets Lauréats » par le Jury</dd>
                </dl>
            </article>

            <aside class="col-xs-12 col-sm-4 col-md-3">
                <div class="text-center">
                    <img src="{{ url_for('gouvfr.static', filename='dataconnexions/dataconnexions6-logo-couleur.png') }}"
                        alt="Logo du concours Dataconnexions 6" class="scalable" />
                </div>
                <h4>Ressources</h4>
                <ul class="list-unstyled">
                    <li><a href="http://www.etalab.gouv.fr/dataconnexions-6/inscription">Formulaire d'inscription</a></li>
                    <li><a href="http://www.etalab.gouv.fr/dataconnexions-6/faq">FAQ</a></li>
                    <li><a href="http://www.etalab.gouv.fr/dataconnexions-6/reglement">Règlement</a></li>
                    <li><a href="https://www.etalab.gouv.fr/dataconnexions-6-lopen-data-en-action">Article du blog d’Etalab</a></li>
                    <li><a href="{{url_for('gouvfr.dataconnexions5')}}">Edition précédente</a></li>
                </ul>
            </aside>
        </div>
    </div>
</section>

<section class="content participants">
    <div class="container">

        {% for cat in categories  %}
        <div class="row">
            <h3 class="col-xs-12">{{ cat.label }}</h3>
            <p class="col-xs-12"><em>{{ cat.description }}</em></p>
            {% if cat.reuses %}
            <ul class="card-list card-list--columned">
                {% for reuse in cat.reuses %}
                <li class="col-xs-12 col-sm-6 col-md-4">
                    {% include theme('reuse/card.html') %}
                </li>
                {% endfor %}
            </ul>
            <div class="clearfix"></div>
            {% else %}
            <p class="text-center lead">Aucune réutilisation dans cette catégorie pour l'instant</p>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</section>
{% endcache %}
{% endblock %}
