{% extends theme("base.html") %}

{% set meta = {
    'title': 'Dataconnexions 5',
    'description': "Le concours Dataconnexion 5, son réglement et ses candidats",
    'keywords': [
        'dataconnexions',
        'dataconnexions 5',
        'concours',
        'candidats',
        'lauréats',
        'innovation',
        'data',
        'territoire',
        'réutilisation',
    ],
} %}

{% set body_class="contest" %}

{% block content %}
{% cache cache_duration, 'dataconnexions-5', g.lang_code %}
<section class="content">
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-8 col-md-9">
                <h1>Le concours Dataconnexions 5</h1>

                <p class="text-justify">
                Organisé par la mission <a href="http://www.etalab.gouv.fr">Etalab</a>, le concours Dataconnexions récompense les projets les plus innovants réutilisant des données publiques. Nouveauté de cette cinquième édition, les candidats publient leurs réutilisations de données sur <a href="{{ url_for('site.home') }}">www.data.gouv.fr</a> où le public est invité à voter pour sélectionner les projets finalistes. Parmi ces projets finalistes, le Jury distinguera des projets lauréats, récompensés le 5 février 2015 lors de la cérémonie de remise des prix organisée au Palais du Luxembourg.
                </p>

                <h3>Pour candidater au concours Dataconnexions 5</h3>

                <p class="text-justify">
                Les porteurs de projets sont invités à soumettre leurs projets d’application, de service ou de data-visualisation réutilisant au moins un jeu de données publiques du 30 octobre 2014 au 14 janvier 2015 en deux étapes :
                </p>

                <ul>
                    <li>Publier la réutilisation de données sur <a href="{{ url_for('site.home') }}">www.data.gouv.fr</a> en ajoutant dans la section «<i>tags</i>» le tag «<i>dataconnexions</i>» et le tag correspondant à la catégorie de prix choisie ({%- for cat in categories -%}
                        <a href="#" data-toggle="popover" title="{{cat.label}}"
                            data-content="{{cat.description}}" data-placement="top" data-trigger="hover">
                            {{- cat.tag -}}
                        </a>
                        {%- if not loop.last -%}, {% endif %}
                    {%- endfor -%})</li>
                    <li>Remplir le <a href="http://www.etalab.gouv.fr/dataconnexions-5/inscription">formulaire de candidature</a></li>
                </ul>

                <p class="text-justify">Une explication pas à pas de ces deux étapes de candidature est disponible dans la <a href="http://www.etalab.gouv.fr/dataconnexions-5/faq">FAQ</a>.
                </p>

                <h3>Pour voter pour des projets candidats au concours Dataconnexions 5</h3>

                <p class="text-justify">Les votes du public sont pris en compte du 30 octobre 2014 au 14 janvier 2015 pour déterminer les projets finalistes du concours. Une fois inscrit sur <a href="{{ url_for('site.home') }}">www.data.gouv.fr</a>, le public vote pour ses réutilisations préférées parmi celles publiées ci-dessous en ouvrant la page correspondant à chaque réutilisation candidate et en cliquant sur le bouton «<strong><span class="fa fa-2x fa-star-o"></span></strong>».</p>

                <h3>Calendrier</h3>

                <dl class="dl-horizontal">
                    <dt>30 Octobre 2014</dt>
                    <dd>Ouverture des inscriptions et début de la prise en compte des votes</dd>
                    <dt>14 Janvier 2015 à 16h</dt>
                    <dd>Fermeture des inscriptions et fin de la prise en compte des votes</dd>
                    <dt>15 Janvier 2015</dt>
                    <dd>Notification de leur sélection aux « Projets Finalistes »</dd>
                    <dt>5 Février 2015</dt>
                    <dd>Cérémonie de remise des prix avec des présentations publiques des « Projets Finalistes » et désignation des « Projets Lauréats » par le Jury</dd>
                </dl>
            </article>

            <aside class="col-xs-12 col-sm-4 col-md-3">
                <div class="text-center">
                    <img src="{{ url_for('gouvfr.static', filename='dataconnexions/logo-couleur.png') }}"
                        alt="Logo du concours Dataconnexions" class="scalable" />
                </div>
                <h4>Resources</h4>
                <ul class="list-unstyled">
                    <li><a href="http://www.etalab.gouv.fr/dataconnexions-5/inscription">Formulaire d'inscription</a></li>
                    <li><a href="http://www.etalab.gouv.fr/dataconnexions-5/faq">FAQ</a></li>
                    <li><a href="http://www.etalab.gouv.fr/dataconnexions-5/reglement">Règlement</a></li>
                    <li><a href="http://www.etalab.gouv.fr/la-5eme-edition-du-concours-dataconnexions-cest-parti">Article du blog d’Etalab</a></li>
                </ul>
            </aside>
        </div>
    </div>
</section>

<section class="content participants">
    <div class="container">

        {% for cat in categories  %}
        <div class="row">
            <h3 class="col-xs-12">{{ cat.label }}</h3>
            <p class="col-xs-12"><em>{{ cat.description }}</em></p>
            {% if cat.reuses %}
            <ul class="card-list">
                {% for reuse in cat.reuses %}
                <li class="col-md-4 col-sm-6">
                    {% include theme('reuse/card.html') %}
                </li>
                {% endfor %}
            </ul>
            <div class="clearfix"></div>
            {% else %}
            <p class="text-center lead">Aucune réutilisation dans cette catégorie pour l'instant</p>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</section>
{% endcache %}
{% endblock %}
