{% extends theme("layouts/1-column.html") %}

{% set meta = {
    'title': _('Developer documentation'),
    'description': _('Developer documentation and contribution guidelines'),
    'keywords': [_('developer'), _('documentation'), 'API'],
} %}

{% block breadcrumb %}
    <li class="active">{{ _('Developers') }}</li>
{% endblock %}

{% block main_content %}
<section class="content">
    <div class="container">
        <div class="row">
            <p class="lead">{{ _('Coming soon') }}</p>
        </div>
    </div>
</section>
{% endblock %}
