{% extends theme("base.html") %}

{% set meta = {
    'title': 'Openfield 16',
    'description': "Pour les 10 ans de l’ouverture du site grand public du Recensement des Equipements Sportifs (RES), le ministère de la Ville, de la Jeunesse et des Sports organisera en partenariat avec Etalab et NUMA le « Openfield16 »",
    'keywords': [
        'équipements sportifs"',
        'RES',
        'NUMA',
        'Recensement des Equipements Sportifs',
        'hackathon',
        'évènement',
        'ministère de la Ville, de la Jeunesse et des Sports',
        'Openfield',
        'anniversaire',
    ],
} %}

{% set body_class="openfield16 contest" %}

{% block content %}
{% cache cache_duration, 'openfield16', g.lang_code %}
<section class="content">
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-8 col-md-9">
                <h1>Openfield 16</h1>

                <p class="text-justify lead">Nous fêtons cette année les 10 ans de l’ouverture du site grand public du Recensement des Equipements Sportifs (RES) !</p>

                <p class="text-justify">Soucieux de valoriser l’intérêt de ces donnés publiques, le <a href="http://www.sports.gouv.fr/">ministère de la Ville, de la Jeunesse et des Sports</a> organisera en partenariat avec <a href="http://www.etalab.gouv.fr">Etalab</a> et <a href="https://paris.numa.co/">NUMA</a> le « Openfield16 ». Ce hackathon sera dédié à l’exploitation des données constituant l’écosystème du sport et des politiques sportives de l’Etat. L’ensemble des données publiques de la direction des sports, dont celles du RES notamment, seront mises à disposition des participants. Les données d’autres contributeurs seront également disponibles pour l’occasion.</p>

                <p class="text-justify">L’objectif de l’évènement sera d’imaginer des produits numériques innovants grâce au croisement des données publiques relatives au sport en France. Ces solutions pourront intéresser divers publics tel que l’Etat, les collectivités territoriales, les fédérations sportives mais aussi le grand public.</p>

                <p class="text-justify">Ainsi, entrepreneurs, développeurs, designers, spécialistes des données, amoureux du sport se réuniront les <strong>7, 8 et 9 octobre 2016</strong>, dans les locaux de la direction des sports du ministère de la ville, de la jeunesse et des sports d’abord, puis dans ceux de la société NUMA ensuite, autour d’une idée commune : offrir des solutions numériques innovantes aux pratiquants et acteurs du sport dans le but d’améliorer les pratiques ainsi que leurs conditions.</p>

                <p class="text-justify">Au terme de ce hackathon, <strong>3 équipes lauréates</strong> se verront remettre une dotation financière et seront invités à valoriser leur projet durant le <strong>mardigital du 18 octobre 2016</strong> organisé à Paris.</p>

                <h2>Les défis</h2>

                <ul>
                    <li>
                        <a href="https://forum.etalab.gouv.fr/t/defi-1-faciliter-la-pratique-sportive-pour-le-plus-grand-nombre/2832">
                            Défi n°1 – La pratique sportive pour tous
                        </a>
                    </li>
                    <li>
                        <a href="https://forum.etalab.gouv.fr/t/defi-2-maintenir-le-rang-de-la-france-parmi-les-grandes-nations-sportives/2833">
                            Défi n°2 : la France toujours parmi les meilleurs
                        </a>
                    </li>
                    <li>
                        <a href="https://forum.etalab.gouv.fr/t/defi-3-contribuer-a-la-lutte-contre-les-comportements-contraires-aux-valeurs-du-sport/2834">
                            Défi n°3 – Le sport comme vecteur de valeurs sociales
                        </a>
                    </li>
                    <li>
                        <a href="https://forum.etalab.gouv.fr/t/defi-4-promouvoir-et-developper-lemploi-sportif/2835">
                            Défi n°4 – L’emploi au cœur du sport
                        </a>
                    </li>
                    <li>
                        <a href="https://forum.etalab.gouv.fr/t/defi-5-sensibiliser-au-developpement-durable-dans-le-sport/2836">
                            Défi n°5 – Le sport et l’environnement
                        </a>
                    </li>
                </ul>

                <h3>Calendrier</h3>

                <h4>Vendredi 7 octobre 2016 – lancement du Concours</h4>

                <p>Dans les locaux du ministère de la ville, de la jeunesse et des sports (95 avenue de France, 75013 Paris)</p>

                <dl class="dl-horizontal">
                    <dt>18h</dt><dd>Accueil</dd>

                    <dt>18h30<dt><dd>Démarrage officiel
                        <ul>
                            <li>Mot d’accueil</li>
                            <li>Rappel du contexte et des objectifs</li>
                            <li>Présentation du déroulé de l’événement</li>
                        </ul>
                    </dd>

                    <dt>19h</dt><dd>Mise en œuvre opérationnelle
                        <ul>
                            <li>Présentation des thèmes de travail</li>
                            <li>Constitution des équipes</li>
                    </dd>

                    <dt>19h30</dt><dd>Cocktail</dd>
                </dl>

                <h4>Samedi 8 octobre 2016 – lancement du Concours</h4>

                <p>Dans les locaux de la société NUMA (39 rue du Caire, 75002 Paris)</p>

                <dl class="dl-horizontal">
                    <dt>9h</dt><dd>Accueil, petit-déjeuner</dd>
                    <dt>9h30</dt><dd>Démarrage des travaux en équipe</dd>
                    <dt>13h</dt><dd>Déjeuner</dd>
                    <dt>19h</dt><dd>Repas du soir</dd>
                    <dt>20h</dt><dd>Présentation du programme de la journée de dimanche</dd>
                    <dt>22h</dt><dd>Fermeture des locaux de NUMA</dd>
                </dl>

                <h4>Dimanche 9 octobre 2016 – poursuite du Concours et clôture</h4>
                <p>Dans les locaux de la société NUMA (39 rue du Caire, 75002 Paris)</p>

                <dl class="dl-horizontal">
                    <dt>9h</dt><dd>Petit-déjeuner</dd>
                    <dt>9h30</dt><dd>Poursuite des travaux en équipe</dd>
                    <dt>12h</dt><dd>Déjeuner</dd>
                    <dt>14h30</dt><dd>Préparation des présentations</dd>
                    <dt>17h<dt><dd>Présentations devant le Jury</dd>
                    <dt>18h</dt><dd>Délibérations du Jury</dd>
                    <dt>18h30</dt><dd>Remise des prix</dd>
                    <dt>19h</dt><dd>Cocktail de clôture</dd>
                </dl>

            </article>

            <aside class="col-xs-12 col-sm-4 col-md-3">
                <div class="text-center">
                    <img src="{{ url_for('gouvfr.static', filename='openfield16/logo.jpg') }}"
                        alt="Logo de Openfield 16" class="scalable" />
                </div>
                <h3>Ressources</h3>
                <ul class="list-unstyled">
                    <li><a href="https://rdv.etalab.gouv.fr/e/6/hackathon-openfield16">Page d'inscription</a></li>
                    <li><a href="https://forum.etalab.gouv.fr/c/agenda/hackathon-openfield16-7-9-oct-2016">Catégorie sur le forum Etalab</a></li>
                </ul>
            </aside>
        </div>
    </div>
</section>

{% if datasets %}
<section class="content participants">
    <div class="container">

        <div class="row">
            <h3 class="col-xs-12">Les jeux de données remarquables</h3>
            <ul class="card-list">
                {% for dataset in datasets[:nb_displayed_datasets] %}
                <li class="col-md-4 col-sm-6">
                    {% include theme('dataset/card.html') %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="clearfix text-center">
            <a class="btn btn-default"
                href="{{ url_for('datasets.list', badge=badge) }}">
                <span class="glyphicon glyphicon-list"></span>
                {{ _('See the %(nb)s datasets', nb=datasets|length) }}
            </a>
        </div>
    </div>
</section>
{% endif %}
{% endcache %}
{% endblock %}
