{% extends theme("layouts/1-column.html") %}

{% set meta = {
    'title': 'Redevances',
    'description': "Comment fonctionnent les redevances de réutilisation d'informations publiques établies ?",
    'keywords': ['redevances', 'circulaire', 'premier ministre', 'légale'],
} %}

{% block breadcrumb %}
    <li class="active">Redevances</li>
{% endblock %}

{% block main_content %}
<section class="content">
    <div class="container">
        <div class="row">
            <article class="legal col-sm-12">
                <h1>Redevances</h1>

                <h3>La gratuité est la règle et les redevances l'exception</h3>

                <p>En matière de réutilisation des informations publiques, <b>le principe est celui de la gratuité</b> (voir l'article <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do;jsessionid=66430676A901E0DF88843D1627404BAB.tplgfr31s_1?idArticle=LEGIARTI000033219051&cidTexte=LEGITEXT000031366350&dateTexte=20170808" alt="article L324-1 du code des relations entre le public et l'administration">L. 324-1</a> du code des relations entre le public et l’administration (CRPA)).  
                <p>Par exception, <b>des redevances ne peuvent être perçues que dans deux cas :</b>
					<ul>
					<li>Pour les administrations dont l'activité principale consiste en la collecte, la production, la mise à disposition ou la diffusion d'informations publiques, lorsque la couverture des coûts liés à cette activité principale est assurée à moins de 75 % par des recettes fiscales, des dotations ou des subventions (soit à au moins 25% par des recettes propres). Pour les administrations relevant de l’Etat (y compris ses établissements publics administratifs), une liste <u>stricte</u> des données susceptibles d'être soumises à une redevance de réutilisation est publiée (<a href="https://www.legifrance.gouv.fr/affichCodeArticle.do;jsessionid=B9291B63BE1EF1131C188EAF0FA76744.tpdila11v_2?idArticle=LEGIARTI000033504821&cidTexte=LEGITEXT000031366350&dateTexte=20170808">D. 324-5-1 CRPA)</a>. Cette liste est rappelée ci-dessous. </li>
					<li>Pour les bibliothèques, y compris les bibliothèques universitaires, les musées et les archives, <u>uniquement</u> pour les informations issues d’opérations de numérisation de leurs fonds et collections et, le cas échéant, les informations qui y sont associées, lorsque ces dernières sont commercialisées conjointement (<a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?cidTexte=LEGITEXT000031366350&idArticle=LEGIARTI000033219083&dateTexte=&categorieLien=id" alt="article L324-2 CRPA">art. L. 324-2 CRPA</a>). En bref, les redevances ne peuvent porter que sur la réutilisation des fichiers-images numérisés ainsi que sur leurs métadonnées (si elles sont réutilisées conjointement avec ceux-ci) ; les redevances ne peuvent concerner des documents nativement numériques.</li>
					</ul>
				<p>A noter : l’INSEE et les services statistiques ministériels ne peuvent plus demander de redevances pour réutilisation de leurs données (<a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?cidTexte=LEGITEXT000031366350&idArticle=LEGIARTI000033219083&dateTexte=&categorieLien=id" alt="article L324-6 du CRPA">art. L. 324-6 CRPA</a>).</p>

				<blockquote>
				<p><b>Toutes les redevances perçues antérieurement ne se conformant pas au cadre légal désormais en vigueur ne peuvent plus être exigées.</b> <a href="http://www.cada.fr/" alt="Commission d'accès aux documents administratifs">La Commission d'accès aux documents administratifs (CADA)</a> est compétente en matière de demande de réutilisation, y compris sur les questions de licences et de redevances.</p></blockquote>
								
                <h3>Quel montant pour les redevances de réutilisation</h3> 
                <p>Le produit total du montant des redevances perçues sur un an pour un jeu de données ne dépasse pas les coûts qui lui sont liés tels que décrits dans ce tableau :</p>
			
                <p>
                <TABLE border="1" width="80%" align="center">
					<TR>
                        <TD></TD>
                        <TD width="40%" style="padding: 1em;">Je suis une administration dédiée à l’information publique
						<TD width="40%" style="padding: 1em;">Je suis une institution culturelle réalisant des numérisations

					<TR>
						<TD width="10%" style="padding: 1em;">Périmètre
						<TD width="35%" style="padding: 1em;">Coûts de collecte, de production, de mise à la disposition ou de diffusion en ligne (y compris, le cas échéant, coûts d’anonymisation)
                            <TD width="35%" style="padding: 1em;">Coûts de collecte, de production, de mise à disposition ou de diffusion en ligne (y compris, le cas échéant, coûts d’anonymisation), de conservation et d'acquisition des droits de propriété intellectuelle sur les informations publiques. <br /> Attention : il ne s’agit jamais des coûts de collecte et de conservation des documents originaux.
					<TR>
						<TD width="10%" style="padding: 1em;">Période max d'assiette
						<TD width="35%" style="padding: 1em;">Coûts moyens sur les trois derniers exercices budgétaires ou comptables
						<TD width="35%" style="padding: 1em;">Coûts moyens sur les trois derniers exercices budgétaires ou comptables pour la conservation et la mise à disposition-diffusion <br> Coûts moyens sur les dix derniers exercices budgétaires ou comptables pour les coûts de numérisation et d'acquisition des droits de propriété intellectuelle
					</TABLE>
                </p>
				<p>Le montant des redevances est fixé selon des critères objectifs, transparents, vérifiables et non discriminatoires. Ce montant est <b>révisé au moins tous les cinq ans</b>. Les modalités de son calcul sont <b>publiées sous forme électronique conjointement sur le site internet de l'administration concernée et sur cette page.</b></p>
                
				
                <h3>Transparence sur les redevances de réutilisation pratiquées</h3>

                <p>Conformément aux articles <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do;jsessionid=B89C3CC9C0E113117A383292CE5CFB9C.tpdila11v_2?idArticle=LEGIARTI000032951707&cidTexte=LEGITEXT000031366350&dateTexte=20170808">R. 324-4-5</a> et <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do;jsessionid=74B58B7E6B5A7C0424C31016DB61A062.tplgfr31s_1?idArticle=LEGIARTI000032258099&cidTexte=LEGITEXT000031366350&dateTexte=20160329">R. 324-6-1</a> du code des relations du public et de l’administration, la mission Etalab rend publique :
				<ul><li> la liste des informations ou catégories d'informations détenues par l’Etat, y compris ses établissements publics, dont la réutilisation peut être soumise à redevance ;</li>
					<li> la liste des redevances de réutilisation pratiquées par les administrations, avec leurs modalités de calcul.</li></ul>
				
                <blockquote>
				Si vous avez créé (ou maintenu) une redevance, faites-en parvenir le barème de calcul à la mission Etalab pour publication sur cette page à : <a href="mailto:info@data.gouv.fr">info@data.gouv.fr</a>
                </blockquote>
				
                <h3>Administrations dédiées à la diffusion d'informations publiques</h3>
                
				<ul>
                    <li>Institut national de l'information géographique et forestière : <a href="http://professionnels.ign.fr/doc/Bar%C3%A8me%20des%20licencesdExploitations2017.pdf">lien vers les modalités de calcul</a></li>
					<li>Météo-France : <a href="https://donneespubliques.meteofrance.fr/client/gfx/utilisateur/File/Redevances_Portail_DonneesPubliques.pdf">lien vers les modalités de calcul</a></li> 
					<li>Service hydrographique et océanographique de la marine : <a href="http://diffusion.shom.fr/media/wysiwyg/catalogues/repertoire_2017_web.pdf">lien vers les modalités de calcul</a></li</li> 
                </ul>
               
			   
                <h3>Administrations pratiquant des opérations de numérisation</h3>
               <p><i>Aucune administration n’a transmis de modalités de calcul.</i></p>

            </article>
        </div>
    </div>
</section>
{% endblock %}
