{% extends theme("layouts/1-column.html") %}

{% set meta = {
    'title': 'Redevances',
    'description': "Les redevances de réutilisation d'informations publiques établies avant le 1er juillet 2011",
    'keywords': ['redevances', 'circulaire', 'premier ministre', 'légale'],
} %}

{% block breadcrumb %}
    <li class="active">Redevances</li>
{% endblock %}

{% block main_content %}
<section class="content">
    <div class="container">
        <div class="row">
            <article class="legal col-sm-12">
                <h1>Redevances</h1>

                <h3>Les redevances de réutilisation d'informations publiques établies avant le 1er juillet 2011</h3>

                <p>Conformément à la <a href="http://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000024072788">circulaire du Premier ministre</a> et au <a href="http://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000024073976&dateTexte=20120619">décret n° 2011-577 du 26 mai 2011</a>, la mission « Etalab » publie les redevances de réutilisation d’informations publiques, établies antérieurement au 1er juillet 2011, sur simple demande des administrations de l’Etat et de ses établissements publics administratifs qui en bénéficient.</p>

                <p>En les publiant sur la plateforme « data.gouv.fr » avant le 1er juillet 2012, cet effort particulier de transparence du gouvernement permet à tous les citoyens de bénéficier d’une plus grande information sur les régimes de tarification actuellement en vigueur au sein des administrations de l’Etat et de ses établissements publics administratifs.</p>

                <h3>La réglementation : <a href="http://www.legifrance.gouv.fr/affichTexteArticle.do?idArticle=LEGIARTI000024074086&cidTexte=LEGITEXT000006053066&dateTexte=20120619">article 48-1 du décret n° 2005 – 1755</a> (créé par décret n° 2011-577 du 26 mai 2011)</h3>

                <p>« Les redevances instituées au bénéfice de l'Etat ou de l'un de ses établissements publics à caractère administratif avant le 1er juillet 2011 demeurent soumises au régime en vigueur avant cette date sous réserve que les informations ou catégories d'informations concernées soient inscrites, dans un délai maximal d'un an à compter de cette date, sur une liste publiée sur le site internet prévu au quatrième alinéa de l'article 38.</p>

                <p>Le responsable du site internet procède à l'inscription des informations ou catégories d'informations mentionnées à l'alinéa précédent sur simple demande de l'autorité compétente pour délivrer les licences de réutilisation.</p>

                <p>A défaut d'inscription des informations concernées sur la liste mentionnée au premier alinéa ou à défaut de publication de cette liste, avant le 1er juillet 2012, les redevances instituées deviennent caduques et les titulaires de licences peuvent réutiliser les informations en cause gratuitement.»</p>

                <h3>Le champ d’application de l’article 48-1 du décret n° 2005-1755 du 30 décembre 2005</h3>

                <p>Le <a href="http://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000024073976&dateTexte=20120619">décret n° 2011-577 du 26 mai 2011</a> relatif à la réutilisation des informations publiques détenues par l'Etat et ses établissements publics administratifs a prévu qu’à compter du 1er juillet 2011, les informations ou catégories d’informations dont la réutilisation peut être soumise au paiement d’une redevance doivent figurer sur une liste fixée par décret.</p>
                <p>Pour les redevances instituées avant l’entrée en vigueur du décret, les administrations de l’Etat et ses établissements publics à caractère administratif ont jusqu’au 1er juillet 2012 pour faire inscrire sur une seconde liste les informations ou catégories d’informations concernées. Cette procédure ne s’applique qu’aux informations publiques faisant l’objet d’une redevance de réutilisation au sens du chapitre II du titre 1er de la loi n° 78-753 du 17 juillet 1978.</p>

                <p>Ne sont donc pas concernés, notamment :
                <ul>
                    <li>les produits éditoriaux élaborés à partir des informations détenues ou produites par l’administration ;</li>
                    <li>les informations contenues dans des documents administratifs dont l’accès est rendu payant mais sans souscription d’une licence de réutilisation ;</li>
                    <li>les informations faisant l’objet de modalités de mise à disposition à la fois gratuites et payantes.</li>
                </ul>
                </p>

                <p>Sont également exclues :
                <ul>
                    <li>les informations contenues dans des documents produits ou reçus par les administrations dans l'exercice d'une mission de service public à caractère industriel ou commercial ;</li>
                    <li>les informations contenues dans des documents produits ou reçus par les établissements et institutions d'enseignement et de recherche et les établissements, organismes ou services culturels.</li>
                </ul>
                </p>

                <h3>Les listes de redevances (par ministère)</h3>

                <h4>Premier ministre</h4>

                <ul class="list-unstyled">
                    <li><a href="http://www.data.gouv.fr/f/redevances/Direction de l information légale et administrative (DILA).xls">Direction de l information légale et administrative (DILA).xls</a> 108,50 kB</li>
                </ul>


                <h4>Ministère des Affaires étrangères</h4>
                <p><i>Aucune information publique soumise à redevance avant le 1er juillet 2011 n’a été déclarée.</i></p>


                <h4>Ministère de l’Education nationale</h4>

                <ul class="list-unstyled">
                    <li><a href="http://www.data.gouv.fr/f/redevances/Direction de l évaluation, de la prospective et de la performance (DEPP).doc">Direction de l évaluation, de la prospective et de la performance (DEPP).doc</a> 61,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Office national d information sur les enseignements et les professions (ONISEP).doc">Office national d information sur les enseignements et les professions (ONISEP).doc</a> 61,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Centre d études et de recherches sur les qualifications (CEREQ).doc">Centre d études et de recherches sur les qualifications (CEREQ).doc</a> 61,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Centre international d études pédagogiques (CIEP).doc">Centre international d études pédagogiques (CIEP).doc</a> 61,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Centre national de documentation pédagogique (CNDP).doc">Centre national de documentation pédagogique (CNDP).doc</a> 61,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Centre national d enseignement à distance (CNED).doc">Centre national d enseignement à distance (CNED).doc</a> 61,00 kB</li>
                </ul>


                <h4>Ministère de la Justice</h4>

                <p><i>Aucune information publique soumise à redevance avant le 1er juillet 2011 n’a été déclarée.</i></p>


                <h4>Ministère de l’Economie et des Finances</h4>

                <ul class="list-unstyled">
                    <li><a href="http://www.data.gouv.fr/f/redevances/Institut National de la Statistique et des Etudes Economiques (INSEE).doc">Institut National de la Statistique et des Etudes Economiques (INSEE).doc</a> 170,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Service de la Communication (SIRCOM).doc">Service de la Communication (SIRCOM).doc</a> 170,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Direction Générale des Finances Publiques (DGFiP).doc">Direction Générale des Finances Publiques (DGFiP).doc</a> 170,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Institut National de la Propriété Industrielle (INPI).doc">Institut National de la Propriété Industrielle (INPI).doc</a> 170,00 kB</li>
                </ul>


                <h4>Ministère des Affaires sociales et de la Santé</h4>

                <ul class="list-unstyled">
                    <li><a href="http://www.data.gouv.fr/f/redevances/Agence Technique de l Information sur l Hospitalisation (ATIH).doc">Agence Technique de l Information sur l Hospitalisation (ATIH).doc</a> 60,50 kB</li>
                </ul>


                <h4>Ministère de l’Egalité des territoires et du Logement</h4>

                <p><i>Aucune information publique soumise à redevance avant le 1er juillet 2011 n’a été déclarée.</i></p>


                <h4>Ministère de l’Intérieur</h4>

                <ul class="list-unstyled">
                    <li><a href="http://www.data.gouv.fr/f/redevances/Direction de modernisation et de l administration du territoire (DMAT).xls">Direction de modernisation et de l administration du territoire (DMAT).xls</a> 23,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Direction Générale des Collectivités Locales (DGCL).xls">Direction Générale des Collectivités Locales (DGCL).xls</a> 17,50 kB</li>
                </ul>


                <h4>Ministère du Commerce extérieur</h4>
                <p><i>Aucune information publique soumise à redevance avant le 1er juillet 2011 n’a été déclarée.</i></p>


                <h4>Ministère du Redressement productif</h4>

                <ul class="list-unstyled">
                    <li><a href="http://www.data.gouv.fr/f/redevances/Chambre de commerce et industrie de Paris.doc">Chambre de commerce et industrie de Paris.doc</a> 19,50 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Chambres de commerce et d industrie & Chambres de métiers.doc">Chambres de commerce et d industrie & Chambres de métiers.doc</a> 141,50 kB</li>
                </ul>


                <h4>Ministère de l’Ecologie, du Développement durable et de l’Energie</h4>

                <ul class="list-unstyled">
                    <li><a href="http://www.data.gouv.fr/f/redevances/Institut National de l Information Géographique et Forestière.doc">Institut National de l Information Géographique et Forestière.doc</a> 39,50 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Météo France.doc">Météo France.doc</a> 167,50 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Service de l Observation et des Statistiques SOeS.odt">Service de l Observation et des Statistiques SOeS.odt</a> 27,50 kB</li>
                </ul>


                <h4>Ministère du Travail, de l’Emploi, de la Formation professionnelle et du Dialogue social</h4>
                <p><i>Aucune information publique soumise à redevance avant le 1er juillet 2011 n’a été déclarée.</i></p>


                <h4>Ministère de la Défense</h4>

                <ul class="list-unstyled">
                    <li><a href="http://www.data.gouv.fr/f/redevances/Service Hydrographique et océanographique de la marine (SHOM).doc">Service Hydrographique et océanographique de la marine (SHOM).doc</a> 860,50 kB</li>
                </ul>


                <h4>Ministère de la Culture et de la Communication</h4>
                <p><i>Aucune information publique soumise à redevance avant le 1er juillet 2011 n’a été déclarée.</i></p>


                <h4>Ministère de l’Enseignement supérieur et de la Recherche</h4>
                <p><i>Aucune information publique soumise à redevance avant le 1er juillet 2011 n’a été déclarée.</i></p>


                <h4>Ministère des Droits des femmes</h4>
                <p><i>Aucune information publique soumise à redevance avant le 1er juillet 2011 n’a été déclarée.</i></p>


                <h4>Ministère de l’Agriculture, de l’Agroalimentaire et de la Forêt</h4>

                <ul class="list-unstyled">
                    <li><a href="http://www.data.gouv.fr/f/redevances/Agence de services et de paiement.xls">Agence de services et de paiement.xls</a> 30,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/FranceAgriMer.xls">FranceAgriMer.xls</a> 30,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Institut français du cheval et de l équitation.xls">Institut français du cheval et de l équitation.xls</a> 30,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Institut National de l origine et de la qualité.xls">Institut National de l origine et de la qualité.xls</a> 30,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Secrétariat Général Service de la statistique et de la prospective.xls">Secrétariat Général Service de la statistique et de la prospective.xls</a> 30,00 kB</li>
                </ul>


                <h4>Ministère de la Réforme de l’Etat, de la Décentralisation et de la Fonction publique</h4>
                <p><i>Aucune information publique soumise à redevance avant le 1er juillet 2011 n’a été déclarée.</i></p>


                <h4>Ministère des Outre-Mer</h4>
                <p><i>Aucune information publique soumise à redevance avant le 1er juillet 2011 n’a été déclarée.</i></p>


                <h4>Ministère de l'Artisanat, du Commerce et du Tourisme</h4>

                <ul class="list-unstyled">
                    <li><a href="http://www.data.gouv.fr/f/redevances/Chambres de commerce et d industrie & Chambres de métiers.doc">Chambres de commerce et d industrie & Chambres de métiers.doc</a> 141,50 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Chambre de commerce et industrie de Paris.doc">Chambre de commerce et industrie de Paris.doc</a> 19,50 kB</li>
                </ul>


                <h4>Ministère des Sports, de la Jeunesse, de l’Education populaire et de la Vie associative</h4>
                <p><i>Aucune information publique soumise à redevance avant le 1er juillet 2011 n’a été déclarée.</i></p>


                <h4>D’autres institutions publiques ont également déclaré des redevances de réutilisation d’informations publiques établies avant le 1er juillet 2011
                </h4>

                <ul class="list-unstyled">
                    <li><a href="http://www.data.gouv.fr/f/redevances/Commission d accès aux documents administratifs (CADA).doc">Commission d accès aux documents administratifs (CADA).doc</a> 21,00 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Conseil d Etat.doc">Conseil d Etat.doc</a> 69,50 kB</li>
                    <li><a href="http://www.data.gouv.fr/f/redevances/Cour de cassation.doc">Cour de cassation.doc</a> 31,00 kB</li>
                </ul>

            </article>
        </div>
    </div>
</section>
{% endblock %}
