{% extends theme("base.html") %}

{% set meta = {
    'title': 'Service Public de la Donnée',
    'description': 'Service Public de la donnée de référence, des données sur lesquelles vous pouvez compter.',
    'keywords': [
        'SPD',
        _('Reference Data'),
        'Service Public de la Donnée',
    ],
} %}

{% set body_class="spd" %}

{% block content %}
{% cache cache_duration, 'spd', g.lang_code %}
<section class="content">
    <div class="container">
        <div class="row">
            <h1 class="col-xs-12">Service public de la donnée : des données sur lesquelles vous pouvez compter</h1>

            <p class="col-xs-12  lead">Le service public de la donnée
                créé par <a href="https://www.legifrance.gouv.fr/affichTexteArticle.do?cidTexte=JORFTEXT000033202746&idArticle=JORFARTI000033203033&categorieLien=cid">l’Article 14 de la loi pour une République numérique</a>
                vise à mettre à disposition, en vue de faciliter leur réutilisation,
                les jeux de données de référence qui présentent le plus fort impact économique et social.
                Il s’adresse principalement aux entreprises et aux administrations
                pour qui la disponibilité d’une donnée de qualité est critique.
                Les producteurs et les diffuseurs prennent des engagements auprès de ces utilisateurs.
                La mission Etalab est chargée de la mise en oeuvre et de la gouvernance de ce nouveau service public.
                Elle référence l’ensemble des données concernées sur cette page.</p>


        </div>
    </div>
</section>

{% if datasets %}
<section class="content data">
    <div class="container">

        <div class="row">
            <h2 class="col-xs-12">Les données de référence</h2>
            <p class="col-xs-12">À ce jour, neuf jeux de données, qui couvrent un large champ thématique
                ont été identifiés comme des données de référence.</p>
        </div>

        <ul class="card-list card-list--columned">
            {% for dataset in datasets %}
            <li class="col-xs-12 col-sm-6 col-md-4">{% include theme('dataset/card.html') %}</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}

<section class="content">
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-8 col-md-9">
                <h2>L’organisation du service public de la donnée</h2>

                <p>Elle est déterminée par le décret d’application
                    <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000034194946&categorieLien=id">2017-331</a>
                    du 14 mars 2017 relatif au service public de mise à disposition des données de référence.</p>

                <p><strong>Les producteurs</strong> produisent la donnée de référence et documentent les métadonnées.<br>
                    Ils traitent les remontées des utilisateurs ou le cas échéant,
                    orientent les utilisateurs vers le service compétent pour traiter ces demandes.<br>
                    Ils prennent des engagements sur la mise à jour des données.<br>
                    Ils désignent les diffuseurs pour chacun des jeux de données de référence.</p>

                <p><strong>Les diffuseurs</strong> mettent à disposition les données avec un haut niveau de qualité.<br>
                    Ils s’engagent sur des niveaux de performance et de disponibilité.</p>

                <p><strong>Les utilisateurs</strong> utilisent les données de référence pour produire
                    de nouveaux services et créer de la valeur économique et sociale.<br>
                    Ils participent à la montée en qualité des données de référence
                    (signalement des erreurs, propositions d’amélioration).</p>

                <p><strong>La mission Etalab</strong>, en charge du portail data.gouv.fr
                    recense l’ensemble des jeux de données de référence.<br>
                    Elle gère le service public de la donnée en lien avec les producteurs.<br>
                    Elle anime le dispositif et en assure la promotion auprès des utilisateurs.<br>
                    Elle développe des outils mutualisables, notamment sur la montée en qualité des données.</p>

                <p>Par ailleurs, en cas de défaillance des diffuseurs,
                    ou de non-respect des engagements notamment en matière de performance et de disponibilité,
                    la mission Etalab est habilitée à se substituer au diffuseur désigné par le producteur.</p>

                <h2>Les prochaines étapes</h2>

                <p class="text-justify">Le service public de la donnée se construit progressivement,
                    dans un mode itératif avec les producteurs et les utilisateurs.
                    Chaque producteur doit publier ses engagements sur les conditions de la mise à disposition
                    (documentation des données, fréquence de mise à jour, performance
                    et disponibilité de la mise à disposition).</p>

                    <p class="text-justify">La mission Etalab publiera sur ce site les indicateurs de disponibilité des données,
                        et assurera plus généralement le suivi du respect de ces engagements.</p>
            </article>

            <aside class="col-xs-12 col-sm-4 col-md-3">
                <h3>Références</h3>
                <ul class="list-unstyled">
                    <li><a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?cidTexte=LEGITEXT000031366350&idArticle=LEGIARTI000033205649&dateTexte=29990101&categorieLien=cid">L’article L321-4 du Code des relations entre le public et les administrations</a></li>
                    <li><a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000034194946&categorieLien=id">Le décret d’application 2017-331 du 14 mars 2017 relatif au service public de mise à disposition des données de référence</a></li>
                    <li><a href="https://www.legifrance.gouv.fr/eli/arrete/2017/6/14/PRMJ1713859A/jo/texte">L'arrêté du 14 juin 2017 relatif aux règles techniques et d'organisation de mise à disposition des données de référence prévues à l'article L. 321-4 du code des relations entre le public et l'administration</a></li>
                    <li><a href="http://www.etalab.gouv.fr/consultation-spd">La synthèse de la consultation publique organisée par Etalab en octobre 2016</a></li>
                </ul>
            </aside>
        </div>
    </div>
</section>

{% endcache %}
{% endblock %}
