{% extends theme("layouts/1-column.html") %}
{% from theme('macros/paginator.html') import paginator with context %}
{% from theme('macros/follow.html') import follow_btn with context %}
{% from theme('macros/timeline.html') import timeline with context %}

{% block extra_head %}
{% assets 'gouvfr-org-css' %}
<link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url_for('organizations.list') }}">{{ _('Organizations') }}</a></li>
    <li class="active">{{ org.name }}</li>
{% endblock %}

{% block content %}
<section class="default">
    <div class="container organization-container"
        data-organization-id="{{ org.id }}"
        data-organization-title="{{ org.title }}">

        <div class="row">

            <div class="col-sm-9">
                <h1>
                    {{ org.name }}
                    {% if can_edit %}
                    <small>
                        <a class="btn btn-xs btn-default"
                            href="{{ url_for('organizations.edit', org=org) }}">
                            <span class="glyphicon glyphicon-edit" ></span>
                            {{ _('Edit') }}
                        </a>
                    </small>
                    {% endif %}
                </h1>
                <div>{{ org.description or ''|markdown }}</div>
            </div>

            {# Left sidebar with organization aside ( counters, logo, social...) #}
            <aside class="col-sm-3 card">
                {% if org.public_service %}
                    <img src="{{ theme_static('img/certified-stamp.png') }}" alt="certified"
                        class="certified" rel="popover"
                        data-title="{{ _('Certified public service') }}"
                        data-content="{{ _('This organization and its datasets are certified by data.gouv.fr') }}"
                        data-container="body" data-placement="left" data-trigger="hover"/>
                {% endif %}
                <div class="text-center">
                    <img src="{{org.image_url|placeholder('organization') }}"
                        alt="{{ org.title }}" class="scalable" />
                </div>
                <br/>
                <div class="tab-links">
                    {% if org.metrics.datasets %}
                    <p class="text-center">
                        <strong>
                            <a href="{{url_for('organizations.show', org=org)}}#datasets">
                            {{ ngettext('%(num)d dataset', '%(num)d datasets', org.metrics.datasets or 0) }}
                            </a>
                        </strong>
                    </p>
                    {% endif %}
                    {% if org.metrics.members %}
                    <p class="text-center">
                        <strong>
                            <a href="{{url_for('organizations.show', org=org)}}#members">
                            {{ ngettext('%(num)d member', '%(num)d members', org.metrics.members or 0) }}
                            </a>
                        </strong>
                    </p>
                    {% endif %}
                    {% if org.metrics.followers %}
                    <p class="text-center">
                        <strong>
                            <a href="{{url_for('organizations.show', org=org)}}#followers">
                            {{ ngettext('%(num)d follower', '%(num)d followers', org.metrics.followers or 0) }}
                            </a>
                        </strong>
                    </p>
                    {% endif %}
                    {% if org.metrics.reuses %}
                    <p class="text-center">
                        <strong>
                        <a href="{{url_for('organizations.show', org=org)}}#reuses">
                            {{ ngettext('%(num)d reuse', '%(num)d reuses', org.metrics.reuses or 0) }}
                        </strong>
                    </p>
                    {% endif %}
                    {% if activities %}
                    <p class="text-center">
                        <strong>
                            <a href="{{url_for('organizations.show', org=org)}}#activities">
                                {{ _('Recent activities') }}
                            </a>
                        </strong>
                    </p>
                    {% endif %}
                </div>
                {% set member = org.member(current_user) %}
                {% if not member %}
                    {% set pending_request = org.pending_request(current_user) %}
                    {% if not pending_request %}
                    <a href rel="tooltip" class="btn btn-primary btn-block btn-sm icon-left membership"
                        data-placement="left"
                        data-api="{{ url_for('api.request_membership', org=org) }}"
                        title="{{ _('I belong to this organization') }}">
                        <span class="glyphicon glyphicon-user"></span>
                        {{ _('Join') }}
                    </a>
                    {% endif %}
                    <div class="tooltip-wrapper" rel="tooltip" title="{{ _('Waiting for approval') }}" data-placement="left">
                        <a id="pending-button" href rel="tooltip"
                            class="btn btn-default btn-block btn-sm icon-left disabled {% if not pending_request %}hide{% endif %}"
                            >
                            <span class="glyphicon glyphicon-user"></span>
                            {{ _('Pending request') }}
                        </a>
                    </div>
                {% elif member.role == 'admin' %}
                <div class="tooltip-wrapper" rel="tooltip" title="{{ _('You are an administrator of this organization') }}" data-placement="left">
                    <a href class="btn btn-default btn-block btn-sm icon-left disabled">
                        <span class="glyphicon glyphicon-user"></span>
                        {{ _('Administrator') }}
                    </a>
                </div>
                {% elif member.role == 'editor' %}
                <div class="tooltip-wrapper" rel="tooltip" title="{{ _('You are editor in this organization') }}" data-placement="left">
                    <a href class="btn btn-default btn-block btn-sm icon-left disabled">
                        <span class="glyphicon glyphicon-user"></span>
                        {{ _('Editor') }}
                    </a>
                </div>
                {% else %}
                <div  class="tooltip-wrapper" rel="tooltip" title="{{ _('You are a member of this organization') }}" data-placement="left">
                    <a href class="btn btn-default btn-block btn-sm icon-left disabled">
                        <span class="glyphicon glyphicon-user"></span>
                        {{ _('Member') }}
                    </a>
                </div>
                {% endif %}

                <button type="button"
                    class="btn btn-primary btn-follow btn-block btn-sm icon-left {% if is_following(org) %}active{% endif %}"
                    rel="tooltip" data-placement="left"
                    data-api-url="{{ url_for('api.follow_organization', id=org.id|string) }}"
                    {% if is_following(org) %}
                    title="{{ _('Unfollow') }}">
                    <span class="glyphicon glyphicon-eye-close"></span>
                    {{ _('Unfollow') }}
                    {% else %}
                    title="{{ _("I'll be informed about this organization news") }}">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    {{ _('Follow') }}
                    {% endif %}
                </button>
            </aside>
        </div>

        {# Datasets and reuses tabs #}
        {% set dataset_tabs = (
            ('datasets', _('Datasets'), datasets, {'organization': org.id|string}),
            ('supplied-datasets', _('Supplied datasets'), supplied_datasets, {'supplier': org.id|string}),
            ('private-datasets', _('Private datasets'), private_datasets, {}),
        ) %}
        {% set reuse_tabs = (
            ('reuses', _('Reuses'), reuses, {'organization': org.id|string}),
            ('private-reuses', _('Private reuses'), private_reuses, {}),
        ) %}
        {% set user_tabs = (
            ('members', _('Members'), org.members, {}),
            ('followers', _('Followers'), followers, {}),
        ) %}
        {% set activity_tab = ('activity', _('Activity'), activities, {}) %}
        {% set actived = False %}

        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-pills" data-tabs="tabs">
                    {% for tab_id, label, content, kwargs in (dataset_tabs + reuse_tabs + user_tabs) %}
                    {% if content %}
                    <li {% if not actived %}class="active"{% set actived = True %}{% endif %}>
                        <a href="#{{tab_id}}" data-toggle="tab">{{ label }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="tab-content">
                {% set actived = False %}

                {% for tab_id, label, datasets, kwargs in dataset_tabs  %}
                {% if datasets %}
                <div id="{{tab_id}}"
                    class="tab-pane {% if not actived %}active{% set actived=True %}{% endif %}">
                    <ul class="card-list">

                        {% for dataset in datasets %}
                        <li class="col-md-4 col-sm-6">
                            {% include theme('dataset/card.html') %}
                        </li>
                        {% endfor %}

                    </ul>
                    {% if datasets.total > datasets|length %}
                    <div class="clearfix"></div>
                    <p class="text-center">
                        <a class="btn btn-default"
                            href="{{ url_for('datasets.list', sort='-created', **kwargs) }}">
                            <span class="glyphicon glyphicon-list" ></span>
                            {{ _('See the %(nb)s datasets', nb=datasets.total) }}
                        </a>
                    </p>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}

                {% for tab_id, label, reuses, kwargs in reuse_tabs  %}
                {% if reuses %}
                <div id="{{tab_id}}"
                    class="tab-pane">
                    <ul class="card-list">

                        {% for reuse in reuses %}
                        <li class="col-md-4 col-sm-6">
                            {% include theme('reuse/card.html') %}
                        </li>
                        {% endfor %}

                    </ul>
                    {% if reuses.total > reuses|length %}
                    <div class="clearfix"></div>
                    <p class="text-center">
                        <a class="btn btn-default"
                            href="{{ url_for('reuses.list', sort='-created', **kwargs) }}">
                            <span class="glyphicon glyphicon-list" ></span>
                            {{ _('See the %(nb)s reuses', nb=reuses.total) }}
                        </a>
                    </p>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}

                {% if org.members %}
                <div id="members" class="tab-pane">
                    <div class="row card-list">
                        {% for member in org.members %}
                        <div class="col-md-4">
                          {% include theme('organization/member-card.html') %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if followers %}
                <div id="followers" class="tab-pane">
                    <div class="row card-list">
                        {% for follow in followers %}
                        <div class="col-md-4">
                          {% include theme('follow/follower-card.html') %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if activities %}
                <div id="activities" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ timeline(activities) }}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {# end tabs #}

    </div>
</section>
{% endblock %}

{% block hiddens %}
{% if not user %}
<meta name="login-to-follow-org-i18n" content="{{ _('You need to be logged in to follow an organization') }}">
<meta name="login-for-membership-i18n" content="{{ _('You need to be logged in to request membership to an organization') }}">
<meta name="login-for-pendings-i18n" content="{{ _('You need to be logged in to accept or refuse a membership request') }}">
{% endif %}
{% if not is_member %}
<meta name="membership-requested-i18n" content="{{ _('A request has been sent to the administrators') }}">
<meta name="membership-request-error-i18n" content="{{ _('Error while requesting membership to {org}') }}">
{% endif %}
{% if is_admin %}
<meta name="membership-accepted-i18n" content="{{ _('Membership request has been accepted') }}">
<meta name="membership-refused-i18n" content="{{ _('Membership request has been refused') }}">
<meta name="membership-response-error-i18n" content="{{ _('Error while responding to membership request') }}">
{% endif %}
<meta name="following-org-i18n" content="{{ _('You are now following {org}') }}">
<meta name="unfollowing-org-i18n" content="{{ _('You are not following {org} anymore') }}">
<meta name="follow-org-error-i18n" content="{{ _('Error while toggling follower status') }}">
{% endblock %}
