{% set details_view = details_view or url_for("organizations.show", org=organization, _external=True) %}
{% set name = organization.name or organization.fullname %}
<div class="row producer-panel justify-between">
    <div class="col-auto">
        <a href="{{ details_view }}"
        title="{{ name }}">
            <img src="{{ organization.logo|placeholder('organization') }}"
                alt="{{ name }}" class="organization-logo producer img-responsive"/>
        </a>
    </div>
    <div class="col container mt-md-md">
        <h3 class="text-white">
            {{ name }}
        </h3>
        <ul class="nav-list fs-base">
            <li><a class="nav-link text-decoration-none" href="{{ details_view }}" title="{{ _('View Profile') }}">
                {{ _('View Profile') }}</a></li>
            <li><a class="nav-link text-decoration-none" @click="$refs.discussions.startThread()" title="{{ _('Contact the producer') }}">{{ _('Contact the producer') }}</a></li>
            <li><a class="nav-link text-decoration-none" href="{{ url_for('api.organization_followers', id=organization.id|string) }}" title="">{{ _('@@Suivre le producteur') }}</a></li>
        </ul>
    </div>
    <div class="col-auto"></div>
</div>
