{% extends theme('admin/base.html') %}

{% block tab_content %}
<div class="row">
    <div class="col-xs-12">
        <table class="table table-stripped posts-table">
            <thead>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Last modified') }}</th>
                    <th width="40px"></th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
            <tr>
                <td>
                    <a href="{{ url_for('posts.edit', post=post) }}">{{ post.name }}</a>
                </td>
                <td>
                    <a href>{{ post.last_modified|datetimeformat('long') }}</a>
                </td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <a class="btn btn-danger post-remove" title="{{ _('Remove') }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
