{% extends theme('layouts/form.html') %}
{% import 'macros/forms.html' as forms with context %}

{% block extra_js %}
<script type="text/javascript" src="{{ static('site/form.js') }}"></script>
{% endblock %}

{% block main_content %}
<div class="row form-bg">
    <div class="col-xs-12">
        <form class="form-horizontal validation" method="post" action=".">
            {{ forms.render(form) }}
            {{ forms.required_disclaimer() }}

            <div class="form-group">
                {% block form_controls %}{% endblock %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
