{% extends theme('user/base.html') %}


{% block breadcrumb %}
    {{ super() }}
    <li class="active">
        <a href="{{ url_for('users.reuses', user=user) }}">
        {{ _('Reuses') }}
        </a>
    </li>
{% endblock %}

{% set user_tab = 'reuses' %}


{% block user_content %}

{% if reuses %}

	<div class="row">
	    <div class="col-sm-12">
	        <ul class="card-list card-list--columned">
	            {% for reuse in reuses %}
	            <li class="col-sm-6">{% include theme('reuse/card.html') %}</li>
	            {% endfor %}
	        </ul>
	    </div>
	</div>

{% else %}

	<div class="row">
	    <div class="col-xs-12">
            <p class="text-center lead">
            {{ _('%(user)s has not yet published any reuse', user=user.fullname) }}
            </p>
	    </div>
	</div>


{% endif %}

{% endblock %}
