{% cache cache_duration, 'footer', g.lang_code|default(config.DEFAULT_LANGUAGE)|string,'-'.join((package_version('udata'), package_version('udata-front'))) %}
<section class="footer" role="contentinfo">
    <footer>
        {% include theme("participez/participez.html") %}
    </footer>
    <footer class="footer-links bg-grey-50 text-grey-500 fr-py-9v py-lg-xl">
        <div class="hagrid">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-3">
                    <h3 class="h4">{{ _('The Open Data') }}</h3>
                    <ul class="fr-text--sm fr-mb-0">
                        {% for item in nav.gouvfr_opendata %}
                        <li>
                            <a class="unstyled" href="{{ item.url }}">{{ item.label }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="fr-col-12 fr-col-lg-3 mt-lg-lg">
                    <h3 class="h4">{{ _('Support') }}</h3>
                    <ul class="fr-text--sm fr-mb-0">
                        {% for item in nav.gouvfr_support %}
                        <li>
                            <a class="unstyled" href="{{ item.url }}">{{ item.label }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="fr-col-12 fr-col-lg-3 mt-lg-lg">
                    <h3 class="h4">{{ _('Social networks') }}</h3>
                    <ul class="socials fr-my-3w fr-grid-row">
                        <li>
                            <a href="https://twitter.com/datagouvfr" title="Twitter">
                                {% include theme('svg/socials/twitter.svg') %}
                            </a>
                        </li>
                        <li class="fr-ml-9v">
                            <a href="https://www.linkedin.com/company/etalab" title="Linkedin">
                                {% include theme('svg/socials/linkedin.svg') %}
                            </a>
                        </li>
                        <li class="fr-ml-9v">
                            <a href="https://github.com/etalab/data.gouv.fr/" title="Github">
                                {% include theme('svg/socials/github.svg') %}
                            </a>
                        </li>
                    </ul>
                    <ul class="fr-grid-row fr-text--sm fr-my-3w">
                        <li>
                            <a
                                href="{{ url_for('datasets.recent_feed') }}"
                                title="{{ _('RSS feed') }}"
                                class="unstyled"
                            >
                                RSS
                            </a>
                        </li>
                        <li class="fr-ml-9v">
                            <a
                                href="https://infolettres.etalab.gouv.fr/subscribe/rn7y93le1"
                                title="{{ _('Newsletter') }}"
                                class="unstyled"
                            >
                                {{ _('Newsletter') }}
                            </a>
                        </li>
                    </ul>
                    <p class="text-grey-500 fr-text--sm fr-my-1w">
                        {{ _("Unless otherwise stated, all content of this site is availabe under <a href='{lo_url}'>Open Licence 2.0</a>").format(
                            lo_url='https://github.com/etalab/licence-ouverte/blob/master/LO.md#licence-ouverte-20open-licence-20'
                        ) }}
                    </p>
                </div>
                <div class="fr-col-12 fr-col-lg-3 mt-lg-lg self-center">
                    <div class="etalab-logo">
                        <a href="http://www.etalab.gouv.fr" title="{{ _('Go to Etalab’s blog') }}">
                            {% include theme('svg/logo-etalab.svg') %}
                        </a>
                    </div>
                    <ul class="text-grey-500 fr-text--sm fr-mv-0">
                        <li>{{ _('A DINUM department') }}</li>
                        <li>
                            <a
                                href="https://numerique.gouv.fr"
                                title="{{ _('DINUM website') }}"
                                class="fr-text--bold unstyled w-100"
                            >
                                numerique.gouv.fr
                            </a>
                        </li>
                    </ul>
                    <ul class="engines fr-mt-2w fr-text--xs fr-mb-0 text-grey-380">
                        <li>
                            <a
                                href="https://github.com/opendatateam/udata/"
                                title="{{ _('Open-source engine') }}"
                                class="unstyled"
                            >
                                udata
                            </a>
                            <a
                                href="https://pypi.org/project/udata/{{ package_version('udata') }}/"
                                title="{{ _('Deployed version') }}"
                                class="unstyled"
                            >
                                {{ package_version('udata') }}
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://github.com/etalab/udata-front/"
                                title="{{ _('Data.gouv.fr extension') }}"
                                class="unstyled"
                            >
                                udata-front
                            </a>
                            <a href="https://pypi.org/project/udata-front/{{ package_version('udata-front') }}/"
                                title="{{ _('Deployed version') }}"
                                class="unstyled"
                            >
                                {{ package_version('udata-front') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="hagrid">
        <footer class="footer-brand fr-py-7w py-lg-xl text-grey-500">
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom">
                <div class="fr-col-12 fr-col-lg-4 marianne-logo">
                    <a href="{{ url_for('site.home') }}" title="{{ _('Go back to home page') }}" class="mw-100">
                        {% include theme('svg/marianne.svg') %}
                    </a>
                </div>
                <ul class="fr-col-12 fr-col-lg-6 fr-grid-row network">
                    {% for item in nav.gouvfr_network %}
                    <li class="mr-lg mt-md fr-text--bold">
                        <a class="unstyled" href="{{ item.url }}">{{ item.label }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="fr-col-6 fr-col-sm-4 fr-col-md-3 fr-col-lg-2 fr-ml-auto fr-mr-1v">
                    <select
                        aria-label="{{ _('Language selector') }}"
                        class="fr-select"
                        onchange="location = location.href.replace(new RegExp('\/\\w{2}\/'), '/' + this.value + '/', regex=true)"
                    >
                        {% for code, name in config['LANGUAGES'].items() %}
                            {% if g.lang_code == code %}
                            <option value={{code}} selected>
                                {{name}}
                            </option>
                            {% else %}
                            <option value={{code}}>
                                {{name}}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </footer>
        <footer class="footer-legals fr-py-3w text-grey-380 fr-text--sm fr-mb-0">
            <div class="fr-grid-row fr-grid-row--gutters align-items-center">
                <ul class="fr-col-12 fr-col-lg fr-grid-row legal-nav text-align-center-lg">
                    {% for item in nav.gouvfr_footer %}
                    <li>
                        <a href="{{ '' if item.items else item.url }}" title="{{ item.label }}" class="unstyled">
                            {{ item.label }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </footer>
    </div>
</section>
{% endcache %}
