{% set banner_activated = config['BANNER_ACTIVATED'] %}
{% set read_only_mode = config['READ_ONLY_MODE'] %}
{% set next_url = url_for(request.endpoint, **request.view_args) if not request.routing_exception else url_for('site.home') %}

{% if read_only_mode %}
{% include theme('banners/read-only.html') with context %}
{% endif %}

{% if banner_activated %}
{% block banner %}
{% set banner_message = config['BANNER_HTML_CONTENT_FR'] if g.lang_code == "fr" else config['BANNER_HTML_CONTENT_EN'] %}
{% include theme('banners/generic.html') with context %}
{% endblock %}
{% endif %}

<section class="site-header" ref="header" role="banner">
    <div class="header-inner">
        <!--[if lte IE 8]>
        <div class="iewarning">
            {{ _('Internet Explorer 8 and below are not anymore supported. Please upgrade or change your browser to access the website.') }}
            <a href="http://browsehappy.com/">{{ _('More information →')}}</a>
        </div>
    <![endif]-->
        <header class="header-brand py-sm">
            <div class="hagrid">
                <div class="row align-items-center">
                    <div class="col-auto header-logo">
                        <a href="{{ url_for('site.home') }}" title="{{ _('Go back to home page') }}">
                            {% include theme('svg/marianne.svg') %}
                        </a>
                    </div>
                    <nav
                            class="col hidden visible-xl mobile-menu row-inline justify-end self-start vuejs"
                            role="navigation"
                            aria-label="{{ _('Mobile navigation menu') }}"
                    >
                        <a href="/datasets" title="{{ _('Search for data') }}" class="mr-md"
                            @click.capture.prevent="$bus.emit('suggest.startSearch')" role="search">
                            {% include theme('svg/search.svg') %}
                        </a>
                        <a href="#" @click.capture.prevent="addBodyClass('mobile-menu-open')"
                            title="{{ _('Open menu') }}">
                            {% include theme('svg/burger-menu.svg') %}
                        </a>
                        <a href="#" @click.capture.prevent="removeBodyClass('mobile-menu-open')"
                            title="{{ _('Close menu') }}" class="mobile-menu-close hidden">
                            {{ _('Close') }}
                            {% include theme('svg/close.svg') %}
                        </a>
                    </nav>
                    <div class="col-auto ml-lg ml-xl-0 col-xl-12 header-service">
                        <a href="{{ url_for('site.home') }}" title="{{ _('Go back to home page') }}">
                            {% include theme('svg/logotype.svg') %}
                        </a>
                    </div>
                    <div class="col login-box row-inline justify-end align-items-center">
                        {% if current_user.is_authenticated %}
                        <div class="row-inline align-items-center">
                            <img src="{{ current_user|avatar_url(24) }}" alt="" class="mr-xs rounded-circle" />
                            <span>{{ current_user.fullname }} </span>
                        </div>
                        <a href="{{ url_for('admin.index') }}"
                            title="{{ _('Administration') }}">{% include theme('svg/administration.svg') %}{{ _('Administration') }}
                        </a>
                        <a href="{{ url_for('security.logout') }}"
                            title="{{ _('Logout') }}">{% include theme('svg/login.svg') %}{{ _('Logout') }}
                        </a>
                        {% else %}
                        <a href="{{ url_for('security.login', next=next_url) }}"
                            title="{{ _('Log in') }}">{% include theme('svg/login.svg') %}{{ _('Log in') }}
                        </a>
                        {% if not read_only_mode %}
                        <a href="{{ url_for('security.register', next=next_url) }}"
                            title="{{ _('Sign up') }}">{% include theme('svg/register.svg') %}{{ _("Sign up") }}
                        </a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <nav class="header-nav">
            <div class="hagrid">
                <div class="row justify-between align-items-center">
                    <nav class="nav-tabs col" role="navigation" aria-label="{{ _('Main navigation menu') }}">
                        {% set current_endpoint = request.url_rule.endpoint.split('.')[:1] if request.url_rule or None %}
                        {% for item in current_theme.menu %}
                        {% set link_endpoint = item.endpoint and item.endpoint.split('.')[:1] %}
                        {% set active = request.url_rule.endpoint != "site.home" and (link_endpoint == current_endpoint) %}
                        <a class="tab {% if active %}active{% endif %}" href="{{item.url}}">{{ item.label }}</a>
                        {% endfor %}
                    </nav>
                    <div class="col-3 hidden-xl search-box vuejs" role="search">
                        <form action="/datasets" class="w-100 row-inline justify-between"
                            @focus.capture.prevent="$bus.emit('suggest.startSearch')" tabindex="0">
                            <input type="text" @keypress.prevent name="q" placeholder="{{ _('Search for data') }}" />
                            <button type="submit" aria-label="{{ _('Search for data') }}">
                                {% include theme('svg/search.svg') %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div class="vuejs">
            <suggest ref="suggest" />
        </div>
    </div>
</section>
