{% extends theme('base.html') %}

{% set meta = {
    'title': _('Home'),
    'description': _("%(site)s home", site=config['SITE_TITLE']),
    'keywords': [_('home')],
} %}

{% set read_only_mode = config.READ_ONLY_MODE %}

{% block content %}
{% cache cache_duration, 'home', g.lang_code %}

<section class="hero fr-py-3w fr-py-md-9v">
    <div class="hagrid">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-5">
                <h1 class="fr-mt-0 fr-mb-2w">{{ _('Open platform for French public data') }}</h1>
                <div>
                    <h4>{{ _('Featured topics') }}</h4>
                    <a href="{{ url_for('gouvfr.show_page', slug='donnees-des-elections') }}"
                        class="btn-venti fr-my-2w bg-blue-400">
                        Données relatives aux
                        <strong>Élections</strong>
                    </a>
                    <a href="{{ url_for('gouvfr.show_page', slug='donnees-geographiques') }}"
                        class="btn-venti fr-my-2w bg-blue-450">
                        Données à composante
                        <strong>Géographique</strong>
                    </a>
                    <a href="{{ url_for('gouvfr.show_page', slug='donnees-logement-urbanisme') }}"
                        class="btn-venti bg-green-400">
                        Données relatives au
                        <strong>Logement et à l'Urbanisme</strong>
                    </a>
                    <div class="row justify-center fr-mt-2w">
                        <a
                            href="{{ url_for('gouvfr.show_page', slug='donnees-cles-par-sujet') }}"
                            class="fr-btn fr-btn--secondary fr-icon-arrow-right-s-line fr-btn--icon-right"
                        >
                            {{ _('All featured topics') }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-col-offset-lg-1 fr-col-lg-6">
                <h4>{{ _('News') }}</h4>
                {% if last_post %}
                {% set post = last_post %}
                <a href="{{ post.display_url }}" title="{{ post.name }}" class="unstyled w-100 hero-post">
                    {% include theme('post/search-result.html') %}
                </a>
                <div class="row justify-center">
                    <a
                        href="{{ url_for('posts.list') }}"
                        class="fr-btn fr-btn--secondary fr-icon-arrow-right-s-line fr-btn--icon-right"
                    >
                        {{ _('All news') }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% set metrics = [
    (_('Datasets'), 'datasets'),
    (_('Resources'), 'resources'),
    (_('Reuses'), 'reuses'),
    (_('Users'), 'users'),
    (_('Organizations'), 'organizations'),
    (_('Discussions'), 'discussions'),
] %}


{# Metrics Section #}
<section class="metrics-bar">
    <div class="hagrid fr-py-md-7w fr-py-2w">
        <div class="bar fr-p-9v">
            <h3>{% include theme('svg/logotype.svg') %} {{ _('is') }}</h3>
            <div class="row-inline justify-between fr-mt-md-9v fr-mt-2w">
                {% for (label, metric) in metrics %}
                <div class="filet fr-my-1v fr-my-md-0">
                    <div class="fs-hg f-bold text-grey-400">{{ current_site.metrics[metric]|format_number }}</div>
                    <span class="text-grey-400">{{ label }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{# Datasets section #}
{% set visible_datasets = current_site.settings.home_datasets|visibles %}
{% set nb_datasets = visible_datasets|length %}
{% set dataset_tabs = (
    ('editorial-datasets', _('Featured datasets'), visible_datasets, {}),
    ('recent-datasets', _('Latest datasets'), recent_datasets[:nb_datasets], {'sort': '-created'}),
    ('reference-datasets', _('Reference datasets'), spd_datasets, {}),
) %}

<section class="datasets fr-pb-7w fr-pt-2w bg-grey-50">
    <div class="hagrid overflow-visible">
        {# Dataset tabs #}
        <div class="fr-grid-row fr-grid-row--gutters justify-between">
            <div class="fr-col-auto">
                <h2>{{ _('Datasets') }}</h2>
            </div>
            <div class="fr-col-auto fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-auto">
                    <nav class="fr-tags-group fr-hidden fr-unhidden-lg" data-tabs role="tablist">
                        {% for tab_id, label, _, _ in dataset_tabs %}
                        <button
                            role="tab"
                            aria-controls="{{tab_id}}"
                            class="fr-tag"
                            {% if loop.first %}
                                aria-pressed="true"
                                aria-selected="true"
                            {% else %}
                                aria-pressed="false"
                            {% endif %}
                        >
                            {{ label }}
                        </button>
                        {% endfor %}
                    </nav>
                </div>
                <div class="fr-col-auto">
                    <a
                        href="{{ url_for('datasets.list') }}"
                        class="fr-link fr-icon-arrow-right-s-line fr-link--icon-right"
                    >
                        {{ _('See more') }}
                    </a>
                </div>
            </div>
        </div>
        {% for tab_id, label, datasets, kwargs in dataset_tabs  %}
        <div class="fr-hidden {% if loop.first %}fr-unhidden{% endif %}" role="tabpanel" id={{tab_id}}>
            <div class="row fr-pt-md-9v fr-pt-2w">
                {% for dataset in datasets %}
                <div class="col-lg-12 col-4">{% include theme('dataset/card.html') %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {# end Dataset tabs #}
    </div>
</section>
{# End datasets section #}

{# Reuses section #}
{% set visible_reuses = current_site.settings.home_reuses|visibles %}
{% set nb_reuses = visible_reuses|length %}
{% set reuses_tabs = (
    ('best-reuses', _('Featured reuses'), visible_reuses, {}),
    ('latest-reuses', _('Latest reuses'), recent_reuses[:nb_reuses], {'sort': '-created'}),
) %}

{# Reuse section #}
<section class="reuse fr-py-3w fr-py-md-7w">
    <div class="hagrid overflow-visible">
        <div class="fr-grid-row fr-grid-row--gutters justify-between">
            <div class="fr-col-auto">
                <h2>{{ _('Data reuses') }}</h2>
            </div>
            <div class="fr-col-auto fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-auto">
                    <nav class="fr-tags-group fr-hidden fr-unhidden-lg" data-tabs role="tablist">
                        {% for tab_id, label, _, _ in reuses_tabs %}
                        <button
                            role="tab"
                            aria-controls="{{tab_id}}"
                            class="fr-tag"
                            {% if loop.first %}
                                aria-pressed="true"
                                aria-selected="true"
                            {% else %}
                                aria-pressed="false"
                            {% endif %}
                        >
                            {{ label }}
                        </button>
                        {% endfor %}
                    </nav>
                </div>
                <div class="fr-col-auto">
                    <a
                    href="{{ url_for('reuses.list', sort='-created') }}"
                    title="{{ _('Latest reuses') }}"
                    class="fr-link fr-icon-arrow-right-s-line fr-link--icon-right"
                >
                    {{ _('See more') }}
                </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hagrid">
        {% for tab_id, label, reuses, kwargs in reuses_tabs  %}
        <div class="fr-hidden {% if loop.first %}fr-unhidden{% endif %}" role="tabpanel" id="{{tab_id}}">
            <div class="fr-grid-row fr-grid-row--gutters fr-pt-2w fr-pt-md-9v">
                {% for reuse in reuses %}
                <div class="fr-mb-2w fr-mb-md-0 fr-col-lg-3 fr-col-sm-6 fr-col-12">
                    {% include theme('reuse/card.html') %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{# End reuse section #}
{% endcache %}
{% endblock %}
