{% extends theme('layouts/1-column.html') %}

{% set meta = {
    'title': page.title or '',
    'description': page.description or '',
    'keywords': page.keywords or [],
} %}

{% set bundle = 'post' %}

{% set body_class = 'post-display' %}

{% block main_content %}
<div class="container fr-py-3w" v-pre>
    {% if extension == 'md' %}
        <div>{{ page.content|markdown }}</div>
    {% else %}
        <div>{{ page.content|safe }}</div>
    {% endif %}
</div>

{% if datasets %}
<div class="container fr-mt-2w">
    <h2>{{ _('Datasets') }} <sup>{{ datasets|length }}</sup></h2>
    <div class="row">
        <div class="col-12">
            {% for dataset in datasets %}
            <a href="{{ url_for('datasets.show', dataset=dataset) }}" title="{{ dataset.title }}"
                class="unstyled w-100">{% include theme('dataset/search-result.html') %}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if reuses %}
<div class="container fr-mt-2w">
    <h2>{{ _('Reuses') }} <sup>{{ reuses|length }}</sup></h2>
    <ul class="fr-grid-row fr-grid-row--gutters text-align-center">
        {% for reuse in reuses %}
        <li class="fr-col-lg-3 fr-col-md-4 fr-col-sm-6 fr-col-12 fr-mb-3v">
            {% include theme('reuse/card.html') %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="container fr-my-7w">
    <div class="col-6 col-md-12">
        <h2 class="fs-xxl">{{ _('Actions') }}</h2>
        <ul class="nav-list">
            <li class="fr-my-2w">
                <a class="nav-link" href="{{ gh_url }}">{{ _('Suggest a modification') }}</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
