{% extends 'layouts/1-column.html' %}
{% import 'macros/forms.html' as forms with context %}

{% set section_class = 'form' %}

{% block main_content %}

<div class="container auth-container">
    <form class="form-horizontal validate col-md-offset-2 col-md-8"
        action="{{ url_for('security.change_password') }}" method="POST" name="change_password_form">
        <fieldset>
            <legend>{{ _('Change Password') }}</legend>
            {{ change_password_form.hidden_tag() }}
            {{ forms.field(change_password_form.password) }}
            {{ forms.field(change_password_form.new_password) }}
            {{ forms.field(change_password_form.new_password_confirm) }}
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">{{ _('Change Password') }}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
