{% extends 'layouts/1-column.html' %}
{% import 'macros/forms.html' as forms with context %}

{% set section_class = 'form' %}

{% block main_content %}

<div class="container auth-container">
    <form class="form-horizontal validate col-md-offset-2 col-md-8"
        action="{{ url_for('security.forgot_password') }}" method="POST" name="forgot_password_form">
        <fieldset>
            <legend>{{ _('Reset Password') }}</legend>
            <p>{{ _("Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.")}}</p>
            {{ forgot_password_form.hidden_tag() }}
            {{ forms.field(forgot_password_form.email) }}
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">{{ _('Reset Password') }}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
