{% import 'macros/forms.html' as forms with context %}

{% block main_content %}

<div class="container auth-container">
    <form class="form-horizontal validate col-md-offset-2 col-md-8"
        action="{{ url_for('security.reset_password', token=reset_password_token) }}"
        method="POST" name="reset_password_form">
        <fieldset>
            <legend>{{ _('Reset Password') }}</legend>
              {{ reset_password_form.hidden_tag() }}
              {{ forms.field(reset_password_form.password) }}
              {{ forms.field(reset_password_form.password_confirm) }}
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">{{ _('Reset Password') }}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
