{% cache cache_duration, 'footer', g.lang_code|default(config.DEFAULT_LANGUAGE) %}
<section class="footer">
    <div class="container">
        <footer class="row">

            <section class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <h5>{{ _('The Open Data') }}</h5>
                <ul>
                    {% for item in nav.gouvfr_footer %}
                    <li>
                        <a href="{{ '' if item.items else item.url }}">{{ item.label }}</a>
                        {% if item.items %}
                        <ul>
                            {% for subitem in item.items %}
                            <li><a href="{{ subitem.url }}">{{ subitem.label }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <h5>{{ _('Topics') }}</h5>
                <ul>
                    {% for topic in g.featured_topics %}
                    <li>
                        <a href="{{ url_for('topics.display', topic=topic) }}" title="{{ topic.name }}">
                        {{ topic.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <h5>{{ _('Network') }}</h5>
                <ul>
                    {% for item in nav.gouvfr_network %}
                    <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                    {% endfor %}
                </ul>
            </section>

            <section class="col-xs-6 col-sm-3 col-md-4 col-lg-4 social">
                <h5>{{ _('Contact') }}</h5>
                <a href="https://twitter.com/datagouvfr" title="Twitter">
                    <span class="fa fa-twitter-square"></span>
                </a>
                <a href="https://fb.me/etalab" title="Facebook">
                    <span class="fa fa-facebook-square"></span>
                </a>
                <a href="https://plus.google.com/117902389749487955734" title="Google+">
                    <span class="fa fa-google-plus-square"></span>
                </a>
                <a href="https://github.com/etalab" title="github">
                    <span class="fa fa-github-square"></span>
                </a>
                <a href="m&#x61;ilto:{{ config.CONTACT_EMAIL|obfuscate|safe }}">
                    <span class="fa fa-envelope-square"></span>
                </a>
                {% set rss_popup = ('''
                    <a title="{0}" href="{1}"><span class="fa fa-rss"></span>{0}</a><br/>
                    <a title="{2}" href="{3}"><span class="fa fa-rss"></span>{2}</a>
                '''|string).format(
                    _('Datasets'), url_for('datasets.recent_feed'),
                    _('Reuses'), url_for('reuses.recent_feed'),
                ) %}
                <a href="#" tabindex="-1" title="{{ _('Feeds') }}" class="feed-icon"
                    data-toggle="popover" data-trigger="focus" data-placement="top"
                    data-html="true" data-content="{{rss_popup|e}}">
                    <span class="fa fa-rss-square"></span>
                </a>
            </section>

            <section class="col-xs-9 col-xs-offset-3 col-sm-offset-0 col-sm-2 col-md-2 col-lg-2">
                <a href="http://www.etalab.gouv.fr">
                    <img class="logo" alt="logo"
                        src="{{ theme_static('img/etalab-logo.png') }}"
                        width="152" height="50" />
                    <p>2015 ETALAB</p>
                </a>
            </section>

            <p class="bottom-right"><a href="#">{{ _('Back to top') }}</a></p>

        </footer>
    </div>
</section>
{% endcache %}
