<section class="header">
    <!--[if lte IE 8]>
        <div class="iewarning">
            {{ _('Internet Explorer 8 and below are not anymore supported. Please upgrade or change your browser to
            access the website.') }}
            <a href="http://browsehappy.com/">{{ _('More information →')}}</a>
        </div>
    <![endif]-->

    <header class="container-fluid nav-header">
        <div class="row">
            <div class="col-3 col-hg-12 header-logo">
                <nav class="mobile-menu">
                    <a href="#" title="">
                        {% include('svg/burger-menu.svg') %}
                    </a>
                </nav>
                {# href="{{ url_for('site.home') }}" #}
                <a title="_('Retourner à l'accueil de data.gouv.fr')" class="p-xs">
                    {% include('svg/marianne.svg') %} {% include('svg/logotype.svg') %}
                </a>
            </div>
            <nav class="nav-tabs col hidden-hg">
                <a class="tab active" href="#">Données</a>
                <a class="tab" href="#">Réutilisations</a>
                <a class="tab" href="#">Organisations</a>
            </nav>
            <div class="col-3 login-box hidden-hg">
                {# href="{{ url_for('security.login', next=request.url) }}" #}
                <a title="{{ _('Sign In / Register') }}" class="mr-md">
                    {{ _('Se connecter') }}
                </a>
                <a class="search-box px-lg" href="#">
                    {% include('svg/search.svg') %}
                </a>
            </div>
        </div>
    </header>
</section>