{% extends "home.html" %}

{% block subnav %}
    {% include theme('subnav-large.html') %}
{% endblock %}

{% block content %}
{# Carousels section #}
<section class="default">
    <div class="container">

        {# First row #}
        <div class="row first-row">

            {# Carousel #}
            <div class="col-md-8">
                <h3>{{ _('Best reuse cases') }}</h3>
                <div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for reuse in featured_reuses %}
                        <div class="item {% if loop.first %}active{% endif %}">
                            <img class="slide" src="{{ reuse.image_url }}" alt="{{ reuse.title }}">
                            <div class="carousel-caption">
                                <div class="slide-logo pull-left">{{ reuse|owner_avatar(40) }}</div>
                                <span class="author">{{ reuse|owner_name}}</span>
                                <h4 class="title">
                                    <a href="{{ url_for('reuses.show', reuse=reuse) }}" title="{{ reuse.title }}">
                                    {{ reuse.title }}
                                    </a>
                                </h4>
                                {# {% if user.sysadmin %}
                                <a class="btn btn-xs btn-warning unfeature" rel="tooltip" href
                                    data-api="{{ url_for('youckan/reuse', reuse.id, 'unfeature') }}"
                                    title="{{ _('Unmark as featured') }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                {% endif %} #}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#home-carousel" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#home-carousel" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
            {# end carousel #}

            {# Last reuses #}
            <div class="col-md-4 single-column">
                <h3>
                    <a href="{{ url_for('reuses.list', sort='-created') }}"
                        title="{{ _('Latest reuses') }}">
                        {{ _('Latest reuses') }}
                    </a>
                </h3>
                <ul class="card-list">
                    {% for reuse in recent_reuses[:3] %}
                    <li class="col-xs-12">
                        {% include theme('reuse/card.html') %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {# End last reuses #}


        </div>
        {# end first row #}
    </div>

</section>
{# End Carousels section #}

{% if last_post %}
{% set post = last_post %}
<section class="highlight-bar">

    <div class="photo-bg">
        <img src="{{ post.image_url|placeholder('post') }}"
            alt="{{ post.name }}">
    </div>
    <div class="color-overlay"></div>

    <div class="container">
        <div class="row">
            <div class="photo hidden-xs col-xs-4">
                <img src="{{ post.image_url|placeholder('post') }}"
                    alt="{{ post.name }}">
            </div>

            <div class="body col-sm-8">
                <label>{{ _('Discussion topic') }}</label>
                <h3 class="title ellipsis-dot">
                    <a href="{{ url_for('posts.show', post=post) }}"
                        title="{{ post.name }}">
                        {{ post.name }}
                    </a>
                </h3>
                <p>{{post.content|mdstrip(280)}}</p>
            </div>
        </div>
    </div>
</section>
{% endif %}


{# Datasets section #}
{% set dataset_tabs = (
    ('popular-datasets', _('Essential datasets'), popular_datasets, {}),
    ('recent-datasets', _('Latest datasets'), recent_datasets, {'sort': '-created'}),
) %}

<section class="default spaced">
      <div class="container">
            {# Dataset tabs #}
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-pills" data-tabs="tabs">
                        {% for tab_id, label, _, _ in dataset_tabs %}
                        <li {% if loop.first %}class="active"{% endif %}>
                            <a href="#{{tab_id}}" data-toggle="tab">{{ label }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="tab-content">

                    {% for tab_id, label, datasets, kwargs in dataset_tabs  %}
                    <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{tab_id}}">
                        <ul class="card-list">

                            {% for dataset in datasets %}
                            <li class="col-md-4 col-sm-6">
                                {% include theme('dataset/card.html') %}
                            </li>
                            {% endfor %}

                        </ul>
                        <p class="text-center">
                            <a href="{{ url_for('datasets.list', **kwargs) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-list" ></span>
                                {{ _('See more') }}
                            </a>
                        </p>
                    </div>
                    {% endfor %}

                </div>
            </div>
            {# end Dataset tabs #}
      </div>
</section>
{# End datasets section #}

{# Blog section #}
<section class="default blog">
      <div class="container blog-container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>{{ _('The blog') }}</h3>
                </div>
            </div>

            <div class="row gray">
                <div class="col-xs-4 photo">
                    <img src="http://www.etalab.cst.easter-eggs.com/wp-content/uploads/2014/07/Plaque_de_rue_de_la_Place_Beauvau.jpg">
                </div>
                <div class="col-xs-8 body">
                    <span class="post-date">24 juillet 2014</span>
                    <h4>
                        <a href="http://www.etalab.cst.easter-eggs.com/le-ministere-de-linterieur-met-a-disposition-en-open-data-les-subventions-accordees-au-titre-de-la-reserve-ministerielle-pour-2012-et-2013"
                            title="Le ministère de l’Intérieur met à disposition en open data les subventions accordées au titre de la réserve ministérielle pour 2012 et 2013">
                            Le ministère de l’Intérieur met à disposition
                            en open data les subventions accordées au titre
                            de la réserve ministérielle pour 2012 et 2013
                        </a>
                    </h4>
                    <p>
                        Le ministère de l’Intérieur assure l’exécution de l’action 01 du programme budgétaire 122, « aides
exceptionnelles aux collectivités territoriales ». Ce programme comprend les subventions d’investissement des collectivités territoriales accordées au titre de la « réserve parlementaire » et de
la « réserve ministérielle ».
                        <a href="http://www.etalab.cst.easter-eggs.com/le-ministere-de-linterieur-met-a-disposition-en-open-data-les-subventions-accordees-au-titre-de-la-reserve-ministerielle-pour-2012-et-2013"
                            title="{{ _('more') }}"
                            class="btn btn-grey btn-primary btn-mini">+</a>
                    </p>

                </div>
            </div>
      </div>
</section>
{# End datasets section #}
{% endblock %}
