<div class="container">
    <div class="stories row">
        <div class="story">
            <a 
                {% if current_user.is_authenticated %}
                href="#" @click="$refs.publishActionModal.show"
                {% else %}
                href="{{ url_for('security.login', next=request.url) }}"
                {% endif %} 
                class="me"
            >
                {% if current_user.is_authenticated %}
                <img class="profile" src="{{ current_user|avatar_url(120) }}">
                {% else %}
                <img class="profile" src="{{ ''|placeholder('user') }}">
                {% endif %}
                <img class="plus" src="{{ theme_static('img/stories/plus.png') }}">
            </a>
            <p class="me">
                Ajouter
            </p>
        </div>
        <div class="story">
            <a href="#">
                <img class="profile" src="{{ theme_static('img/stories/ll.png') }}">
            </a>
            <p>
                Laure Lucchesi
            </p>
        </div>
        <div class="story">
            <a href="#">
                <img class="profile" src="{{ theme_static('img/stories/eb.jpg') }}">
            </a>
            <p>
                Eric Bothorel
            </p>
        </div>
        <div class="story">
            <a href="#">
                <img class="profile" src="{{ theme_static('img/stories/rt.jpg') }}">
            </a>
            <p>
                Romain Tales
            </p>
        </div>
        <div class="story">
            <a href="#">
                <img class="profile" src="{{ theme_static('img/stories/spf.jpg') }}">
            </a>
            <p>
                Santé publique France
            </p>
        </div>
        <div class="story">
            <a href="#">
                <img class="profile" src="{{ theme_static('img/stories/mh.png') }}">
            </a>
            <p>
                Mathilde Hoang
            </p>
        </div>
        <div class="story">
            <a href="#">
                <img class="profile" src="{{ theme_static('img/stories/etalab.jpg') }}">
            </a>
            <p>
                Etalab
            </p>
        </div>
    </div>
</div>
