{% from theme('macros/search.html') import site_search with context %}
<nav class="navbar navbar-static-top navbar-subnav search-top {{ subnav_class }}">
    <div class="container">
        <div class="cover-marianne"></div>

        <div class="search_bar row" role="search">
            {# TODO: find a way to embed this logic into the site-search component #}
            {% if in_url('sort') and in_url('organization') %}
                {% set action = url_for('datasets.list') %}
                {% set placeholder = _('Search in datasets') %}
            {% elif territory %}
                {% set action = url_for('datasets.list') %}
                {% set placeholder = _('Search in this ') + territory.level_i18n_name|lower %}
            {% else %}
                {% set action = url_for('search.index') %}
                {% set placeholder = _('Search') %}
            {% endif %}
            <div class="col-xs-12">
                {{ site_search(action=action, placeholder=placeholder, territory=territory) }}
            </div>
        </div>
    </div>
</nav>
