{% from theme('macros/search.html') import site_search with context %}

{% cache cache_duration, 'subnav-large', g.lang_code %}
<nav class="navbar navbar-static-top navbar-subnav subnav-large">
    <div class="cover-default"></div>
    <div class="container">

        <div class="side-bgs">
            <div class="bg"></div>
            <div class="bg collapse sidebg-collapse"></div>
        </div>

        <div class="search_sidebar col-sm-5 col-md-4 col-xs-12" role="search">

            <nav class="sidebar panel">
                {{ site_search(size='lg') }}
            </nav>

            <nav class="sidebar panel collapse subnav-collapse">
                <!-- Groups -->
                <div class="list-group">
                    {% for topic in g.featured_topics %}
                    <a class="list-group-item" href="{{ url_for('topics.display', topic=topic) }}">
                        {{ topic.name }}
                    </a>
                    {% endfor %}
                </div>
            </nav>

        </div>

        <div class="call-to-action col-sm-7 col-md-8 col-lg-7 col-xs-12">
            <h2>{{ _('Share, improve and reuse public data') }}</h2>
            <div class="collapse subnav-collapse">
                {% if not read_only_mode %}
                <button class="btn btn-primary btn-big btn-transparent btn-left"
                        title="{{ _('Contribute!') }}"
                        @click="$refs.publishActionModal.show"
                        data-track-content data-content-name="CTA" data-content-piece="home/contribute">
                    <span class="fa fa-plus"></span>
                    {{ _('Contribute!' )}}
                </button>
                {% endif %}
            </div>
        </div>

    </div>

</nav>
{% endcache %}
