{% cache 60*5, 'subnav-small', g.lang_code|default(config.DEFAULT_LANGUAGE) %}
<nav class="navbar navbar-static-top navbar-subnav {{ subnav_class }}">
    <div class="container">
        <div class="cover-marianne"></div>

        <div class="search_bar row">

            <form role="search" action="{{ url_for('front.search') }}"
                class="col-sm-4 col-md-6 col-lg-6 col-xs-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <input id="main-search" name="q" type="search" class="form-control"
                            autocomplete="off" placeholder="{{ _('Search') }}"
                            value="{{ request.args.q }}">
                    </div>
                </div>
            </form>

            {# Topic chooser #}
            <div class="form-group col-sm-4 col-md-3 col-lg-3 col-xs-12">
                <button class="dropdown-toggle btn-block btn-light" data-toggle="dropdown">
                    {{ _('Topics') }}
                    <span class="glyphicon glyphicon-chevron-down pull-right hidden-sm"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="topics">
                    {% for topic in g.featured_topics %}
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{{ url_for('topics.display', topic=topic) }}">
                            {{ topic.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {# Publish call to action #}
            <div class="col-sm-4 col-md-3 col-lg-3 col-xs-12 collapse subnav-collapse">
                <a class="btn btn-primary btn-transparent btn-block btn-md icon-left"
                        title="{{ _('Contribute !') }}"
                        data-toggle="modal" data-target="#publish-action-modal">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{ _('Contribute !') }}
                </a>
            </div>
        </div>

    </div>
</nav>
{% endcache %}
