{% from theme('macros/search.html') import site_search with context %}
<nav class="navbar navbar-static-top navbar-subnav {{ subnav_class }}">
    <div class="container">
        <div class="cover-marianne"></div>

        <div class="search_bar row" role="search">
            {# TODO: find a way to embed this logic into the site-search component #}
            {% if in_url('sort') and in_url('organization') %}
                {% set action = url_for('datasets.list') %}
                {% set placeholder = _('Search in datasets') %}
            {% elif territory %}
                {% set action = url_for('datasets.list') %}
                {% set placeholder = _('Search in this ') + territory.level_i18n_name|lower %}
            {% else %}
                {% set action = url_for('front.search') %}
                {% set placeholder = _('Search') %}
            {% endif %}
            <div class="col-sm-4 col-md-6 col-lg-6 col-xs-12">
                {{ site_search(action=action, placeholder=placeholder, territory=territory) }}
            </div>

            {% cache cache_duration, 'subnav-small-featured-topics', g.lang_code|default(config.DEFAULT_LANGUAGE)|string %}
            {# Topic chooser #}
            <div class="form-group col-sm-4 col-md-3 col-lg-3 col-xs-12">
                <button class="dropdown-toggle btn-block btn-light" data-toggle="dropdown">
                    {{ _('Topics') }}
                    <span class="glyphicon glyphicon-chevron-down pull-right hidden-sm"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="topics">
                    {% for topic in g.featured_topics %}
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{{ url_for('topics.display', topic=topic) }}">
                            {{ topic.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endcache %}

            {# Publish call to action #}
            <div class="col-sm-4 col-md-3 col-lg-3 col-xs-12 collapse subnav-collapse">
                <a class="btn btn-primary btn-transparent btn-block btn-md icon-left"
                        title="{{ _('Contribute!') }}"
                        data-toggle="modal" data-target="#publish-action-modal">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{ _('Contribute!') }}
                </a>
            </div>
        </div>

    </div>
</nav>
