{% extends theme('topic/form.html') %}

{% block breadcrumb %}
<li><a href="{# {{ url_for('topics.list') }} #}">{{ _('Topics') }}</a></li>
<li class="active">{{ _('New') }}</li>
{% endblock %}

{% block form_controls %}
<a href="{{ url_for('topics.list') }}" class="btn pull-left btn-xs">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    {{ _('Back') }}
</a>
<button type="submit" class="btn btn-primary col-sm-offset-3 col-sm-6">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    {{ _('Create') }}
</button>
{% endblock %}
