{% extends theme("base.html") %}
{% from theme('macros/breadcrumb.html') import breadcrumb with context %}

{% set meta = {
    'title': topic.name,
    'description': topic.description|mdstrip(60)|forceescape,
    'keywords': [_('topic')] + topic.tags,
} %}

{% set bundle = 'topic' %}

{% set body_class = 'topic-display' %}

{% block content %}

{{ breadcrumb(self, toolbar_class='search-toolbar') }}
{% block main_content %}{% endblock %}
{% block related %}
<section class="content topic-section related-tags-section">
    <header>
        <div class="container">
            <div class="page-header">
                <h2>
                    <span class='fa fa-tags header-logo'></span>
                    {{ _('Related tags') }}
                </h2>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="tags">
                    {% for tag in topic.tags %}
                    <a href="{{ url_for('search.index', tag=tag) }}"
                        class="btn btn-primary btn-grey btn-xs"
                        title="{{ tag }}">
                        {{ tag|truncate(14, True) }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% endblock %}
