<div class="list-group-item" id="discussion-{{ discussion.id }}" data-discussion-id="{{ discussion.id }}">
    <div class="format-label pull-left">
        {{ discussion.user|avatar(52) }}
    </div>
    <span class="list-group-item-link">
        <a href="#discussion-{{ discussion.id }}"><span class="fa fa-link"></span></a>
    </span>
    <h4 class="list-group-item-heading ellipsis open-discussion-thread">
        <span>{{ discussion.title }}</span>
    </h4>
    <p class="list-group-item-text ellipsis open-discussion-thread list-group-message-number-{{ discussion.id }}">
        {{ _('Discussion started on') }} {{ discussion.created|dateformat }} {{ _('with') }}
        {% trans nb=discussion.discussion|length %}{{nb}} message{% pluralize %}{{nb}} messages{% endtrans %}
    </p>
</div>
{% for message in discussion.discussion %}
    <div id="discussion-{{ discussion.id }}-{{ loop.index }}"
        class="list-group-item list-group-indent list-group-thread-{{ discussion.id }} hidden animated discussion-messages-list {% if loop.first %}body-only{% endif %}">
        {% if not loop.first %}
        <div class="format-label pull-left">
            {{ message.posted_by|avatar(52) }}
        </div>
        <span class="list-group-item-link">
            <a href="#discussion-{{ discussion.id }}-{{ loop.index }}"><span class="fa fa-link"></span></a>
        </span>
        {% endif %}
        <p class="list-group-item-heading">
            {{ _('Deleted message') if message.content == 'DELETED' else  message.content }}
        </p>
    </div>
{% endfor %}
{% if not discussion.closed %}
<a class="list-group-item add new-comment list-group-indent list-group-thread-{{ discussion.id }} hidden animated"
    data-discussion-id="{{ discussion.id }}"
    href="#">
    <div class="format-label pull-left">+</div>
    <h4 class="list-group-item-heading">
        {{ _('Add a comment') }}
    </h4>
</a>
{% endif %}
<div class="list-group-item list-group-form list-group-indent list-group-form-{{ discussion.id }} hidden animated"
    data-discussion-id="{{ discussion.id }}"
    id="discussion-{{ discussion.id }}-{{ discussion.discussion|length + 1 }}">
    <div class="format-label pull-left">
        {{ current_user|avatar(52) }}
    </div>
    <span class="list-group-item-link">
        <a href="#discussion-{{ discussion.id }}-{{ discussion.discussion|length + 1 }}"><span class="fa fa-link"></span></a>
    </span>
    <h4 class="list-group-item-heading">
        {{ _('Commenting on this thread') }}
    </h4>
    <p class="list-group-item-text">
        {{ _("You're about to answer to this particular thread about:") }}<br />
        {{ discussion.title }}
    </p>
    <form role="form" class="clearfix animated" data-api-url="{{url_for('api.discussion', for=subject.id, id=discussion.id)}}">
        <div class="form-group">
            <label for="comment-new-message">{{ _('Comment') }}</label>
            <textarea id="comment-new-message" name="comment" class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block pull-right submit-new-message">
            {{ _('Submit your comment') }}
        </button>
    </form>
</div>
