{% extends theme('layouts/1-column.html') %}
{% from theme('macros/paginator.html') import paginator with context %}

{% set meta = {
    'title': _('Posts'),
    'description': _("%(site)s posts", site=config['SITE_TITLE']),
    'keywords': [_('posts')],
    'robots': 'noindex',
} %}

{% set bundle = 'search' %}

{% block breadcrumb %}
<li class="active" aria-current="page">
    {{ _('Posts') }}
    <span>{{ _('%(start)s to %(end)s on %(total)s',
            start=posts.page_start,
            end=posts.page_end,
            total=posts.total) }}</span>
</li>
{% endblock %}

{% block main_content %}
<div class="fr-container">
    <h1 class="fr-mb-0">{{ _('Posts') }}</h1>
</div>
<div class="alert-info bg-blue-400 text-white fr-my-9v">
    <div class="fr-container fr-py-2w">
        <p class="fr-m-0">{{ _('To stay up-to-date, you can subscribe to')}}
            <a href="https://infolettres.etalab.gouv.fr/subscribe/rn7y93le1" title="{{ _('Subscribe') }}"
                class="fr-text--bold text-white">
                {{ _('our newsletter.')}}
            </a>
        </p>
    </div>
</div>
<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
        {% for post in posts %}
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
            {% include theme('post/search-result.html') %}
        </div>
        {% endfor %}
    </div>
    {{ paginator(posts) }}
</div>
{% endblock %}
