<nav class="navbar navbar-static-top navbar-subnav cover-bubble subnav-large {% if topic.color %}topic-{{topic.color}}{% endif %}">
    <div class="fr-container">

        <div class="side-bgs">
            <div class="bg"></div>
            <div class="bg collapse sidebg-collapse"></div>
        </div>

        <div class="search_sidebar fr-col-sm-5 fr-col-md-4 fr-col-12" role="search">

            <nav class="sidebar panel">
                <site-search v-ref:search action="{{ url_for('search.index') }}"
                    size="lg" placeholder="{{ _('Search') }}">
                </site-search>
            </nav>

            <nav class="sidebar panel">
                <!-- Groups -->
                <div class="list-group">
                    {% for topic in g.featured_topics %}
                    <a class="list-group-item" href="{{ url_for('topics.display', topic=topic) }}">
                        {{ topic.name }}
                    </a>
                    {% endfor %}
                </div>
            </nav>

        </div>

        <div class="topic-excerpt fr-col-sm-7 fr-col-md-8 fr-col-12">
            <h3>{{ topic.name }}</h3>
            {{ topic.description|markdown|truncate(500) }}
        </div>

        <div class="topic-toolbar btn-toolbar pull-right">
            <div class="btn-group btn-group-sm more">
                <a href class="btn btn-default"
                    data-toggle="modal" data-target="#topic-modal">
                    {{ _('Read more') }}
                </a>
            </div>
        </div>

    </div>

</nav>
