<div class="container forum-topics-container">
      <div class="row">
          <div class="col-xs-12">
              <h3><a href="{{ config.DISCOURSE_URL }}">{{ _('Latest forum discussions') }}</a></h3>
          </div>
      </div>

      <div class="row">
          <div class="col-xs-12 table-responsive">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>{{ _('Title') }}</th>
                          <th>{{ _('Users') }}</th>
                          <th>{{ _('Last post') }}</th>
                          <th class="text-center">{{ _('Replies') }}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for topic in forum_topics %}
                      <tr>
                          <th>
                              <a href="{{ topic.url }}">
                                  {{ topic.title }}
                                  <span class="label label-primary">{{ topic.category }}</span>
                              </a>
                          </th>
                          <td>
                              <a href="{{ topic.url }}">
                                  {% for poster in topic.posters %}
                                  <img class="img-circle" width="25" height="25"
                                      src="{{ poster.avatar_url.format(size=50) }}"
                                      alt="{{ poster.name }}" />
                                  {% endfor %}
                              </a>
                          </td>
                          <td><a href="{{ topic.url }}">{{ topic.last_posted_at|datetimeformat }}</a></td>
                          <td class="text-center"><a href="{{ topic.url }}">{{ topic.replies }}</a></td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
</div>
