<section class="header">
    <!--[if lte IE 8]>
        <div class="iewarning">
            {{ _('Internet Explorer 8 and below are not anymore supported. Please upgrade or change your browser to
            access the website.') }}
            <a href="http://browsehappy.com/">{{ _('More information →')}}</a>
        </div>
    <![endif]-->

    <header class="container-fluid nav-header">
        <div class="row">
            <div class="col-3 col-hg-12 header-logo">
                <nav class="mobile-menu">
                    <a href="#" title="">
                        {% include theme('svg/burger-menu.svg') %}
                    </a>
                </nav>
                <a href="{{ url_for('site.home') }}" title="{{ _('@@Retourner à l\'accueil de data.gouv.fr') }}"
                    class="p-xs">
                    {% include theme('svg/marianne.svg') %} {% include theme('svg/logotype.svg') %}
                </a>
            </div>
            <nav class="nav-tabs col hidden-hg">
                {% set current_endpoint = request.url_rule.endpoint.split('.')[:1] if request.url_rule or None %}
                {% for item in current_theme.menu %}
                {% set link_endpoint = item.endpoint and item.endpoint.split('.')[:1] %}
                {% set active = request.url_rule.endpoint != "site.home" and (link_endpoint == current_endpoint) %}
                <a class="tab {% if active %}active{% endif %}" href="{{item.url}}">{{ item.label }}</a>
                {% endfor %}
            </nav>
            <div class="col-3 login-box hidden-hg">
                <a href="{{ url_for('security.login', next=request.url) }}" title="{{ _('Sign In / Register') }}"
                    class="mr-md">
                    {{ _('@@Se connecter') }}
                </a>
                <a class="search-box px-lg" href="/search" @click="$refs.suggest.startSearch()"
                    aria-label="{{ _('@@Rechercher') }}">
                    {% include theme('svg/search.svg') %}
                </a>
            </div>
        </div>
    </header>
    <suggest ref="suggest" />
</section>
