<!DOCTYPE html>
{%- set bundle = bundle|default('site') -%}
{%- set bundle_js = '{0}.js'.format(bundle)-%}
{%- set bundle_css = '{0}.css'.format(bundle)-%}
<html lang="{{ g.lang_code }}">

<head>
    {% block raw_head %}
    {% from theme('macros/metadata.html') import metadata with context %}
    {{ metadata(meta or {}) }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}{% endblock %}
    {% block theme_css %}
    <link href="{{ theme_static('less/index.css') }}" rel="stylesheet">
    <link href="{{ theme_static('js/index.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ theme_static('img/favicon.png') }}">
    {% endblock %}
    {# ATOM Feeds #}
    <link href="{{ url_for('datasets.recent_feed') }}" rel="alternate" type="application/atom+xml"
        title="{{ _('Recent datasets') }}" />

    <link href="{{ url_for('reuses.recent_feed') }}" rel="alternate" type="application/atom+xml"
        title="{{ _('Recent reuses') }}" />

    {% block extra_head %}{% endblock %}

    {{ hook('header.snippets') }}

    {% endblock raw_head %}

</head>

<body class="{{body_class}} theme-{{current_theme.variant}}">
    <section id="app">
        {% block body %}{% endblock %}
    </section>

    <script src="{{ theme_static('js/index.js') }}"></script>
    {% block extra_js %}{% endblock %}

    {{ hook('footer.snippets') }}

</body>

</html>
