.v-enter-active,
.v-leave-active {
    transition: all ease 0.3s;
    opacity: 1;
}

.v-leave,
.v-enter-to {
    opacity: 1;
}

.v-leave-to,
.v-enter {
    opacity: 0;
}

.list-enter-active,
.list-leave-active {
    transition: all ease 0.3s;
}

.list-enter {
    opacity: 0;
    transform: translateX(-20px);
}

.list-enter-to {
    opacity: 1;
    transform: translateX(0);
}

.list-move {
    opacity: 0;
    transform: translateX(-20px);
}
