/*
---
name: Buttons
category: Components
---

## Primary buttons
The `.btn` classes are designed to be used with the `<button>` element.

However, you can also use these classes on `<a>` or `<input>` elements (though some browsers may apply a slightly different rendering).
When using button classes on `<a>` elements that are used to trigger in-page functionality (like collapsing content), rather than linking to new pages or sections within the current page, these links should be given a `role="button"` to appropriately convey their purpose to assistive technologies such as screen readers.

Primary buttons exist for every color in this UI-kit. Please refer to the [colors page](/#colors) to see available text and background colors.

*Some of them are unusable due to the low contrast they offer.*

```buttons-primary.html
<p><a href="#" role="button" class="btn-primary">Default button</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-white">btn-primary-white</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-blue-100">btn-primary-blue-100</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-blue-200">btn-primary-blue-200</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-blue-300">btn-primary-blue-300</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-blue-400">btn-primary-blue-400</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-blue-500">btn-primary-blue-500</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-orange-100">btn-primary-orange-100</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-yellow-100">btn-primary-yellow-100</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-grey-50">btn-primary-grey-50</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-grey-100">btn-primary-grey-100</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-grey-200">btn-primary-grey-200</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-grey-300">btn-primary-grey-300</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-grey-380">btn-primary-grey-380</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-grey-400">btn-primary-grey-400</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-grey-500">btn-primary-grey-500</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-green-300">btn-primary-green-300</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-green-400">btn-primary-green-400</a></p>
<p><a href="#" role="button" class="btn-primary btn-primary-green-500">btn-primary-green-500</a></p>
```

## Secondary buttons
As for primary buttons, secondary buttons exist in every color available.

```buttons-secondary.html
<p><a href="#" role="button" class="btn-secondary">Default button</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-white">btn-secondary-white</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-blue-100">btn-secondary-blue-100</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-blue-200">btn-secondary-blue-200</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-blue-300">btn-secondary-blue-300</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-blue-400">btn-secondary-blue-400</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-blue-500">btn-secondary-blue-500</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-orange-100">btn-secondary-orange-100</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-yellow-100">btn-secondary-yellow-100</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-grey-50">btn-secondary-grey-50</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-grey-100">btn-secondary-grey-100</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-grey-200">btn-secondary-grey-200</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-grey-300">btn-secondary-grey-300</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-grey-380">btn-secondary-grey-380</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-grey-400">btn-secondary-grey-400</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-grey-500">btn-secondary-grey-500</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-green-300">btn-secondary-green-300</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-green-400">btn-secondary-green-400</a></p>
<p><a href="#" role="button" class="btn-secondary btn-secondary-green-500">btn-secondary-green-500</a></p>
```

## Arrows

Secondary buttons can come with arrows after the content to denote links.
Simply add the `btn-with-arrow` class to your secondary button and all the magic will be done for you.


```button-arrow.html
<a href="#" class="btn-secondary btn-with-arrow">Toutes les actualités</a>
```

## Active state
Buttons will appear pressed (with a lighter background, darker border, and inset shadow) when active. There’s no need to add a class to `<button>s` as they use a pseudo-class. However, you can still force the same active appearance with `.active` (and include the `aria-pressed="true"` attribute) should you need to replicate the state programmatically.

```buttons-active.html
<p><a href="#" role="button" class="btn-primary active">Primary button</a></p>
<p><a href="#" role="button" class="btn-secondary active">Secondary button</a></p>
```

## Disabled state
Make buttons look inactive by adding the disabled boolean attribute to any `<button>` element.

`<a>`s don’t support the disabled attribute, so you must add the `.disabled` class to make it visually appear disabled.
Disabled buttons should include the `aria-disabled="true"` attribute to indicate the state of the element to assistive technologies.

```buttons-disabled.html
<p><a href="#" role="button" class="btn-primary disabled">Primary button</a></p>
<p><a href="#" role="button" class="btn-secondary disabled">Secondary button</a></p>
```

## *Venti* buttons

Big blocky buttons for people who love Italia, overpriced coffees and nice home pages.
In Italian, we say it's a "bottoni molto grandi".

Use the `bg-{color}` classes to style the background accordingly.

```buttons-venti.html
<a href="{{ url_for('gouvfr.spd') }}" class=" btn-venti bg-blue-470">
    Données de
    <strong>Référence</strong>
</a>
<a href="{{ url_for('gouvfr.show_page', slug='donnees-coronavirus') }}"
    class="btn-venti my-md bg-blue-450">
    Données relatives à la <strong>COVID-19</strong>
</a>
```

## Action buttons
Action buttons combine an icon with an optional call to action to provide maximum usability.
Because of technical limitations, this styleguide hardcodes the svg icon. When using it in the uData ecosystem, please use something like this : `{% include('svg/myIcon.svg') %}`.

```buttons-action.html
<p><a href="#" role="button" class="btn-action"><?xml version="1.0" encoding="UTF-8"?><svg id="SVGDoc" width="37" height="37.5" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 74 75"><defs></defs><desc>Generated with Avocode.</desc><g><g><title>&lt;Path&gt;</title><path d="M74.0327,37.2026c0,20.435 -16.565,37 -37,37c-20.435,0 -37,-16.565 -37,-37c0,-20.434 16.565,-37 37,-37c20.435,0 37,16.566 37,37z" fill="#008452" fill-opacity="1"></path></g><g><title>&lt;Rectangle&gt;</title><path d="M40.182,49.011v0h-6.298v0v-23.617v0h6.298v0z" fill="#f9f9f9" fill-opacity="1"></path></g><g><title>&lt;Rectangle&gt;</title><path d="M25.224,34.054v0h23.617v0v6.298v0h-23.617v0z" fill="#f9f9f9" fill-opacity="1"></path></g></g></svg>Ajouter une ressource communautaire</a></p>
```

## Tab buttons
On some pages, you'll find secondary buttons looking like little "tabs" that can be toggled thanks to ECMAScript-compatible language such as JavaScript.
Those tabs are actually smaller versions of `.btn-secondary-200` with no text-decorations, and become `.btn-secondary-400` when active.
Because developpers are lazy and less code is better code, there's a `.btn-tab` class that will default to those values.

```btn-tab.html
<nav class="tabs">
    <a href="#editorial-datasets" class="btn-tab tab hidden-lg active">Featured datasets</a>
    <a href="#recent-datasets" class="btn-tab tab hidden-lg">Latest datasets</a>
    <a href="#reference-datasets" class="btn-tab tab hidden-lg">@@Jeux de données de référence</a>
    <a href="/fr/datasets/" class="btn-tab tab">See more</a>
</nav>
```

## From DSFR

You can use icons from DSFR. You can find the list on [DSFR documentation](https://gouvfr.atlassian.net/wiki/spaces/DB/pages/222331396/Ic+nes+-+Icons) with their classes.
There are `.fr-btn--icon-left` and `fr-btn--icon-right` to add spacing around the icon.

```button-icons-dsfr.html
<a
    class="btn-secondary btn-secondary-grey-500 fr-btn--icon-left fr-fi-edit-line"
    href="#"
>
    Modify information
</a>
```
*/

@import (less) "@gouvfr/dsfr/dist/css/buttons.css";

.btn {
    display: inline-block;
    appearance: none;
    padding: @spacing-xs 1.25rem;
    font-size: @font-size-sm;
    line-height: @line-height-sm;
    letter-spacing: 0.025em;
    text-decoration: none;
    border-radius: 3em;
    border: none;
    cursor: pointer;

    &:disabled,
    &.disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}


.btn-primary {
    .btn;

    color: white;
    background-color: @blue-400;

    &:active,
    &:hover,
    &.active {
        background-color: lighten(@blue-400, 10%);
    }

    each(@colors, {
        &.btn-primary-@{value} {
            @contrast: 'contrast-@{value}';
            background-color: @@value;
            color: @@contrast;

            &:active, &:hover, &.active {
                background-color: lighten(@@value, 10%);
            }
        }
    });
}

.btn-secondary {
    .btn;

    color: @blue-400;
    border: 1px solid transparent;
    border-color: @blue-400;
    --bf500: @blue-400;

    background: none;

    &:active,
    &:hover,
    &.active {
        text-decoration: underline;
    }

    each(@colors, {
        &.btn-secondary-@{value} {
            @contrast: 'contrast-@{value}';
            border-color: @@value;
            color: @@value;
            --bf500: @@value;
        }
    });

    &.fr-btn--secondary {
        :root:not([data-fr-theme="dark"]) & {
            --color-hover: transparent;
        }
        border: none;
    }

    // inline-flex is DSFR default and is required for right icons to work
    &.btn--flex {
        display: inline-flex;
    }

    &.fr-btn--sm {
        .fr-btn--sm;
    }

    &.btn-with-arrow {
        &:after {
            content: " ";
            position: relative;
            display: inline-block;
            vertical-align: middle;

            margin-left: 8px;
            left: 0;

            width: 6px;
            height: @line-height-sm;

            background-color: currentColor;
            mask-image: url(@icon-chevron);
            mask-repeat: no-repeat;
            mask-position: center center;

            transition: left ease 0.2s;
        }

        &:hover {
            &:after {
                left: @spacing-xxs;
            }
        }
    }
}

//Bottoni molto grandi 🤏
.btn-venti {
    position: relative;
    display: block;
    padding: @spacing-lg @spacing-md;
    border-radius: 6px;
    color: white;

    strong {
        display: block;
        margin-top: @spacing-xxs;
        font-size: @font-size-xl;
    }

    &:after {
        content: " ";
        display: inline-block;
        position: absolute;
        top: 50%;
        right: calc(@spacing-lg + 3px);
        margin-top: -12px;

        width: 24px;
        height: 24px;

        background-image: url(@icon-arrow);
        background-repeat: no-repeat;
        background-position: center center;

        transition: right ease 0.2s;
    }

    &:hover {
        &:after {
            right: @spacing-lg;
        }
    }
}

//Secondary buttons for pill-shaped "tabs"
//Defaults to grey-200 and grey-400 for active btns
//And smaller margins
.btn-tab {
    .btn-secondary;
    .btn-secondary-grey-200;

    padding: @spacing-xs @spacing-sm;
    font-size: @font-size-sm;
    font-weight: @font-weight-normal;
    transition: border ease 0.1s;
    transition-property: border, color;

    &:active,
    &:hover,
    &.active {
        text-decoration: none;
    }

    &.active,
    &:hover {
        .btn-secondary-grey-400;
    }
}

.btn-action {
    display: inline-block;
    color: inherit;
    text-decoration: underline;
    text-decoration-color: @grey-200;
    text-underline-position: under;

    svg {
        transition: transform ease 0.15s;
        border-radius: 50%;

        margin-right: @spacing-md;
    }

    &:hover {
        svg {
            box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.05);
            transform: scale(1.05);
        }
    }
}
