/*
---
name: Buttons
category: 3 - Components
---

## Primary buttons
The `.fr-btn` classes are designed to be used with the `<button>` element.
However, you can also use these classes on `<a>` or `<input>` elements (though some browsers may apply a slightly different rendering).

When using button classes on elements that are used to trigger in-page functionality (like collapsing content), use a `<button>`.

`.fr-btn` exists only in @blue-400.

```buttons-primary.html
<p><button class="fr-btn">Default button</button></p>
```

## Secondary buttons
Secondary buttons exist in every color available.

```buttons-secondary.html
<p><a href="#" role="button" class="fr-btn fr-btn--secondary">Default button</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-white">fr-btn--secondary-white</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-blue-100">fr-btn--secondary-blue-100</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-blue-300">fr-btn--secondary-blue-300</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-blue-400">fr-btn--secondary-blue-400</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-blue-500">fr-btn--secondary-blue-500</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-grey-50">fr-btn--secondary-grey-50</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-grey-100">fr-btn--secondary-grey-100</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-grey-200">fr-btn--secondary-grey-200</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-grey-300">fr-btn--secondary-grey-300</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-grey-380">fr-btn--secondary-grey-380</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-grey-400">fr-btn--secondary-grey-400</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-grey-500">fr-btn--secondary-grey-500</a></p>
<p><a href="#" role="button" class="fr-btn fr-btn--secondary fr-btn--secondary-green-400">fr-btn--secondary-green-400</a></p>
```

## Buttons with icons
You can use icons from DSFR. You can find the list on [DSFR documentation](https://gouvfr.atlassian.net/wiki/spaces/DB/pages/222331396/Ic+nes+-+Icons) with their classes.
There are `.fr-btn--icon-left` and `fr-btn--icon-right` to add spacing around the icon.

```button-icons-dsfr.html
<a
    class="fr-btn fr-btn--secondary fr-btn--secondary-grey-500 fr-btn--icon-left fr-fi-edit-line"
    href="#"
>
    Modify information
</a>
```

## *Venti* buttons

Big blocky buttons for people who love Italia, overpriced coffees and nice home pages.
In Italian, we say it's a "bottoni molto grandi".

Use the `bg-{color}` classes to style the background accordingly.

```buttons-venti.html
<a href="{{ url_for('gouvfr.spd') }}" class=" btn-venti bg-blue-470">
    Données de
    <strong>Référence</strong>
</a>
<a href="{{ url_for('gouvfr.show_page', slug='donnees-coronavirus') }}"
    class="btn-venti my-md bg-blue-450">
    Données relatives à la <strong>COVID-19</strong>
</a>
```

## Tab buttons
These are now removed, see tags instead.
*/

@import (less) "@gouvfr/dsfr/dist/component/button/button.css";

// Data.gouv customization
.fr-btn {
    font-size: @font-size-sm;
    --background-action-high-blue-france: @blue-400;
    --background-action-high-blue-france-blend: @blue-400-blend;
    border-radius: 3em;
    &:hover {
        text-decoration: none;
    }
}

.fr-btn--secondary {
    --text-action-high-blue-france: @blue-400;
    --border-action-high-blue-france: @blue-400;
}

each(@colors, {
    .fr-btn--secondary-@{value} {
        @contrast: 'contrast-@{value}';
        border-color: @@value;
        color: @@value;
        --border-action-high-blue-france: @@value;
    }
});

// Bottoni molto grandi 🤏
.btn-venti {
    position: relative;
    display: block;
    padding: @spacing-lg @spacing-md;
    border-radius: 6px;
    color: white;

    strong {
        display: block;
        margin-top: @spacing-xxs;
        font-size: @font-size-xl;
    }

    &:after {
        content: " ";
        display: inline-block;
        position: absolute;
        top: 50%;
        right: calc(@spacing-lg + 3px);
        margin-top: -12px;

        width: 24px;
        height: 24px;

        background-image: url(@icon-arrow);
        background-repeat: no-repeat;
        background-position: center center;

        transition: right ease 0.2s;
    }

    &:hover {
        &:after {
            right: @spacing-lg;
        }
    }
}
