/*
---
name: Dataset
category: Components
---

Datasets cards are used to display... data sets.
Pretty simple layout that could be achieved using the standard grid, but using a customized component allow for less verbose and less redundant HTML.

There's also a `.no-border` version for smaller areas (like the search popover) without separators

```datasets.html
<article class="dataset-card">
    <div class="card-logo">
        <img src="https://static.data.gouv.fr/avatars/3c/2a35d973814c2681b6941e11810ff3-100.png" alt="Ministère xxx" />
    </div>
    <div class="card-cert">
        <img src="https://placehold.it/18x24" alt="Certified dataset" />
    </div>
    <div class="card-data">
        <h4 class="card-body">
            Données « temps réel » de mesure des concentrations de polluants atmosphériques réglementés
        </h4>
        <div class="card-footer">
            <ul class="card-features">
                <li>252 ressources</li>
                <li>2 réutilisations</li>
            </ul>
        </div>
    </div>
</article>
```

```dataset-no-border.html
<article class="dataset-card compact">
    <div class="card-logo">
        <img src="https://static.data.gouv.fr/avatars/3c/2a35d973814c2681b6941e11810ff3-100.png" alt="Ministère xxx" />
    </div>
    <div class="card-cert">
        <img src="https://placehold.it/18x24" alt="Certified dataset" />
    </div>
    <div class="card-data">
        <h4 class="card-body">
            Données « temps réel » de mesure des concentrations de polluants atmosphériques réglementés
        </h4>
        <div class="card-footer">
            <ul class="card-features">
                <li>252 ressources</li>
                <li>2 réutilisations</li>
            </ul>
        </div>
    </div>
</article>
```
*/

.dataset-card {
    position: relative;
    display: flex;
    align-items: center;

    // margin-top: @spacing-md;
    padding: @spacing-sm 0;

    .card-logo {
        flex: 0 1 100px;

        img {
            max-width: 100px;
        }
    }

    .card-data {
        position: relative;
        padding: @spacing-xs;

        h4 {
            margin-bottom: 0;
        }
    }

    .card-footer {
        margin-top: @spacing-xs;

        ul {
            display: flex;

            li {
                color: @grey-300;
                font-size: @font-size-sm;

                + li {
                    margin-left: 15px;
                }
            }
        }
    }

    //Separator
    &:after {
        content: " ";
        display: block;

        position: absolute;

        bottom: 0;
        right: 0;

        width: calc(100% - 135px); //Minus the image width + little margin
        height: 1px;
        background: @grey-200;
    }

    &.no-border {
        &:after {
            display: none;
        }
    }
}
