/*
---
name: Dataset
category: 3 - Components
---

Datasets cards are used to display... data sets.
Pretty simple layout that could be achieved using the standard grid, but using a customized component allow for less verbose and less redundant HTML.

There's also a `.compact` version for smaller areas (like the search popover) without separators and overall smaller elements.

For displaying dataset search results, a `.dataset-search-result` version is available. It's essentially the same informations in a different order, with a part that appears only on hover.
Disclaimer : the search-result component is weird in styling and uses a lot of fixed pixel values. Please beware if you make any changes in it, you might break responsive.

```datasets.html
<article class="dataset-card">
    <div class="card-logo">
        <img src="https://static.data.gouv.fr/avatars/3c/2a35d973814c2681b6941e11810ff3-100.png" alt="Ministère xxx" />
        <div class="logo-badge">
            <img src="https://via.placeholder.com/18x24" alt="Certified dataset" />
        </div>
    </div>
    <div class="card-data">
        <h4 class="card-body">
            Données « temps réel » de mesure des concentrations de polluants atmosphériques réglementés
        </h4>
        <div class="card-footer">
            <ul class="card-features">
                <li>252 ressources</li>
                <li>2 réutilisations</li>
            </ul>
        </div>
    </div>
</article>
```

```dataset-compact.html
<article class="dataset-card compact">
    <div class="card-logo">
        <img src="https://static.data.gouv.fr/avatars/3c/2a35d973814c2681b6941e11810ff3-100.png" alt="Ministère xxx" />
        <div class="logo-badge">
            <img src="https://via.placeholder.com/18x24" alt="Certified dataset" />
        </div>
    </div>
    <div class="card-data">
        <h4 class="card-body">
            Données « temps réel » de mesure des concentrations de polluants atmosphériques réglementés
        </h4>
        <div class="card-footer">
            <ul class="card-features">
                <li>252 ressources</li>
                <li>2 réutilisations</li>
            </ul>
        </div>
    </div>
</article>
```

```dataset-search-result.html
<article class="dataset-card dataset-search-result">
    <div class="card-logo">
        <img src="https://static.data.gouv.fr/avatars/3c/2a35d973814c2681b6941e11810ff3-100.png" alt="Ministère xxx" />
        <div class="logo-badge">
            <img src="https://via.placeholder.com/18x24" alt="Certified dataset" />
        </div>
    </div>
    <div class="card-data">
        <h4 class="card-title">Recusandaeé suscipité ameté nihilé natusé doloreé magnié commodié.</h4>
        <div class="card-description text-grey-380 fr-mt-1w"> Quiaé aliasé exé. Architectoé laudantiumé corporisé
            consequaturé laboriosamé esté. Teneturé incidunté voluptatemé minimaé fugité inventoreé fugiaté. </div>
    </div>
    <ul class="card-footer">
        <li><strong>131</strong> ressources</li>
        <li><strong>22</strong> réutilisations </li>
        <li><strong>174</strong> abonnés </li>
    </ul>
</article>
```
*/

.dataset-card {
    position: relative;
    display: flex;
    align-items: center;
    .fr-py-1v;

    .card-logo {
        flex: 0 0 100px;
        .logo;
    }

    .card-data {
        flex-grow: 1;
        position: relative;
        margin: 0 @spacing-md;

        .h4 {
            margin-bottom: 0;
        }

        .card-footer {
            margin-top: @spacing-xs;

            ul {
                display: flex;
                font-size: @font-size-sm;

                li {
                    color: @grey-380;

                    + li {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}
