/*
---
name: Tabs
category: Components
---

Tabs allow for easy navigation between categories. You can toggle a `.active` class to make them appear selected.

Warning : `.tab` first immediate child (`.tab > *`) has a `pointer-events: none` property set so that clicks actually register to the tab element and not the children.
This prevents messy event handling with bubbling prevention, but might cause you trouble in some edge cases.

```btn-tabs.html
<nav class="tabs">
    <a class="btn-tab tab active" href="#">Selection Etalab</a>
    <a class="btn-tab tab" href="#">Dernières réutilisations</a>
    <a class="btn-tab tab" href="#">Voir plus</div>
</nav>
```

## Styling
By default, tabs have no style, just like many of us.
You can either use `.btn-tab` (check out the buttons documentation page for more informations), or any element you'd like.
There's also a `.tab-panel` class available that simply provides border-radius, paddings and lower opacity for non-active elements. We recommand you combine this one with `.bg-{color}` classes.

```tab-panel.html
<nav class="tabs">
    <a class="tab-panel bg-blue-300 tab active" href="#">Selection Etalab</a>
    <a class="tab-panel bg-blue-300 tab" href="#">Dernières réutilisations</a>
    <a class="tab-panel bg-blue-300 tab" href="#">Voir plus</div>
</nav>
```

## From DSFR

You can use tabs from DSFR. It uses DSFR colors and conventions. It allows you to choose an optional icon in every tabs.

```tab-dsfr.html
<div class="fr-tabs">
    <ul class="fr-tabs__list" role="tablist" aria-label="[A modifier | nom du système d'onglet]">
        <li role="presentation">
            <button id="tabpanel-404" class="fr-tabs__tab fr-fi-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-404-panel">Label Tab 1</button>
        </li>
        <li role="presentation">
            <button id="tabpanel-405" class="fr-tabs__tab fr-fi-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-405-panel">Label Tab 2</button>
        </li>
        <li role="presentation">
            <button id="tabpanel-406" class="fr-tabs__tab fr-fi-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-406-panel">Label Tab 2</button>
        </li>
    </ul>
    <div id="tabpanel-404-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-404" tabindex="0">
       <p>Contenu 1</p>
    </div>
    <div id="tabpanel-405-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-405" tabindex="0">
        <p>Contenu 2</p>
    </div>
    <div id="tabpanel-406-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-406" tabindex="0">
        <p>Contenu 3</p>
    </div>
</div>
```

*/

.tabs {
    display: flex;

    .tab {
        + .tab {
            margin-left: @spacing-sm;
        }

        //Prevents children from taking the click events.
        //Might be dangerous, remove if needed
        >* {
            pointer-events: none;
        }

        &.active {
            pointer-events: none;
        }
    }

    .tab-panel {
        border-radius: 4px 4px 0 0;
        opacity: 0.6;
        color: white; //Defaults to white for legibility
        padding: @spacing-xs @spacing-md;

        transition: opacity ease 0.2s;

        &:hover, &.active {
            opacity: 1;
        }
    }
}

.tab-content {
    display: none;

    &.active {
        display: inherit;
    }
}

// tabs from dsfr
@import (less) "@gouvfr/dsfr/dist/css/tabs.css";

.fr-tabs {
    --bf500: @blue-400;
    z-index: 1;
}
