{% extends theme('layouts/form.html') %}

{% block breadcrumb %}
<li><a href="{{ url_for('admin.root') }}">{{ _('Administration') }}</a></li>
<li class="active">{{ current_item.label }}</li>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>{{ _('Administration') }}</h3>
            </div>

            <div class="list-group text-center">
                {% for item in nav.admin %}
                <a href="{{ item.url }}"
                    class="list-group-item {% if item.is_active %}active{% endif %}">
                    <strong>
                        {{ item.label }}
                    </strong>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
        <div class="form-bg">
            {% block tab_content %}{% endblock %}
        </div>
    </div>

</div>
{% endblock %}
