{% extends theme('site/admin_base.html') %}
{% import theme('macros/forms.html') as forms with context %}

{% block tab_content %}
<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal validation" method="post" action=".">
            <legend>{{ _('Site configuration') }}</legend>
            {{ forms.render(form) }}
            {{ forms.required_disclaimer() }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">{{ _('Save') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
