{% extends theme("base.html") %}
{% from theme('macros/metrics.html') import metric_widgets %}

{% set meta = {
    'title': _('Dashboard'),
    'description': _('Site metrics and activity'),
    'keywords': [_('metrics'), _('activity')],
} %}

{% set body_class = 'dashboard' %}

{% block extra_js %}
<script type="text/javascript" src="{{ static('dashboard/site.js') }}"></script>
<script type="text/javascript" src="{{ static('activities.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <li class="active">{{ _('Dashboard') }}</li>
{% endblock %}

{% block content %}
<section class='metrics'>
    <div class="container">
        {{ metric_widgets(g.site.metrics, metrics) }}
    </div>
</section>

<section class="community">
    <header>
        <div class="container">
            <div class="cover-communaute"></div>
            <div class="page-header">
                <h2>{{ _('Community activity') }}</h2>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="activities">
            </div>
        </div>
    </div>
</section>
{% endblock %}
