<p>{{_ "Please add your refusal reason here." }}</p>
<form role="form">
    <div class="form-group">
        <label for="comment" class="control-label">{{_ 'Refusal reason' }}</label>
        <textarea id="comment" name="comment" class="form-control" rows="3" required></textarea>
    </div>
</form>
