{% cache cache_duration, 'user-card', user.id|string, g.lang_code %}
{% set user_url = url_for('users.show', user=user) %}
<a class="card user-card" href="{{ user_url }}" title="{{user.fullname}}">
    <div class="card-logo">
        <img src="{{ user|avatar_url(60) }}" alt=""
            width="60" height="60">
    </div>

    <div class="card-body">
        <h4>{{ user.fullname }}</h4>
        <div class="clamp-3">{{ user.about|mdstrip(180) }}</div>
    </div>

    <footer class="card-footer">
        <ul>
            {% if user.metrics.datasets %}
            <li v-tooltip title="{{ _('Number of datasets') }}">
                <span class="{{ ficon('fa-cubes') }}"></span>
                {{ user.metrics.datasets or 0 }}
            </li>
            {% endif %}
            {% if user.metrics.reuses %}
            <li v-tooltip title="{{ _('Number of reuses') }}">
                <span class="{{ ficon('fa-retweet') }}"></span>
                {{ user.metrics.reuses or 0 }}
            </li>
            {% endif %}
            <li v-tooltip title="{{ _('Stars') }}">
                <span class="{{ ficon('fa-star') }}"></span>
                {{ user.metrics.followers or 0 }}
            </li>
        </ul>
    </footer>
</a>
{% endcache %}
