{% extends theme('user/edit_base.html') %}
{% import 'macros/forms.html' as forms with context %}

{% block tab_content %}
<p>{{ _('This page allows you to generate or regenerate your API Key.') }}</p>
<p>{{ _('This key is needed if you want to use the API.') }}</p>
<form class="form-horizontal" role="form" method="post" action=".">
{{ form.csrf_token }}
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ _('API KEY') }}</label>
        <div class="col-sm-10">
            {% if user.apikey %}
            <textarea class="form-control" rows="3" readonly>{{user.apikey}}</textarea>
            {% else %}
             <p class="form-control-static">{{ _("You don't have generated an API KEY yet.") }}</p>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        {% if user.apikey %}
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default"
                name="action" value="generate">{{ _('Regenerate') }}</button>
            <button type="submit" class="btn btn-warning"
                name="action" value="clear">{{ _('Clear') }}</button>
        </div>
        {% else %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default"
                    name="action" value="generate">{{ _('Generate an API KEY') }}</button>
            </div>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}
