{% macro render_fields(form, submit='', exclude=None) %}
{% set excluded = exclude or [] %}
{% for f in form %}
{% if f in excluded %}
{% elif f.type in ('CSRFTokenField', 'HiddenField') %}
{{ f() }}
{% elif f.type == 'SubmitField' %}
<button type="submit" class="fr-btn">{{ submit }}</button>
{% elif f.type == 'BooleanField' %}
<div class="fr-checkbox-group">
    {{ f() }}
    <label class="fr-label" for="{{ f.id }}">
        {{ f.label.text }}
    </label>
</div>
{% else %}
<div class="fr-input-group field {% if f.errors %}fr-input-group--error{% endif %}">
    <label for="{{ f.id }}" class="fr-label {% if f.flags.required %}required{% endif %}">
        {{ f.label.text }}
    </label>
    {% if f.id == "email" %}
    <input id="{{ f.id }}" name="{{ f.id }}" type="email" {% if f.flags.required %}required{% endif %}/>
    {% else %}
    {{ f() }}
    {% endif %}
    {% for error in f.errors %}
    <p class="fr-error-text fr-mt-1v">{{ error }}</p>
    {% endfor %}
</div>
{% endif %}
{% endfor %}
{% endmacro %}
