{% macro integrate_btn(obj) %}
{% set basename = obj.__class__.__name__|lower %}
{% set widget_url = static('oembed.js', _burst=False, _external=True) %}
{% set root_url= url_for('site.home_redirect', _external=True) %}
{% set root = ('data-udata="' + root_url + '"') if (root_url and not widget_url.startswith(root_url)) else "" %}

{% set script = '<div data-udata-' + basename + '="' ~ obj.id + '"></div><script ' + root + ' src="' + widget_url + '" async defer></script>' %}
<div class="embed-wrapper">
    <textarea readonly id="embed-{{obj.id}}" rows="1" onClick="this.select();"
        id="embed-wrapper">{{ script }}</textarea>
    <label for="embed-wrapper" class="icon-copy" id="{{obj.id}}-copy" data-clipboard-target="#embed-{{obj.id}}"
        title="Copy this">{% include theme('svg/copy.svg') %}</label>
</div>
{% endmacro %}
