{% extends theme('base.html') %}
{% import theme('macros/forms.html') as forms with context %}

{% block content %}
<section class="py-xl py-lg-lg bg-grey-50">
    <div class="container">
        <div class="row">
            <div class="col-6 text-align-center offset-3 form-container col-md-12 offset-md-0">
                <form class="form" method="post" action="{{ url_for('security.forgot_password') }}">
                    <fieldset>
                        <legend class="h2 mb-0">{{ _('Sign in') }}</legend>
                        <p class="mt-xs mb-xl f-light fs-sm">
                            {{ _("Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.") }}
                        </p>
                        {{ forms.render_fields(forgot_password_form, submit=_('Reset Password')) }}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
