{% extends theme('base.html') %}
{% import theme('macros/forms.html') as forms with context %}

{% block content %}
{% cache cache_duration, 'home', g.lang_code %}
<section class="py-xl py-lg-lg bg-grey-50">
    <div class="container">
        <div class="row">
            <div class="col-6 text-align-center offset-3 form-container col-sm-12 col-sm-offset-0">
                <form class="form" method="post" action="{{ url_for('security.register') }}">
                    <fieldset>
                        <legend class="h2 mb-0">{{ _('@@Connectez-vous') }}</legend>
                        <p class="mt-xs mb-xl f-light fs-sm">
                            Petit blabla un peu court sur ce qu'on gagne à se connecter, proablement un laïus sur les
                            discussions ou les réutilisations.
                        </p>
                        {{ forms.render_fields(register_user_form, submit=_('Sign Up')) }}
                        <div class="field field-checkbox">
                            {% block extra_tos %}
                            {% endblock %}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
{% endcache %}
{% endblock %}
