{% extends theme('base.html') %}
{% import theme('macros/forms.html') as forms with context %}

{% block content %}
<section class="py-xl py-lg-lg bg-grey-50">
    <div class="container">
        <div class="row">
            <div class="col-6 text-align-center offset-3 form-container col-md-12 offset-md-0">
                <form class="form" method="post"
                    action="{{ url_for('security.reset_password', token=reset_password_token) }}">
                    <fieldset>
                        <legend class="h2 mb-xl">{{ _('Sign in') }}</legend>
                        {{ forms.render_fields(reset_password_form, submit=_('Reset Password')) }}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
