<div id="publish-action-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                &nbsp;
            </div>

            <div class="modal-body">
                <div class="list-group actions-list">

                    <a class="list-group-item" href="{{ url_for('admin.index', path='dataset/new/') }}">
                        <div class="action-icon">
                            <span class="{{ ficon('fa-cubes') }} fa-3x"></span>
                        </div>
                        <h4 class="list-group-item-heading">
                            {{ _('Publish a dataset') }}
                        </h4>
                         <p class="list-group-item-text">
                        {{ _('Contribute and add a new dataset to this site catalog.') }}
                        </p>
                    </a>

                    <a class="list-group-item" href="{{ url_for('admin.index', path='reuse/new/') }}">
                        <div class="action-icon">
                            <span class="{{ ficon('fa-retweet') }} fa-3x"></span>
                        </div>
                        <h4 class="list-group-item-heading">
                            {{ _('Publish a reuse') }}
                        </h4>
                        <p class="list-group-item-text">
                        {{ _('Contribute and add a new reuse to this site catalog.') }}
                        </p>
                    </a>

                    <a class="list-group-item" href="{{ url_for('admin.index', path='organization/new/') }}">
                        <div class="action-icon">
                            <span class="{{ ficon('fa-building-o') }} fa-3x"></span>
                        </div>
                        <h4 class="list-group-item-heading">
                            {{ _('Create or find your organization') }}
                        </h4>
                        <p class="list-group-item-text">
                        {{ _("You can create a new organization or find yours.") }}
                        </p>
                    </a>


                </div>
            </div>

        </div>
    </div>
</div>
