<p>{{_ 'Your can add some details here for your membership request.' }}</p>
<form role="form">
    <div class="form-group">
        <label for="comment">{{_ 'Details' }}</label>
        <textarea id="comment" name="comment" class="form-control" rows="3"></textarea>
    </div>
</form>
