{% cache cache_duration, 'org-card', organization.id|string, g.lang_code %}
{% from theme('macros/organization_name_with_certificate.html') import organization_name_with_certificate %}
<article class="fr-tile fr-tile--left fr-enlarge-link">
    <div class="fr-tile__body">
        <div class="fr-grid-row fr-grid-row--middle fr-mb-3w">
            <div class="fr-tile__img fr-col-auto fr-m-0">
                <div class="logo">
                    <img src="{{ organization.logo(70)|placeholder('organization') }}" class="fr-responsive-img" alt="">
                </div>
            </div>
            <h4 class="fr-tile__title fr-col fr-ml-1w">
                <a class="fr-tile__link inline" href="{{ url_for('organizations.show', org=organization) }}">{{ organization_name_with_certificate(organization) }}</a>
            </h4>
        </div>
        <p class="fr-tile__desc fr-mb-3w">{{ organization.description|mdstrip(150) }}</p>
        <ul class="fr-tags-group fr-mt-auto">
            <li class="not-enlarged">
                <a
                        href="{{ url_for('datasets.list', organization=organization.id) }}"
                        class="fr-tag"
                    >
                    {{ ngettext('Dataset: <strong class="fr-ml-1v">%(num)d</strong>', 'Datasets: <strong class="fr-ml-1v">%(num)d</strong>', organization.metrics.datasets or 0) }}
                </a>
            </li>
            <li class="not-enlarged">
                <a
                        href="{{ url_for('organizations.show', org=organization, _anchor='organization-reuses') }}"
                        class="fr-tag"
                    >
                    {{ ngettext('Reuse: <strong class="fr-ml-1v">%(num)d</strong>', 'Reuses: <strong class="fr-ml-1v">%(num)d</strong>', organization.metrics.reuses or 0) }}
                </a>
            </li>
        </ul>
    </div>
</article>
{% endcache %}
