@import "~bootstrap/less/type";
@import "~bootstrap/less/utilities";

.community_container {
    background-color: #354651;
    padding-bottom: 20px;

    header {
        background-color: #28343d;
        margin-top: 0;
        min-height: 80px;

        h2 {
            font-family: @title-font;
            margin-bottom: -4px;
            font-size: 25px;

            @media(min-width: @screen-sm-min) {
                margin-top: 16px;
                font-size: 30px;
            }
        }

        small {
            margin-top: 5px;
        }
    }

    .page-header {
        color: white;
        border: 0px;
        margin: 0;

        @media(max-width: @screen-xs-max) {
            margin-bottom: 0;
        }
    }

    h3:not(.popover-title) {
        color: white;
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: @title-font;
        text-transform: uppercase;
        font-size: 13px;
    }

    .reuses-list, .resources-list, .discussion-threads {
        .add {
            @border-size: 2px;
            background: none;
            border: @border-size dashed #7d8489;

            h4 {
                color: #7d8489;
            }

            .card-cover, .card-logo {
                color: #7d8489;
                background-color: rgba(255,255,255,0.05) !important;
            }

            &:hover {
                background-color: rgba(255,255,255,0.04);
            }
        }
	}

    .note p {
        color: #dfdfdf;
        font-size: 13px;
        line-height: 1.4em;
        margin-top: -3px;
    }
}
