.site-search {
    .input-group .form-control,
    .input-group .form-control:last-child {
        color: @gray;
        border: none;
        border-radius: 0;
    }

    .dropdown-menu {
        color: white;
        background-color: fadeout(@bg-darker, 8%);

        .search-header {
            color: @gray-lighter;
        }

        a {
            color: white;
        }
    }

    .subnav-large & .form-group {
        margin-bottom: 0;
    }
}

.multisearch {
    .search-bar {
        border-bottom: 1px solid @gray-lighter;
    }

    section.breadcrumb-bar .left-bar {        // overrides common.css
        padding-left: @grid-gutter-width;
    }

    .breadcrumb-bar,    // this class should be dropped once .search-bar gets exposed
    .search-bar {
        .nav-tabs > li > a {                   // overrides common.css
            background-color: @gray-lighter;
            color: @navbar-default-color;

            &:hover,
            &:focus {
                background-color: darken(@gray-lighter, 10%);
                color: darken(@navbar-default-color, 10%);
            }
        }

        .nav-tabs > li.active > a {
            background-color: @bg-light;
        }
    }
}
