<nav class="navbar navbar-static-top navbar-banner">

    <div class="container banner">

        <p class="text-center text-white">
          La plateforme
          data.gouv.fr
          a besoin de vous !
          Prenez quelques minutes pour répondre 
          à notre enquête usagers.

          <a 
            role="button" 
            class="btn btn-light no-underline"
            href="https://framaforms.org/enquete-datagouvfr-usagers-1590438305"
            rel="noopener noreferrer"
          >
            Participez à l'enquête
          </a>

        </p>
      
    </div>
</nav>
