<div class="bg-blue-350">
    <div class="hagrid py-hg">
        <div class="row align-items-center text-align-center-sm">
            <div class="col-6 col-sm-12 text-white filet filet-currentcolor">
                <h2 class="h1 mb-md">{{ _('Participate') }}</h2>
                <ul class="nav-list">
                    <li><a href="{{ url_for('admin.index', path='organization/new/') }}"
                            class="nav-link text-white text-decoration-none">{{ _('Create or find your organization') }}</a>
                    </li>
                    <li><a href="https://doc.data.gouv.fr"
                            class="nav-link text-white text-decoration-none">{{ _('Go to documentation') }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-3 col-sm-12 py-sm-xs mt-sm-sm">
                <a href="{{ url_for('admin.index', path='dataset/new/') }}" role="button"
                    class="btn btn-secondary btn-secondary-white btn-with-arrow">{{ _('Publish a dataset') }}</a>
            </div>
            <div class="col-3 col-sm-12 py-sm-xs">
                <a href="{{ url_for('admin.index', path='reuse/new/') }}" role="button"
                    class="btn btn-secondary btn-secondary-white btn-with-arrow">{{ _('Publish a reuse') }}</a>
            </div>
        </div>
    </div>
</div>
