<div class="bg-blue-400">
    <div class="fr-container fr-py-7w">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle text-align-center-sm">
            <div class="fr-col-12 fr-col-sm-6 text-white filet filet-currentcolor">
                <h2 class="fr-h2 text-white fr-mb-2w">{{ _('Participate') }}</h2>
                <ul class="nav-list">
                    <li><a href="{{ config.GUIDES_ORGANIZATION_URL }}"
                            class="nav-link text-white text-decoration-none">{{ _('Create or find your organization') }}</a>
                    </li>
                    <li><a href="https://doc.data.gouv.fr"
                            class="nav-link text-white text-decoration-none">{{ _('Go to documentation') }}</a>
                    </li>
                </ul>
            </div>
            {% if not read_only_mode %}
            <div class="fr-col-12 fr-col-sm-6 fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
                <div class="fr-col-12 fr-col-lg-6">
                    <a
                        href="{{ config.GUIDES_DATASET_URL }}"
                        class="fr-btn fr-btn--secondary fr-btn--secondary-white fr-icon-arrow-right-s-line fr-btn--icon-right"
                    >
                        {{ _('Publish a dataset') }}
                    </a>
                </div>
                <div class="fr-col-12 fr-col-lg-6">
                    <a
                        href="{{ config.GUIDES_REUSE_URL }}"
                        class="fr-btn fr-btn--secondary fr-btn--secondary-white fr-icon-arrow-right-s-line fr-btn--icon-right"
                    >
                        {{ _('Publish a reuse') }}
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
