@import "variables.less";
@import "mixins.less";
@import "font-awesome.less";
@import "udata/variables.less";
@import "bootstrap-markdown.less";
@import "selectize.bootstrap3.less";
@import "../bower/bootstrap-daterangepicker/daterangepicker-bs3.css";
@import "../bower/bootstrap-datepicker/css/datepicker3.css";
@import "../bower/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css";
@import "../vendor/jquery.fineuploader/fineuploader.css";

@selectize-color-item: @label-primary-bg;
@selectize-color-item-text: @label-color;
@selectize-color-item-active-text: @label-link-hover-color;
@selectize-padding-item-x: 5px;
@selectize-padding-item-y: 2px;

.selectize-control {
    .selectize-input .card {
        margin: 0;
    }

    .selectize-dropdown .selectize-option {
        .logo {
            width: 25px;
            height: 25px;
            border: 1px solid @gray-lighter;
            margin-right: 5px;
            img {
                width: 100%;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

}


section.form {
    padding: 30px 0;
    position: relative;

    table.table {
        td.avatar {
            padding: 3px;
        }
    }
}

/**
 * Form adjustments
 */
form {
    label.required:after {
        color: red;
        content: '*';
    }

    span.red {
        color: red;
    }

    .form-help {
        .fa();
        .fa-fw();
        width: 1em;
        cursor: pointer;

        &:before { content: @fa-var-info-circle; }
    }
}


.publisher-card {
    border: 1px solid lighten(gray, 30%);
    padding: 4px;
    margin-right: 10px;
    cursor: pointer;
    height: 180px;
    width: 100%;
    text-align: center;

    &.active, &:hover, &:active, &:focus {
        color: white;
        background-color: @highlight;
    }

    img {
        background-color: white;
    }

    .caption {
        display: block;
        height: 65px;
        max-height: 65px;
        width: 100%;
        font-weight: bold;

        .wrapper {
            display: table;
            width: 100%;
            height: 100%;
            max-height: 100%;
            p {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        }

    }
}
