@import "variables.less";
@import "mixins.less";
@import "udata/variables.less";
@import "bootstrap-markdown.less";
@import "selectize.bootstrap3.less";
@import "../bower/bootstrap-daterangepicker/daterangepicker-bs3.css";
@import "../bower/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css";
@import "../vendor/jquery.fineuploader/fineuploader.css";

@selectize-color-item: @label-primary-bg;
@selectize-color-item-text: @label-color;
@selectize-color-item-active-text: @label-link-hover-color;
@selectize-padding-item-x: 5px;
@selectize-padding-item-y: 2px;

section.form {
    padding: 30px 0;
    position: relative;

    table.table {
        td.avatar {
            padding: 3px;
        }
    }
}
